<section class="assistance-blocks">
	<div class="wrap">
		<div class="assistance-blocks__help">
			<h2>Which svs subwoofer<br/>is right for me?</h2>
			<p>We know that sometimes sorting out which subwoofer is just right for you can get confusing. That's why we're always here to answer your questions. Just call and we'd be delighted to share our knowledge and advise with you!</p>
			<div class="assistance-blocks__help-info">
				<p><span class="assistance-blocks__bold">Call us:</span><a href="tel:+18776265623"> 1.877.626.5623</a></p>
				<p><span class="assistance-blocks__bold">Email us:</span><a href="mailto:custservice@svsound.com"> custservice@svsound.com</a></p>
				<p><a href="#" onclick="OpenLHNChat();return false;">Chat</a></p>
			</div>
		</div>
		<div class="assistance-blocks__merlin">
			<img src="https://cdn.shopify.com/s/files/1/0921/3560/t/1/assets/merlin-logo.png" class="lazyload">
			<h2>I have speakers, which<br/>subwoofer is the perfect match?</h2>
			<p>Tell us about your speakers and Merlin, our subwoofer selection tool, will evaluate your speaker's specifications and identify the best SVS subwoofer match. It's not magic — it's Merlin.</p>
			<a class="button-link" href="http://svsound-2.myshopify.com/pages/merlin">Learn More</a>
		</div>
	</div>
</section>