
<style>
  .site-runner-cta {
    color:#eb1717;
    font-size:24px;
    font-weight:800;
    display:block;
    margin-top:5px;
  }
  .site-runner-cta:after {
    font-family: FontAwesome;
    content: "\f101";
    margin-left: 10px;
    margin-right: 15px;
  }
  .firetexttext { 
    color:#fff;
    font-size:36px;
    font-weight:800}
  .fireimage {
    position:absolute;
    left:16px;
    top:-85px
  }
  @media (max-width:1323px) {
    .site-runner-cta {
      font-size:19px;
    }
    .firetexttext {
      font-size:31px;
    }
    .site-runner-text {
      font-size:19px;
    }

  }
  @media (max-width:1046px) {
    .firetexttext {
      font-size:26px;
    }
  }
   @media (max-width:945px) {
    .firetexttext {
      font-size:22px;
    }
     .site-runner-text {
       font-size:16px;
     }
     .site-runner-cta {
       font-size:16px;
     }
  }
  @media (max-width: 775px) {
    .fireimage {
      width:255px;
      top:-32px;
    }
    .site-runner-inner {
      padding-left:262px;
    }

  }
  @media (max-width: 685px) {
    .fireimage {
      display:none
    }
    .site-runner-inner {
      padding-left:30px;
      text-align:center;
    }
    .site-runner {
      height:112px;
    }

  }
    @media (max-width: 555px) {
.site-runner {
      height:141px;
    }
}  
     @media (max-width: 500px) {
       .site-runner {
      height:141px;
    }
       .firetexttext {
      font-size:16px;
    }
     .site-runner-text {
       font-size:14px;
     }
     .site-runner-cta {
       font-size:14px;
     }
       .site-runner-inner {
         padding-top:3%;
       }
     }
  
</style>
<a href="https://www.svsound.com/pages/4000-series" onclick="ga('send', 'event', 'Sitewide Banner', 'Click', '4000-series-header');" style="text-decoration:none">
<div class="site-runner cf">
  <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/4000-site-runner-seriesshot2.png?17683426618857629442" class="fireimage">

    
    <div class="site-runner-inner">
      <span class="firetexttext">NEW! SVS 4000 SERIES SUBWOOFERS</span>
      
      <span class="site-runner-text" style="text-transform:none"><span>Reference Quality Bass, Groundbreaking Value.</span> SVS MAKES HISTORY. AGAIN.</span>
      <span class="site-runner-cta">LEARN MORE NOW</span>
      
    </div>
    

</div> </a>