
<div class="site-runner cf">
  <center>
    <a href="/pages/16-ultra-series" onclick="ga('send', 'event', 'Sitewide Banner', 'Click', 'Ultra-16-footer');">
    <div class="site-runner-inner">
      <div class="speakerimg"><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/site-runner-sbpb16.png?4214735978821873718"></div>
      <span class="site-runner-text">INTRODUCING THE <span style="white-space:nowrap;">16-Ultra Series</span><span class="secondary">The Ultimate Reference Standard For Bass Has Arrived. <span style="white-space:nowrap;">SVS Makes History. Again.</span></span></span>
      <div class="elevationimg"><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/site-runner-sb16.png?4214735978821873718"></div>
    </div>
    </a>
  </center>
</div> 