<section class="audition-promo">
	<div class="wrap">
	  <img src="{{ 'audition-badge.jpg' | asset_url }}" alt="Experience SVS Audio 100% Risk-free" class="audition-promo__image">
	  <div class="audition-promo__copy">
	    <h2>Experience SVS Audio 100% Risk-free</h2>
	    <p>The best place to audition any speaker or subwoofer isn't a noisy store; it's your own home, in the exact listening room where you will enjoy them!</p>
	    <a href="/pages/bill-of-rights">View the Bill of Rights</a>
	  </div>
  </div>
</section>