<section class="collection-header">
  <img src="{{ page.metafields.global.systems_main_img | asset_url }}" alt="" class="collection-header__image">
  <div class="collection-header__copy">
    <h1>{{ page.metafields.global.systems_main_headline }} <span>{{ page.metafields.global.systems_sub_headline }}</span></h1>
    <p>{{ page.content }}</p>
  </div>
</section>