<section class="remodal-bg">
	<div data-remodal-id="popup__modal">
		<button data-remodal-action="close" class="remodal-close"></button>
		
		<div class="wrap">
			<h2><span>Get connected</span> with SVS</h2>
			<p>Sign up for our once a month newsletter and get product news, tips & system advice from our experts.</p>
			<div class="form">
				<form action="//svsound.us6.list-manage.com/subscribe/post?u=7633d39bda9cfdce45d505f6f&id=932c6e125c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
				    <div>
						<input type="email" value="" name="EMAIL" class="email" id="email" placeholder="Email Address *" required>
						<input type="hidden" name="SIGNUP" id="signup" value="popup">
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_7633d39bda9cfdce45d505f6f_932c6e125c" tabindex="-1" value=""></div>
					    <input type="submit" value="Sign up now" name="subscribe" id="mc-embedded-subscribe" class="button-link">
				    </div>
				</form>

				<div class="remodal__dont-show">
					<input type="checkbox" name="dont-show-popup" id="dont-show" checked> <label for="dont-show">Don't show this again</label>
				</div>
				
			</div>
		</div>
	</div>
</section>