<section class="newsticker">
  <div class="wrap newstickerwrap" style="padding-top:0px;padding-bottom:20px">
<div id="cbp-qtrotator" style="border-bottom:none" class="cbp-qtrotator" onClick="ga('send', 'event', 'Review Ticker', 'Click', 'Quote Click');">

  <div class="cbp-qtcontent current"> 
<blockquote>
<p>"The sound was absolutely extraordinary. No matter where we put them, or the kind of audio we pumped through them, they handled everything brilliantly." <span class="nodrop">- <span class="reviewer">The Master Switch</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Just might get you in trouble with the neighbors or at best make you some new friends." <span class="nodrop">- <span class="reviewer">TONE Audio</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"It does everything exceptionally well, never revealing a single weakness." <span class="nodrop">- <span class="reviewer">Home Theater Shack</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I am still blown away by how tight and responsive the bass is. With movies it transforms into a phenomenal monster." <span class="nodrop">- <span class="reviewer">Matthew G.</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"… a resounding two thumbs up and are easily one of the smartest audio investments I have ever made." <span class="nodrop">- <span class="reviewer">Mark O.</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"The texture and articulation felt great, yet when called upon to bomb the bass, it delivers prodigious output." <span class="nodrop">- <span class="reviewer">Audiophile Apartment</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"these are a perfect fit for my setup… they can shake the entire home in a way that I never thought imaginable." <span class="nodrop">- <span class="reviewer">G.B.</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Remarkable. Half the price and easier to set up than most high end subwoofers that have visited my listening room. I heartily recommend." <span class="nodrop">- <span class="reviewer">Stereophile</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I am rarely lost for words, but this sub has me speechless." <span class="nodrop">- <span class="reviewer">TI</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"…nothing compares to this sub. Now I need the second one." <span class="nodrop">- <span class="reviewer">Tomasz K.</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"It performs great, tests well, and does it all for a great price. Highly Recommended." <span class="nodrop">- <span class="reviewer">Reference Home Theater</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The single best home subwoofer available today." <span class="nodrop">- <span class="reviewer">The Master Switch</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Right out of the box my new SVS sub transformed the sound of my system." <span class="nodrop">- <span class="reviewer">Mark G.</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Impressive low frequency punch. A crazy thrill ride that vibrated my chair and walls." <span class="nodrop">- <span class="reviewer">AVTechReviews</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"I'm absolutely blown away by the amazing sounds coming out of this subwoofer." <span class="nodrop">- <span class="reviewer">Daniel I.</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Precision and musicality that is rarely found in subwoofers." <span class="nodrop">- <span class="reviewer">AVForums</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Two words... Freaking amazing!!!!" <span class="nodrop">- <span class="reviewer">Justin W.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Exemplary…bass with authority and slam that’s defined and informative…The best subwoofer for the money I’ve auditioned." <span class="nodrop">- <span class="reviewer">StereoNet</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"What really blows my mind is that something so powerful can be so accurate and blend so smoothly with the other speakers." <span class="nodrop">- <span class="reviewer">Tim</span></span></p>
</blockquote>
</div>
  
<div class="cbp-qtcontent"> 
<blockquote>
<p>"The SB16 Ultra exceeds what I thought was possible." <span class="nodrop">- <span class="reviewer">R. Pruitt</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The SB2000 can deliver prodigious output…the texture and articulation felt great…the quality of the bass produced is excellent… A very impressive performance." <span class="nodrop">- <span class="reviewer">TONEAudio</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"SVS deserves a grand thank you for designing and producing such a fine and innovative product. As they say – This one is a game changer!" <span class="nodrop">- <span class="reviewer">Patrick P.</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Presents a soundstage that didn’t exist before." <span class="nodrop">- <span class="reviewer">Reference Home Theater</span></span></p>
</blockquote>
</div>
  
<div class="cbp-qtcontent"> 
<blockquote>
<p>"Best Subwoofers under $1,000" <span class="nodrop">- <span class="reviewer">Sound &amp; Vision</span></span></p>
</blockquote>
</div>
 
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"You’ll be hard-pressed to find a better bass value." <span class="nodrop">- <span class="reviewer">Sound &amp; Vision</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"If there is a more perfect subwoofer in production today, we haven’t heard it." <span class="nodrop">- <span class="reviewer">Digital Trends</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"It's a whole different category of low-frequency sound." <span class="nodrop">- <span class="reviewer">Home Theater Review</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Effortless, raw physical power and nary a trace of distortion." <span class="nodrop">- <span class="reviewer">About.com</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Amazing, no brainer to recommend." <span class="nodrop">- <span class="reviewer">Soundstage</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Far and away the deepest and most detailed sub I've had the pleasure of listening to." <span class="nodrop">- <span class="reviewer">Big Picture Big Sound</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"A subwoofer that punches well above its weight, delivering deep bass and real impact." <span class="nodrop">- <span class="reviewer">AV Forums</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Astonished me with its depth and clarity…I’m not sure there’s a better value today in audio." <span class="nodrop">- <span class="reviewer">Good Sound</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Reproduced rippling, subterranean bass notes that go from audible to sensory. Best subwoofer I’ve heard." <span class="nodrop">- <span class="reviewer">PC World</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"It reached the deepest notes with ease, and was very crisp and clear the whole time. Did I mention it was smooth? It was oh so smooth." <span class="nodrop">- <span class="reviewer">Home Theater Shack</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Pitch perfect…on my list of recommended subwoofers." <span class="nodrop">- <span class="reviewer">Stereophile</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Audio purists will cry tears of joy at its lightning fast accuracy." <span class="nodrop">- <span class="reviewer">Best Stuff</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Demolishes all offerings at its price point." <span class="nodrop">- <span class="reviewer">Enjoy the Music</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"If not for these subs, half of the experience would be missed." <span class="nodrop">- <span class="reviewer">Home Theater Shack</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"It beats going to the movie theaters hands down! Amazing....simply amazing" <span class="nodrop">- <span class="reviewer">Francis V.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"This is everything I want in a home theater sub." <span class="nodrop">- <span class="reviewer">About.com</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"I could feel the remarkably deep bass notes in the score reverberate through my bones…it startled me." <span class="nodrop">- <span class="reviewer">High Def Digest</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"It will get your house shaking…thumps and stomps your chest and doesn’t break a sweat." <span class="nodrop">- <span class="reviewer">Reference Home Theater</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"It was so good I had to hear it again and again to make sure I wasn't fooling myself." <span class="nodrop">- <span class="reviewer">Home Theater Forum</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Big explosions were full-throated and well controlled…nuance, power and slam all in one package." <span class="nodrop">- <span class="reviewer">Home Theater Hifi</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"It will amaze you and electrify your movie and music experience… look no further than SVS." <span class="nodrop">- <span class="reviewer">Nicholas</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The ultimate in bass pleasure." <span class="nodrop">- <span class="reviewer">Digital Trends</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Bass response that I could literally feel in my sternum. It shook the house!" <span class="nodrop">- <span class="reviewer">Sound &amp; Vision</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"You can feel it in your chest. Movies explode, delight and frighten just a little more with a lower sub sonic signature." <span class="nodrop">- <span class="reviewer">Audiohead</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"It thumped, pounded, and beat its way into my nerdy heart." <span class="nodrop">- <span class="reviewer">Game Tyrant</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Exemplary. The best subwoofer for the money I’ve auditioned in the last decade." <span class="nodrop">- <span class="reviewer">Stereonet</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I now think of subwoofers a little differently." <span class="nodrop">- <span class="reviewer">J. S.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Delivers a strong feeling of fear, respect and also wonderful feeling of shock and awe." <span class="nodrop">- <span class="reviewer">Edward</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I was blown away with the solid low extensions and explosive impact!" <span class="nodrop">- <span class="reviewer">R. Clemons</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"So delicate when it needs to be, yet so immensely powerful when the time is right." <span class="nodrop">- <span class="reviewer">Zodiarkk</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Wow doesn't cut it. It is hands down the best sub I have ever heard." <span class="nodrop">- <span class="reviewer">Lens Portraits</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"No words can describe the magnitude of excellence this subwoofer emits." <span class="nodrop">- <span class="reviewer">Simon B.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"It has taken my home theater in to a new level." <span class="nodrop">- <span class="reviewer">Sleepyheads</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Loud as hell and accurate with lows that literally scare me!!" <span class="nodrop">- <span class="reviewer">Willie</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Great with both music and home theater, will knock your socks off!" <span class="nodrop">- <span class="reviewer">Goku</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I can't even explain how amazing and accurate the bass from this sub is." <span class="nodrop">- <span class="reviewer">Tara Quirin</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"NOTHING even comes close to the power, feel, and subtlety to fill in what you never knew was missing from, well everything!" <span class="nodrop">- <span class="reviewer">Robert</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"It will amaze you and electrify your movie and music experience… look no further than SVS." <span class="nodrop">- <span class="reviewer">Nicholas</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Could not be happier with the new sub. Far exceeded expectations! Rock On!" <span class="nodrop">- <span class="reviewer">Gman</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Handles the lowest frequencies with an ease that borders on eerie." <span class="nodrop">- <span class="reviewer">The Master Switch</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"The whole setup is excellent with the sub handling all of the lows as if it were a work of art." <span class="nodrop">- <span class="reviewer">P. L.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Every once and a while something comes along that totally blows your socks off. Best sub I ever had and heard. Great job SVS." <span class="nodrop">- <span class="reviewer">Ross A.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Subtle but punchy with music and then roars to life with movies… the best home theater purchase I've ever made!" <span class="nodrop">- <span class="reviewer">A. Flores</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Music is handled effortlessly, movies are just breathtaking! Could not be more satisfied!" <span class="nodrop">- <span class="reviewer">Jerry S.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Replaced an older sub that was 1.5x the size and puts it to shame. Thanks so much!" <span class="nodrop">- <span class="reviewer">Dewey</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"I just love the responsive, natural bass. SVS made me happy." <span class="nodrop">- <span class="reviewer">Evomm</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Far superior in every way. It makes my whole system sound better. SVS you are awesome!!!" <span class="nodrop">- <span class="reviewer">Jay</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"All I can say is WOW!! I really feel I bought the best subwoofer available." <span class="nodrop">- <span class="reviewer">Tom C.</span></span></p>
</blockquote>
</div>
  
    <div class="cbp-qtcontent"> 
<blockquote>
<p>"The sound was incredible. The air pulsed and the floor shook - but was not over the top. Again, it was super tight and clean bass." <span class="nodrop">- <span class="reviewer">Jeremy W.</span></span></p>
</blockquote>
</div>
 
  
  

</div>
  </div>
</section>


<script type="text/javascript">
$(document).ready(function() {
//Quotes rotator
var divs = $('.cbp-qtcontent');

function fade() {
var current = $('.current');
var currentIndex = divs.index(current),
nextIndex = currentIndex + 1;

if (nextIndex >= divs.length) {
nextIndex = 0;
}

var next = divs.eq(nextIndex);

next.stop().fadeIn(500, function() {
$(this).addClass('current');
});

current.stop().fadeOut(500, function() {
$(this).removeClass('current');
_startProgress()
setTimeout(fade, 2500);
});
}

function _startProgress(){
$(".cbp-qtprogress").removeAttr('style');
$(".cbp-qtprogress").animate({
width:"800px",
} , 1500);
}

_startProgress()
setTimeout(fade, 2500);
});
</script>