<section class="newsticker speaker-newsticker">
  <div class="wrap newstickerwrap">
<div id="cbp-qtrotator" class="cbp-qtrotator" onClick="ga('send', 'event', 'Review Ticker', 'Click', 'Quote Click');">
  
<div class="cbp-qtcontent current"> 
<blockquote>
<p>"This is one of the smartest and most practical speakers I’ve ever come across…The perfect height speaker for any Dolby Atmos, DTS:X, or Auro-3D installation...Stunning!" <span class="nodrop">- <span class="reviewer">PC World</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"I honestly did not think my system could sound better. I was wrong." <span class="nodrop">- <span class="reviewer">Anthony K.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Robustness, high dynamics and consistent tonal character from high to low listening levels. A formidable speaker." <span class="nodrop">- <span class="reviewer">6Moons</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"These are easily some of the best speakers I've ever owned at this price point." <span class="nodrop">- <span class="reviewer">Sujit B.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"The overall performance of these speakers at this price point is just crazy." <span class="nodrop">- <span class="reviewer">Poor Audiophile</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"One of the smartest and most practical speakers I’ve ever come across." <span class="nodrop">- <span class="reviewer">Tech Hive</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"More detailed and more ‘hi-fi’ than anything at this price." <span class="nodrop">- <span class="reviewer">CNET</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"You can spend more money, but for a compact system for a small room you will not get better." <span class="nodrop">- <span class="reviewer">Glenn H.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"The small speaker's ability to deliver to the whole width of the home theater is staggering versus expectations." <span class="nodrop">- <span class="reviewer">High Def Digest</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The old king is dead, long live the new king." <span class="nodrop">- <span class="reviewer">HomeTheaterReview</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"…they are nothing short of amazing." <span class="nodrop">- <span class="reviewer">John P</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Destined to become classics, that’s how good they are." <span class="nodrop">- <span class="reviewer">AVSForum</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Far and away the best performing, and looking system at this price point, and likely even twice the amount." <span class="nodrop">- <span class="reviewer">MissingRemote</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Highly recommended. A 10 out of 10 from me." <span class="nodrop">- <span class="reviewer">Widescreen Review</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Build quality and performance at this price is unmatched, even three times the price." <span class="nodrop">- <span class="reviewer">CanadaHifi</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Dynamics of a theater system, neutrality and ambience of an audiophile system…Certified and Recommended." <span class="nodrop">- <span class="reviewer">Sound&amp;Vision</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"SVS speakers offer a level of price/performance value that is rare, if non-existent." <span class="nodrop">- <span class="reviewer">WidescreenReview</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"This is the speaker system to beat this year and for years to come." <span class="nodrop">- <span class="reviewer">DigitalTrends</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"High value, zero risk. Defines its class." <span class="nodrop">- <span class="reviewer">HomeTheaterShack</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Impressive value, great looks, and easy set-up; the cost of entry to high end speakers is lower than ever." <span class="nodrop">- <span class="reviewer">HiFIZine</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"These speakers have a presence about them both visually and sonically that stops you in your tracks." <span class="nodrop">- <span class="reviewer">AVTechReviews</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Bass driver is wondrous…effortless, soaring, clean and pure highs were able to entertain as well as unnerve." <span class="nodrop">- <span class="reviewer">HomeCinemaChoice</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"A game changer…There was an added weight and realism to the entire presentation that was just not there before." <span class="nodrop">- <span class="reviewer">AVRev</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Disappeared and got out of the music's way better than any of the speakers I've tried in my system." <span class="nodrop">- <span class="reviewer">PositiveFeedback</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"The overall sound envelops you." <span class="nodrop">- <span class="reviewer">Bob R.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I can’t think of a better pair of $500 speakers. Highly recommended." <span class="nodrop">- <span class="reviewer">TONE Audio</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The sound is amazing and clear… Awesome speaker SVS!!" <span class="nodrop">- <span class="reviewer">Bryan W.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Full, articulate sound and sleek aesthetics with a powerful presence. You cannot go wrong here." <span class="nodrop">- <span class="reviewer">Grant S.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"If you close your eyes you get transported right into the middle of everything." <span class="nodrop">- <span class="reviewer">The Doctor</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"They excel in every measurable category…more accurate and dynamic than anything else I've heard." <span class="nodrop">- <span class="reviewer">Scott Phillips</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Soaring, clean and pure highs were able to entertain as well as unnerve." <span class="nodrop">- <span class="reviewer">Home Cinema Choice</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"They have rekindled my love for music and are worth every penny." <span class="nodrop">- <span class="reviewer">OCTrainer</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The Towers are smooth, rich, warm, dynamic, room-filling, deep and powerful, excellent vocally, non-fatiguing, and fun." <span class="nodrop">- <span class="reviewer">MichaelFleisher</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"They sound awesome no matter what kind of music you throw at them.  No better in this price range." <span class="nodrop">- <span class="reviewer">John S.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"In my opinion they are the most powerful speakers of their kind ever made." <span class="nodrop">- <span class="reviewer">Dipankar G.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Built like mini tanks.  The Highs and the sound-stage on these are amazing!" <span class="nodrop">- <span class="reviewer">John G.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I'm bummed that I didn't do this a long time ago. My excitement level with these loudspeakers is through the roof!" <span class="nodrop">- <span class="reviewer">Bob I.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"A balanced, full throttle live action experience without the booms, buzz and distortion of other speakers. Thank you, SVS." <span class="nodrop">- <span class="reviewer">Paul Murphy</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"OH MY!!!!... "Ball Out Of The Park!" SVS... Thank You." <span class="nodrop">- <span class="reviewer">Brad W.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"I am hearing a lot of things never heard before… You will not be disappointed." <span class="nodrop">- <span class="reviewer">Neil H.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"It takes music to an entire new level that I've never experienced before… Great job SVS!!" <span class="nodrop">- <span class="reviewer">Alex</span></span></p>
</blockquote>
</div>
 
 <div class="cbp-qtcontent"> 
<blockquote>
<p>"Offer the same sonic benefits as speaker cables I’ve heard that cost $20,000" <span class="nodrop">- <span class="reviewer">SoundAdvice</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"You feel like you are sitting in the front row at a live performance. Highly Recommended!" <span class="nodrop">- <span class="reviewer">MarkAngerman</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The REAL deal, if you want a High End sound in your home, you should get these speakers." <span class="nodrop">- <span class="reviewer">Stharling</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"The difference is amazing, they make everything sound 10 times better." <span class="nodrop">- <span class="reviewer">DonSpokane</span></span></p>
</blockquote>
</div>

</div>
  </div>
</section>


<script type="text/javascript">
$(document).ready(function() {
//Quotes rotator
var divs = $('.cbp-qtcontent');

function fade() {
var current = $('.current');
var currentIndex = divs.index(current),
nextIndex = currentIndex + 1;

if (nextIndex >= divs.length) {
nextIndex = 0;
}

var next = divs.eq(nextIndex);

next.stop().fadeIn(500, function() {
$(this).addClass('current');
});

current.stop().fadeOut(500, function() {
$(this).removeClass('current');
_startProgress()
setTimeout(fade, 2500);
});
}

function _startProgress(){
$(".cbp-qtprogress").removeAttr('style');
$(".cbp-qtprogress").animate({
width:"800px",
} , 1500);
}

_startProgress()
setTimeout(fade, 2500);
});
</script>