<section class="newsticker">
  <div class="wrap newstickerwrap">
<div id="cbp-qtrotator" class="cbp-qtrotator" onClick="ga('send', 'event', 'Review Ticker', 'Click', 'Quote Click');">
  
<div class="cbp-qtcontent current"> 
<blockquote>
<p>"The customer service has been wonderful!" <span class="nodrop">- <span class="reviewer">J.S.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I can tell this sub was built by people more concerned about sound quality than making money. Customer service was a joy to deal with." <span class="nodrop">- <span class="reviewer">ColinPaige</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"The #1 reason I chose SVS (and it's a big one) is their incredible customer service from beginning to end. I can't stress how important this is." <span class="nodrop">- <span class="reviewer">JedKnutson</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The technical support (questions about my specific setup) and the purchase experience are top-notch." <span class="nodrop">- <span class="reviewer">MichaelMinchew</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"I want to thank Ed Mullen for the great technical support and customer service helping me with PEQ tips that really make my experiences even better." <span class="nodrop">- <span class="reviewer">Stharling</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Not only did I get a great subwoofer, but a friend in the business, like when it was common to talk to someone who knew about quality sound." <span class="nodrop">- <span class="reviewer">A Massachusetts Fan</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"What amazed me even more than amazing sound quality, was the support I got. Jeff spent over 45 minutes walking me through the entire setup of my Marantz, way beyond the subwoofer needs." <span class="nodrop">- <span class="reviewer">David</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The customer service is downright amazing. They walked me through the entire process after I calibrated my set up with Audyssey." <span class="nodrop">- <span class="reviewer">TaraQuirin</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"The only thing better than my new subwoofer purchase was the customer service I received from SVS! A big thanks to Ken Kadis especially." <span class="nodrop">- <span class="reviewer">Hayden</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I placed my order over a holiday weekend and expected a delay. Everything was shipped the first business day and arrived the following day." <span class="nodrop">- <span class="reviewer">Google Trusted Store Review</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Awesome folks. Very responsive customer service. Arrived a day early. The new dual PB 2000 subs sound amazing. Nice upgrade from my Bic 250." <span class="nodrop">- <span class="reviewer">Google Trusted Store Review</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I've bought from them 3 times now and every experience has been great. The customer service seems to truly want to please their customers." <span class="nodrop">- <span class="reviewer">Google Trusted Store Review</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"I can say with confidence that it is companies like SVS that will continue to do well when times are tough. World class service and great products!" <span class="nodrop">- <span class="reviewer">Panadanaut</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The excellent customer service orientation of SVS is as important as their superlative product quality, and I congratulate them on both." <span class="nodrop">- <span class="reviewer">Nikonnex</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"This is my first high-end subwoofer and I'm very happy with my purchase. SVS really cares about their customers!" <span class="nodrop">- <span class="reviewer">Landy</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"SVS customer service was amazing, no issues and answered all of my questions and also helped me set up some adjustments once I received it." <span class="nodrop">- <span class="reviewer">Jose Jr.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Love the SVS customer service (whom I may or may not have emailed excessively while choosing which sub was right for me). Amazing product and service. Highly recommend." <span class="nodrop">- <span class="reviewer">Jeremy W.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"The guys at SVS are absolutely fantastic....customer service is the best around...period...Ed M. gave me advice to getting my system sounding the best that it could." <span class="nodrop">- <span class="reviewer">Mike</span></span></p>
</blockquote>
</div>
  
<div class="cbp-qtcontent"> 
<blockquote>
<p>"If you want to start a company then SVS should be the model. They are service orientated and customer driven." <span class="nodrop">- <span class="reviewer">Lance Sci-Fi Junky</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"My sincere thanks to Jack at SVS as he was very helpful with making my decision and most of all did not oversell me on products." <span class="nodrop">- <span class="reviewer">Dean Boyko</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"SVS is consistent, cutting edge, and value both high-performance and great customer relations. They are a truly rare company that will have my business forever." <span class="nodrop">- <span class="reviewer">Marc V.</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"I'm amazed at the polite Customer support. Gentle reminders via email with specific contact info to reach out to a person --without being obtrusive." <span class="nodrop">- <span class="reviewer">John</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"They were very helpful and very generous with me. They answered all my emails in a flash and were patient with all my questions. Thank you SVS the best Customer Service ever!" <span class="nodrop">- <span class="reviewer">JoseBalaguer</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Fantastic Customer Service. SVS you guys are the best in the business. I will be back soon." <span class="nodrop">- <span class="reviewer">Barry A.</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Awesome product and customer service before and after the sale was exemplary!" <span class="nodrop">- <span class="reviewer">CollegeBallDude</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Customer support was exceptional, I had an online chat and no matter what questions I asked they were answered in full to my satisfaction." <span class="nodrop">- <span class="reviewer">Domza</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Customer service at SVS is second to none. they were very helpful getting me dialed in." <span class="nodrop">- <span class="reviewer">BC</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"SVS is a terrific company and will gladly give them more money in the future. Customer service just doesn't get any better." <span class="nodrop">- <span class="reviewer">Scroty Nutsack</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"Best CS service, awesome product, honest straight forward advice. Quick delivery, product shipped with total care. Support was quick and very patient with every question." <span class="nodrop">- <span class="reviewer">Paul</span></span></p>
</blockquote>
</div>

<div class="cbp-qtcontent"> 
<blockquote>
<p>"Can't praise SVS products, people or service enough! Superb!" <span class="nodrop">- <span class="reviewer">Charles</span></span></p>
</blockquote>
</div>
  
  <div class="cbp-qtcontent"> 
<blockquote>
<p>"SVS encourages the buyer to contact staff and management and I found my email to the CEO answered the very next day. How is that for customer support!" <span class="nodrop">- <span class="reviewer">Projock</span></span></p>
</blockquote>
</div>

</div>
  </div>
</section>


<script type="text/javascript">
$(document).ready(function() {
//Quotes rotator
var divs = $('.cbp-qtcontent');

function fade() {
var current = $('.current');
var currentIndex = divs.index(current),
nextIndex = currentIndex + 1;

if (nextIndex >= divs.length) {
nextIndex = 0;
}

var next = divs.eq(nextIndex);

next.stop().fadeIn(500, function() {
$(this).addClass('current');
});

current.stop().fadeOut(500, function() {
$(this).removeClass('current');
_startProgress()
setTimeout(fade, 2500);
});
}

function _startProgress(){
$(".cbp-qtprogress").removeAttr('style');
$(".cbp-qtprogress").animate({
width:"800px",
} , 1500);
}

_startProgress()
setTimeout(fade, 2500);
});
</script>