<div class="wrap">
  <section class="form account-form">
      <h2><span>Reset</span> Password</h2>

      {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" placeholder="Password *">

      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" placeholder="Confirm Password">

      <input type="submit" value="{{ 'customer.reset_password.submit' | t }}" />
      {% endform %}
  </section>
</div>
