
/*
  SlidesJS 3.0.4 http://slidesjs.com
  (c) 2013 by Nathan Searles http://nathansearles.com
  Updated: June 26th, 2013
  Apache License: http://www.apache.org/licenses/LICENSE-2.0
*/
(function(){(function(e,t,n){var r,i,s;s="slidesjs";i={width:940,height:528,start:1,navigation:{active:!0,effect:"slide"},pagination:{active:!0,effect:"slide"},play:{active:!1,effect:"slide",interval:5e3,auto:!1,swap:!0,pauseOnHover:!1,restartDelay:2500},effect:{slide:{speed:500},fade:{speed:300,crossfade:!0}},callback:{loaded:function(){},start:function(){},complete:function(){}}};r=function(){function t(t,n){this.element=t;this.options=e.extend(!0,{},i,n);this._defaults=i;this._name=s;this.init()}return t}();r.prototype.init=function(){var n,r,i,s,o,u,a=this;n=e(this.element);this.data=e.data(this);e.data(this,"animating",!1);e.data(this,"total",n.children().not(".slidesjs-navigation",n).length);e.data(this,"current",this.options.start-1);e.data(this,"vendorPrefix",this._getVendorPrefix());if(typeof TouchEvent!="undefined"){e.data(this,"touch",!0);this.options.effect.slide.speed=this.options.effect.slide.speed/2}n.css({overflow:"hidden"});n.slidesContainer=n.children().not(".slidesjs-navigation",n).wrapAll("<div class='slidesjs-container'>",n).parent().css({overflow:"hidden",position:"relative"});e(".slidesjs-container",n).wrapInner("<div class='slidesjs-control'>",n).children();e(".slidesjs-control",n).css({position:"relative",left:0});e(".slidesjs-control",n).children().addClass("slidesjs-slide").css({position:"absolute",top:0,left:0,width:"100%",zIndex:0,display:"none",webkitBackfaceVisibility:"hidden"});e.each(e(".slidesjs-control",n).children(),function(t){var n;n=e(this);return n.attr("slidesjs-index",t)});if(this.data.touch){e(".slidesjs-control",n).on("touchstart",function(e){return a._touchstart(e)});e(".slidesjs-control",n).on("touchmove",function(e){return a._touchmove(e)});e(".slidesjs-control",n).on("touchend",function(e){return a._touchend(e)})}n.fadeIn(0);this.update();this.data.touch&&this._setuptouch();e(".slidesjs-control",n).children(":eq("+this.data.current+")").eq(0).fadeIn(0,function(){return e(this).css({zIndex:10})});if(this.options.navigation.active){o=e("<a>",{"class":"slidesjs-previous slidesjs-navigation",href:"#",title:"Previous",text:"Previous"}).appendTo(n);r=e("<a>",{"class":"slidesjs-next slidesjs-navigation",href:"#",title:"Next",text:"Next"}).appendTo(n)}e(".slidesjs-next",n).click(function(e){e.preventDefault();a.stop(!0);return a.next(a.options.navigation.effect)});e(".slidesjs-previous",n).click(function(e){e.preventDefault();a.stop(!0);return a.previous(a.options.navigation.effect)});if(this.options.play.active){s=e("<a>",{"class":"slidesjs-play slidesjs-navigation",href:"#",title:"Play",text:"Play"}).appendTo(n);u=e("<a>",{"class":"slidesjs-stop slidesjs-navigation",href:"#",title:"Stop",text:"Stop"}).appendTo(n);s.click(function(e){e.preventDefault();return a.play(!0)});u.click(function(e){e.preventDefault();return a.stop(!0)});this.options.play.swap&&u.css({display:"none"})}if(this.options.pagination.active){i=e("<ul>",{"class":"slidesjs-pagination"}).appendTo(n);e.each(new Array(this.data.total),function(t){var n,r;n=e("<li>",{"class":"slidesjs-pagination-item"}).appendTo(i);r=e("<a>",{href:"#","data-slidesjs-item":t,html:t+1}).appendTo(n);return r.click(function(t){t.preventDefault();a.stop(!0);return a.goto(e(t.currentTarget).attr("data-slidesjs-item")*1+1)})})}e(t).bind("resize",function(){return a.update()});this._setActive();this.options.play.auto&&this.play();return this.options.callback.loaded(this.options.start)};r.prototype._setActive=function(t){var n,r;n=e(this.element);this.data=e.data(this);r=t>-1?t:this.data.current;e(".active",n).removeClass("active");return e(".slidesjs-pagination li:eq("+r+") a",n).addClass("active")};r.prototype.update=function(){var t,n,r;t=e(this.element);this.data=e.data(this);e(".slidesjs-control",t).children(":not(:eq("+this.data.current+"))").css({display:"none",left:0,zIndex:0});r=t.width();n=this.options.height/this.options.width*r;this.options.width=r;this.options.height=n;return e(".slidesjs-control, .slidesjs-container",t).css({width:r,height:n})};r.prototype.next=function(t){var n;n=e(this.element);this.data=e.data(this);e.data(this,"direction","next");t===void 0&&(t=this.options.navigation.effect);return t==="fade"?this._fade():this._slide()};r.prototype.previous=function(t){var n;n=e(this.element);this.data=e.data(this);e.data(this,"direction","previous");t===void 0&&(t=this.options.navigation.effect);return t==="fade"?this._fade():this._slide()};r.prototype.goto=function(t){var n,r;n=e(this.element);this.data=e.data(this);r===void 0&&(r=this.options.pagination.effect);t>this.data.total?t=this.data.total:t<1&&(t=1);if(typeof t=="number")return r==="fade"?this._fade(t):this._slide(t);if(typeof t=="string"){if(t==="first")return r==="fade"?this._fade(0):this._slide(0);if(t==="last")return r==="fade"?this._fade(this.data.total):this._slide(this.data.total)}};r.prototype._setuptouch=function(){var t,n,r,i;t=e(this.element);this.data=e.data(this);i=e(".slidesjs-control",t);n=this.data.current+1;r=this.data.current-1;r<0&&(r=this.data.total-1);n>this.data.total-1&&(n=0);i.children(":eq("+n+")").css({display:"block",left:this.options.width});return i.children(":eq("+r+")").css({display:"block",left:-this.options.width})};r.prototype._touchstart=function(t){var n,r;n=e(this.element);this.data=e.data(this);r=t.originalEvent.touches[0];this._setuptouch();e.data(this,"touchtimer",Number(new Date));e.data(this,"touchstartx",r.pageX);e.data(this,"touchstarty",r.pageY);return t.stopPropagation()};r.prototype._touchend=function(t){var n,r,i,s,o,u,a,f=this;n=e(this.element);this.data=e.data(this);u=t.originalEvent.touches[0];s=e(".slidesjs-control",n);if(s.position().left>this.options.width*.5||s.position().left>this.options.width*.1&&Number(new Date)-this.data.touchtimer<250){e.data(this,"direction","previous");this._slide()}else if(s.position().left<-(this.options.width*.5)||s.position().left<-(this.options.width*.1)&&Number(new Date)-this.data.touchtimer<250){e.data(this,"direction","next");this._slide()}else{i=this.data.vendorPrefix;a=i+"Transform";r=i+"TransitionDuration";o=i+"TransitionTimingFunction";s[0].style[a]="translateX(0px)";s[0].style[r]=this.options.effect.slide.speed*.85+"ms"}s.on("transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd",function(){i=f.data.vendorPrefix;a=i+"Transform";r=i+"TransitionDuration";o=i+"TransitionTimingFunction";s[0].style[a]="";s[0].style[r]="";return s[0].style[o]=""});return t.stopPropagation()};r.prototype._touchmove=function(t){var n,r,i,s,o;n=e(this.element);this.data=e.data(this);s=t.originalEvent.touches[0];r=this.data.vendorPrefix;i=e(".slidesjs-control",n);o=r+"Transform";e.data(this,"scrolling",Math.abs(s.pageX-this.data.touchstartx)<Math.abs(s.pageY-this.data.touchstarty));if(!this.data.animating&&!this.data.scrolling){t.preventDefault();this._setuptouch();i[0].style[o]="translateX("+(s.pageX-this.data.touchstartx)+"px)"}return t.stopPropagation()};r.prototype.play=function(t){var n,r,i,s=this;n=e(this.element);this.data=e.data(this);if(!this.data.playInterval){if(t){r=this.data.current;this.data.direction="next";this.options.play.effect==="fade"?this._fade():this._slide()}e.data(this,"playInterval",setInterval(function(){r=s.data.current;s.data.direction="next";return s.options.play.effect==="fade"?s._fade():s._slide()},this.options.play.interval));i=e(".slidesjs-container",n);if(this.options.play.pauseOnHover){i.unbind();i.bind("mouseenter",function(){return s.stop()});i.bind("mouseleave",function(){return s.options.play.restartDelay?e.data(s,"restartDelay",setTimeout(function(){return s.play(!0)},s.options.play.restartDelay)):s.play()})}e.data(this,"playing",!0);e(".slidesjs-play",n).addClass("slidesjs-playing");if(this.options.play.swap){e(".slidesjs-play",n).hide();return e(".slidesjs-stop",n).show()}}};r.prototype.stop=function(t){var n;n=e(this.element);this.data=e.data(this);clearInterval(this.data.playInterval);this.options.play.pauseOnHover&&t&&e(".slidesjs-container",n).unbind();e.data(this,"playInterval",null);e.data(this,"playing",!1);e(".slidesjs-play",n).removeClass("slidesjs-playing");if(this.options.play.swap){e(".slidesjs-stop",n).hide();return e(".slidesjs-play",n).show()}};r.prototype._slide=function(t){var n,r,i,s,o,u,a,f,l,c,h=this;n=e(this.element);this.data=e.data(this);if(!this.data.animating&&t!==this.data.current+1){e.data(this,"animating",!0);r=this.data.current;if(t>-1){t-=1;c=t>r?1:-1;i=t>r?-this.options.width:this.options.width;o=t}else{c=this.data.direction==="next"?1:-1;i=this.data.direction==="next"?-this.options.width:this.options.width;o=r+c}o===-1&&(o=this.data.total-1);o===this.data.total&&(o=0);this._setActive(o);a=e(".slidesjs-control",n);t>-1&&a.children(":not(:eq("+r+"))").css({display:"none",left:0,zIndex:0});a.children(":eq("+o+")").css({display:"block",left:c*this.options.width,zIndex:10});this.options.callback.start(r+1);if(this.data.vendorPrefix){u=this.data.vendorPrefix;l=u+"Transform";s=u+"TransitionDuration";f=u+"TransitionTimingFunction";a[0].style[l]="translateX("+i+"px)";a[0].style[s]=this.options.effect.slide.speed+"ms";return a.on("transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd",function(){a[0].style[l]="";a[0].style[s]="";a.children(":eq("+o+")").css({left:0});a.children(":eq("+r+")").css({display:"none",left:0,zIndex:0});e.data(h,"current",o);e.data(h,"animating",!1);a.unbind("transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd");a.children(":not(:eq("+o+"))").css({display:"none",left:0,zIndex:0});h.data.touch&&h._setuptouch();return h.options.callback.complete(o+1)})}return a.stop().animate({left:i},this.options.effect.slide.speed,function(){a.css({left:0});a.children(":eq("+o+")").css({left:0});return a.children(":eq("+r+")").css({display:"none",left:0,zIndex:0},e.data(h,"current",o),e.data(h,"animating",!1),h.options.callback.complete(o+1))})}};r.prototype._fade=function(t){var n,r,i,s,o,u=this;n=e(this.element);this.data=e.data(this);if(!this.data.animating&&t!==this.data.current+1){e.data(this,"animating",!0);r=this.data.current;if(t){t-=1;o=t>r?1:-1;i=t}else{o=this.data.direction==="next"?1:-1;i=r+o}i===-1&&(i=this.data.total-1);i===this.data.total&&(i=0);this._setActive(i);s=e(".slidesjs-control",n);s.children(":eq("+i+")").css({display:"none",left:0,zIndex:10});this.options.callback.start(r+1);if(this.options.effect.fade.crossfade){s.children(":eq("+this.data.current+")").stop().fadeOut(this.options.effect.fade.speed);return s.children(":eq("+i+")").stop().fadeIn(this.options.effect.fade.speed,function(){s.children(":eq("+i+")").css({zIndex:0});e.data(u,"animating",!1);e.data(u,"current",i);return u.options.callback.complete(i+1)})}return s.children(":eq("+r+")").stop().fadeOut(this.options.effect.fade.speed,function(){s.children(":eq("+i+")").stop().fadeIn(u.options.effect.fade.speed,function(){return s.children(":eq("+i+")").css({zIndex:10})});e.data(u,"animating",!1);e.data(u,"current",i);return u.options.callback.complete(i+1)})}};r.prototype._getVendorPrefix=function(){var e,t,r,i,s;e=n.body||n.documentElement;r=e.style;i="transition";s=["Moz","Webkit","Khtml","O","ms"];i=i.charAt(0).toUpperCase()+i.substr(1);t=0;while(t<s.length){if(typeof r[s[t]+i]=="string")return s[t];t++}return!1};return e.fn[s]=function(t){return this.each(function(){if(!e.data(this,"plugin_"+s))return e.data(this,"plugin_"+s,new r(this,t))})}})(jQuery,window,document)}).call(this);

(function(a){if(typeof define==="function"&&define.amd&&define.amd.jQuery){define(["jquery"],a)}else{a(jQuery)}}(function(f){var p="left",o="right",e="up",x="down",c="in",z="out",m="none",s="auto",l="swipe",t="pinch",A="tap",j="doubletap",b="longtap",y="hold",D="horizontal",u="vertical",i="all",r=10,g="start",k="move",h="end",q="cancel",a="ontouchstart" in window,v=window.navigator.msPointerEnabled&&!window.navigator.pointerEnabled,d=window.navigator.pointerEnabled||window.navigator.msPointerEnabled,B="TouchSwipe";var n={fingers:1,threshold:75,cancelThreshold:null,pinchThreshold:20,maxTimeThreshold:null,fingerReleaseThreshold:250,longTapThreshold:500,doubleTapThreshold:200,swipe:null,swipeLeft:null,swipeRight:null,swipeUp:null,swipeDown:null,swipeStatus:null,pinchIn:null,pinchOut:null,pinchStatus:null,click:null,tap:null,doubleTap:null,longTap:null,hold:null,triggerOnTouchEnd:true,triggerOnTouchLeave:false,allowPageScroll:"auto",fallbackToMouseEvents:true,excludedElements:"label, button, input, select, textarea, a, .noSwipe",preventDefaultEvents:true};f.fn.swipe=function(G){var F=f(this),E=F.data(B);if(E&&typeof G==="string"){if(E[G]){return E[G].apply(this,Array.prototype.slice.call(arguments,1))}else{f.error("Method "+G+" does not exist on jQuery.swipe")}}else{if(!E&&(typeof G==="object"||!G)){return w.apply(this,arguments)}}return F};f.fn.swipe.defaults=n;f.fn.swipe.phases={PHASE_START:g,PHASE_MOVE:k,PHASE_END:h,PHASE_CANCEL:q};f.fn.swipe.directions={LEFT:p,RIGHT:o,UP:e,DOWN:x,IN:c,OUT:z};f.fn.swipe.pageScroll={NONE:m,HORIZONTAL:D,VERTICAL:u,AUTO:s};f.fn.swipe.fingers={ONE:1,TWO:2,THREE:3,ALL:i};function w(E){if(E&&(E.allowPageScroll===undefined&&(E.swipe!==undefined||E.swipeStatus!==undefined))){E.allowPageScroll=m}if(E.click!==undefined&&E.tap===undefined){E.tap=E.click}if(!E){E={}}E=f.extend({},f.fn.swipe.defaults,E);return this.each(function(){var G=f(this);var F=G.data(B);if(!F){F=new C(this,E);G.data(B,F)}})}function C(a4,av){var az=(a||d||!av.fallbackToMouseEvents),J=az?(d?(v?"MSPointerDown":"pointerdown"):"touchstart"):"mousedown",ay=az?(d?(v?"MSPointerMove":"pointermove"):"touchmove"):"mousemove",U=az?(d?(v?"MSPointerUp":"pointerup"):"touchend"):"mouseup",S=az?null:"mouseleave",aD=(d?(v?"MSPointerCancel":"pointercancel"):"touchcancel");var ag=0,aP=null,ab=0,a1=0,aZ=0,G=1,aq=0,aJ=0,M=null;var aR=f(a4);var Z="start";var W=0;var aQ=null;var T=0,a2=0,a5=0,ad=0,N=0;var aW=null,af=null;try{aR.bind(J,aN);aR.bind(aD,a9)}catch(ak){f.error("events not supported "+J+","+aD+" on jQuery.swipe")}this.enable=function(){aR.bind(J,aN);aR.bind(aD,a9);return aR};this.disable=function(){aK();return aR};this.destroy=function(){aK();aR.data(B,null);aR=null};this.option=function(bc,bb){if(av[bc]!==undefined){if(bb===undefined){return av[bc]}else{av[bc]=bb}}else{f.error("Option "+bc+" does not exist on jQuery.swipe.options")}return null};function aN(bd){if(aB()){return}if(f(bd.target).closest(av.excludedElements,aR).length>0){return}var be=bd.originalEvent?bd.originalEvent:bd;var bc,bb=a?be.touches[0]:be;Z=g;if(a){W=be.touches.length}else{bd.preventDefault()}ag=0;aP=null;aJ=null;ab=0;a1=0;aZ=0;G=1;aq=0;aQ=aj();M=aa();R();if(!a||(W===av.fingers||av.fingers===i)||aX()){ai(0,bb);T=at();if(W==2){ai(1,be.touches[1]);a1=aZ=au(aQ[0].start,aQ[1].start)}if(av.swipeStatus||av.pinchStatus){bc=O(be,Z)}}else{bc=false}if(bc===false){Z=q;O(be,Z);return bc}else{if(av.hold){af=setTimeout(f.proxy(function(){aR.trigger("hold",[be.target]);if(av.hold){bc=av.hold.call(aR,be,be.target)}},this),av.longTapThreshold)}ao(true)}return null}function a3(be){var bh=be.originalEvent?be.originalEvent:be;if(Z===h||Z===q||am()){return}var bd,bc=a?bh.touches[0]:bh;var bf=aH(bc);a2=at();if(a){W=bh.touches.length}if(av.hold){clearTimeout(af)}Z=k;if(W==2){if(a1==0){ai(1,bh.touches[1]);a1=aZ=au(aQ[0].start,aQ[1].start)}else{aH(bh.touches[1]);aZ=au(aQ[0].end,aQ[1].end);aJ=ar(aQ[0].end,aQ[1].end)}G=a7(a1,aZ);aq=Math.abs(a1-aZ)}if((W===av.fingers||av.fingers===i)||!a||aX()){aP=aL(bf.start,bf.end);al(be,aP);ag=aS(bf.start,bf.end);ab=aM();aI(aP,ag);if(av.swipeStatus||av.pinchStatus){bd=O(bh,Z)}if(!av.triggerOnTouchEnd||av.triggerOnTouchLeave){var bb=true;if(av.triggerOnTouchLeave){var bg=aY(this);bb=E(bf.end,bg)}if(!av.triggerOnTouchEnd&&bb){Z=aC(k)}else{if(av.triggerOnTouchLeave&&!bb){Z=aC(h)}}if(Z==q||Z==h){O(bh,Z)}}}else{Z=q;O(bh,Z)}if(bd===false){Z=q;O(bh,Z)}}function L(bb){var bc=bb.originalEvent;if(a){if(bc.touches.length>0){F();return true}}if(am()){W=ad}a2=at();ab=aM();if(ba()||!an()){Z=q;O(bc,Z)}else{if(av.triggerOnTouchEnd||(av.triggerOnTouchEnd==false&&Z===k)){bb.preventDefault();Z=h;O(bc,Z)}else{if(!av.triggerOnTouchEnd&&a6()){Z=h;aF(bc,Z,A)}else{if(Z===k){Z=q;O(bc,Z)}}}}ao(false);return null}function a9(){W=0;a2=0;T=0;a1=0;aZ=0;G=1;R();ao(false)}function K(bb){var bc=bb.originalEvent;if(av.triggerOnTouchLeave){Z=aC(h);O(bc,Z)}}function aK(){aR.unbind(J,aN);aR.unbind(aD,a9);aR.unbind(ay,a3);aR.unbind(U,L);if(S){aR.unbind(S,K)}ao(false)}function aC(bf){var be=bf;var bd=aA();var bc=an();var bb=ba();if(!bd||bb){be=q}else{if(bc&&bf==k&&(!av.triggerOnTouchEnd||av.triggerOnTouchLeave)){be=h}else{if(!bc&&bf==h&&av.triggerOnTouchLeave){be=q}}}return be}function O(bd,bb){var bc=undefined;if((I()||V())||(P()||aX())){if(I()||V()){bc=aF(bd,bb,l)}if((P()||aX())&&bc!==false){bc=aF(bd,bb,t)}}else{if(aG()&&bc!==false){bc=aF(bd,bb,j)}else{if(ap()&&bc!==false){bc=aF(bd,bb,b)}else{if(ah()&&bc!==false){bc=aF(bd,bb,A)}}}}if(bb===q){a9(bd)}if(bb===h){if(a){if(bd.touches.length==0){a9(bd)}}else{a9(bd)}}return bc}function aF(be,bb,bd){var bc=undefined;if(bd==l){aR.trigger("swipeStatus",[bb,aP||null,ag||0,ab||0,W,aQ]);if(av.swipeStatus){bc=av.swipeStatus.call(aR,be,bb,aP||null,ag||0,ab||0,W,aQ);if(bc===false){return false}}if(bb==h&&aV()){aR.trigger("swipe",[aP,ag,ab,W,aQ]);if(av.swipe){bc=av.swipe.call(aR,be,aP,ag,ab,W,aQ);if(bc===false){return false}}switch(aP){case p:aR.trigger("swipeLeft",[aP,ag,ab,W,aQ]);if(av.swipeLeft){bc=av.swipeLeft.call(aR,be,aP,ag,ab,W,aQ)}break;case o:aR.trigger("swipeRight",[aP,ag,ab,W,aQ]);if(av.swipeRight){bc=av.swipeRight.call(aR,be,aP,ag,ab,W,aQ)}break;case e:aR.trigger("swipeUp",[aP,ag,ab,W,aQ]);if(av.swipeUp){bc=av.swipeUp.call(aR,be,aP,ag,ab,W,aQ)}break;case x:aR.trigger("swipeDown",[aP,ag,ab,W,aQ]);if(av.swipeDown){bc=av.swipeDown.call(aR,be,aP,ag,ab,W,aQ)}break}}}if(bd==t){aR.trigger("pinchStatus",[bb,aJ||null,aq||0,ab||0,W,G,aQ]);if(av.pinchStatus){bc=av.pinchStatus.call(aR,be,bb,aJ||null,aq||0,ab||0,W,G,aQ);if(bc===false){return false}}if(bb==h&&a8()){switch(aJ){case c:aR.trigger("pinchIn",[aJ||null,aq||0,ab||0,W,G,aQ]);if(av.pinchIn){bc=av.pinchIn.call(aR,be,aJ||null,aq||0,ab||0,W,G,aQ)}break;case z:aR.trigger("pinchOut",[aJ||null,aq||0,ab||0,W,G,aQ]);if(av.pinchOut){bc=av.pinchOut.call(aR,be,aJ||null,aq||0,ab||0,W,G,aQ)}break}}}if(bd==A){if(bb===q||bb===h){clearTimeout(aW);clearTimeout(af);if(Y()&&!H()){N=at();aW=setTimeout(f.proxy(function(){N=null;aR.trigger("tap",[be.target]);if(av.tap){bc=av.tap.call(aR,be,be.target)}},this),av.doubleTapThreshold)}else{N=null;aR.trigger("tap",[be.target]);if(av.tap){bc=av.tap.call(aR,be,be.target)}}}}else{if(bd==j){if(bb===q||bb===h){clearTimeout(aW);N=null;aR.trigger("doubletap",[be.target]);if(av.doubleTap){bc=av.doubleTap.call(aR,be,be.target)}}}else{if(bd==b){if(bb===q||bb===h){clearTimeout(aW);N=null;aR.trigger("longtap",[be.target]);if(av.longTap){bc=av.longTap.call(aR,be,be.target)}}}}}return bc}function an(){var bb=true;if(av.threshold!==null){bb=ag>=av.threshold}return bb}function ba(){var bb=false;if(av.cancelThreshold!==null&&aP!==null){bb=(aT(aP)-ag)>=av.cancelThreshold}return bb}function ae(){if(av.pinchThreshold!==null){return aq>=av.pinchThreshold}return true}function aA(){var bb;if(av.maxTimeThreshold){if(ab>=av.maxTimeThreshold){bb=false}else{bb=true}}else{bb=true}return bb}function al(bb,bc){if(av.preventDefaultEvents===false){return}if(av.allowPageScroll===m){bb.preventDefault()}else{var bd=av.allowPageScroll===s;switch(bc){case p:if((av.swipeLeft&&bd)||(!bd&&av.allowPageScroll!=D)){bb.preventDefault()}break;case o:if((av.swipeRight&&bd)||(!bd&&av.allowPageScroll!=D)){bb.preventDefault()}break;case e:if((av.swipeUp&&bd)||(!bd&&av.allowPageScroll!=u)){bb.preventDefault()}break;case x:if((av.swipeDown&&bd)||(!bd&&av.allowPageScroll!=u)){bb.preventDefault()}break}}}function a8(){var bc=aO();var bb=X();var bd=ae();return bc&&bb&&bd}function aX(){return !!(av.pinchStatus||av.pinchIn||av.pinchOut)}function P(){return !!(a8()&&aX())}function aV(){var be=aA();var bg=an();var bd=aO();var bb=X();var bc=ba();var bf=!bc&&bb&&bd&&bg&&be;return bf}function V(){return !!(av.swipe||av.swipeStatus||av.swipeLeft||av.swipeRight||av.swipeUp||av.swipeDown)}function I(){return !!(aV()&&V())}function aO(){return((W===av.fingers||av.fingers===i)||!a)}function X(){return aQ[0].end.x!==0}function a6(){return !!(av.tap)}function Y(){return !!(av.doubleTap)}function aU(){return !!(av.longTap)}function Q(){if(N==null){return false}var bb=at();return(Y()&&((bb-N)<=av.doubleTapThreshold))}function H(){return Q()}function ax(){return((W===1||!a)&&(isNaN(ag)||ag<av.threshold))}function a0(){return((ab>av.longTapThreshold)&&(ag<r))}function ah(){return !!(ax()&&a6())}function aG(){return !!(Q()&&Y())}function ap(){return !!(a0()&&aU())}function F(){a5=at();ad=event.touches.length+1}function R(){a5=0;ad=0}function am(){var bb=false;if(a5){var bc=at()-a5;if(bc<=av.fingerReleaseThreshold){bb=true}}return bb}function aB(){return !!(aR.data(B+"_intouch")===true)}function ao(bb){if(bb===true){aR.bind(ay,a3);aR.bind(U,L);if(S){aR.bind(S,K)}}else{aR.unbind(ay,a3,false);aR.unbind(U,L,false);if(S){aR.unbind(S,K,false)}}aR.data(B+"_intouch",bb===true)}function ai(bc,bb){var bd=bb.identifier!==undefined?bb.identifier:0;aQ[bc].identifier=bd;aQ[bc].start.x=aQ[bc].end.x=bb.pageX||bb.clientX;aQ[bc].start.y=aQ[bc].end.y=bb.pageY||bb.clientY;return aQ[bc]}function aH(bb){var bd=bb.identifier!==undefined?bb.identifier:0;var bc=ac(bd);bc.end.x=bb.pageX||bb.clientX;bc.end.y=bb.pageY||bb.clientY;return bc}function ac(bc){for(var bb=0;bb<aQ.length;bb++){if(aQ[bb].identifier==bc){return aQ[bb]}}}function aj(){var bb=[];for(var bc=0;bc<=5;bc++){bb.push({start:{x:0,y:0},end:{x:0,y:0},identifier:0})}return bb}function aI(bb,bc){bc=Math.max(bc,aT(bb));M[bb].distance=bc}function aT(bb){if(M[bb]){return M[bb].distance}return undefined}function aa(){var bb={};bb[p]=aw(p);bb[o]=aw(o);bb[e]=aw(e);bb[x]=aw(x);return bb}function aw(bb){return{direction:bb,distance:0}}function aM(){return a2-T}function au(be,bd){var bc=Math.abs(be.x-bd.x);var bb=Math.abs(be.y-bd.y);return Math.round(Math.sqrt(bc*bc+bb*bb))}function a7(bb,bc){var bd=(bc/bb)*1;return bd.toFixed(2)}function ar(){if(G<1){return z}else{return c}}function aS(bc,bb){return Math.round(Math.sqrt(Math.pow(bb.x-bc.x,2)+Math.pow(bb.y-bc.y,2)))}function aE(be,bc){var bb=be.x-bc.x;var bg=bc.y-be.y;var bd=Math.atan2(bg,bb);var bf=Math.round(bd*180/Math.PI);if(bf<0){bf=360-Math.abs(bf)}return bf}function aL(bc,bb){var bd=aE(bc,bb);if((bd<=45)&&(bd>=0)){return p}else{if((bd<=360)&&(bd>=315)){return p}else{if((bd>=135)&&(bd<=225)){return o}else{if((bd>45)&&(bd<135)){return x}else{return e}}}}}function at(){var bb=new Date();return bb.getTime()}function aY(bb){bb=f(bb);var bd=bb.offset();var bc={left:bd.left,right:bd.left+bb.outerWidth(),top:bd.top,bottom:bd.top+bb.outerHeight()};return bc}function E(bb,bc){return(bb.x>bc.left&&bb.x<bc.right&&bb.y>bc.top&&bb.y<bc.bottom)}}}));

/*
 *  Remodal - v1.0.2
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

!function(a,b){"function"==typeof define&&define.amd?define(["jquery"],function(c){return b(a,c)}):"object"==typeof exports?b(a,require("jquery")):b(a,a.jQuery||a.Zepto)}(this,function(a,b){"use strict";function c(a){if(w&&"none"===a.css("animation-name")&&"none"===a.css("-webkit-animation-name")&&"none"===a.css("-moz-animation-name")&&"none"===a.css("-o-animation-name")&&"none"===a.css("-ms-animation-name"))return 0;var b,c,d,e,f=a.css("animation-duration")||a.css("-webkit-animation-duration")||a.css("-moz-animation-duration")||a.css("-o-animation-duration")||a.css("-ms-animation-duration")||"0s",g=a.css("animation-delay")||a.css("-webkit-animation-delay")||a.css("-moz-animation-delay")||a.css("-o-animation-delay")||a.css("-ms-animation-delay")||"0s",h=a.css("animation-iteration-count")||a.css("-webkit-animation-iteration-count")||a.css("-moz-animation-iteration-count")||a.css("-o-animation-iteration-count")||a.css("-ms-animation-iteration-count")||"1";for(f=f.split(", "),g=g.split(", "),h=h.split(", "),e=0,c=f.length,b=Number.NEGATIVE_INFINITY;c>e;e++)d=parseFloat(f[e])*parseInt(h[e],10)+parseFloat(g[e]),d>b&&(b=d);return d}function d(){if(b(document.body).height()<=b(window).height())return 0;var a,c,d=document.createElement("div"),e=document.createElement("div");return d.style.visibility="hidden",d.style.width="100px",document.body.appendChild(d),a=d.offsetWidth,d.style.overflow="scroll",e.style.width="100%",d.appendChild(e),c=e.offsetWidth,d.parentNode.removeChild(d),a-c}function e(){var a,c,e=b("html"),f=k("is-locked");e.hasClass(f)||(c=b(document.body),a=parseInt(c.css("padding-right"),10)+d(),c.css("padding-right",a+"px"),e.addClass(f))}function f(){var a,c,e=b("html"),f=k("is-locked");e.hasClass(f)&&(c=b(document.body),a=parseInt(c.css("padding-right"),10)-d(),c.css("padding-right",a+"px"),e.removeClass(f))}function g(a,b,c,d){var e=k("is",b),f=[k("is",u.CLOSING),k("is",u.OPENING),k("is",u.CLOSED),k("is",u.OPENED)].join(" ");a.$bg.removeClass(f).addClass(e),a.$overlay.removeClass(f).addClass(e),a.$wrapper.removeClass(f).addClass(e),a.$modal.removeClass(f).addClass(e),a.state=b,!c&&a.$modal.trigger({type:b,reason:d},[{reason:d}])}function h(a,d,e){var f=0,g=function(a){a.target===this&&f++},h=function(a){a.target===this&&0===--f&&(b.each(["$bg","$overlay","$wrapper","$modal"],function(a,b){e[b].off(r+" "+s)}),d())};b.each(["$bg","$overlay","$wrapper","$modal"],function(a,b){e[b].on(r,g).on(s,h)}),a(),0===c(e.$bg)&&0===c(e.$overlay)&&0===c(e.$wrapper)&&0===c(e.$modal)&&(b.each(["$bg","$overlay","$wrapper","$modal"],function(a,b){e[b].off(r+" "+s)}),d())}function i(a){a.state!==u.CLOSED&&(b.each(["$bg","$overlay","$wrapper","$modal"],function(b,c){a[c].off(r+" "+s)}),a.$bg.removeClass(a.settings.modifier),a.$overlay.removeClass(a.settings.modifier).hide(),a.$wrapper.hide(),f(),g(a,u.CLOSED,!0))}function j(a){var b,c,d,e,f={};for(a=a.replace(/\s*:\s*/g,":").replace(/\s*,\s*/g,","),b=a.split(","),e=0,c=b.length;c>e;e++)b[e]=b[e].split(":"),d=b[e][1],("string"==typeof d||d instanceof String)&&(d="true"===d||("false"===d?!1:d)),("string"==typeof d||d instanceof String)&&(d=isNaN(d)?d:+d),f[b[e][0]]=d;return f}function k(){for(var a=q,b=0;b<arguments.length;++b)a+="-"+arguments[b];return a}function l(){var a,c,d=location.hash.replace("#","");if(d){try{c=b("[data-"+p+"-id="+d.replace(new RegExp("/","g"),"\\/")+"]")}catch(e){}c&&c.length&&(a=b[p].lookup[c.data(p)],a&&a.settings.hashTracking&&a.open())}else n&&n.state===u.OPENED&&n.settings.hashTracking&&n.close()}function m(a,c){var d=b(document.body),e=this;e.settings=b.extend({},t,c),e.index=b[p].lookup.push(e)-1,e.state=u.CLOSED,e.$overlay=b("."+k("overlay")),e.$overlay.length||(e.$overlay=b("<div>").addClass(k("overlay")+" "+k("is",u.CLOSED)).hide(),d.append(e.$overlay)),e.$bg=b("."+k("bg")).addClass(k("is",u.CLOSED)),e.$modal=a,e.$modal.addClass(q+" "+k("is-initialized")+" "+e.settings.modifier+" "+k("is",u.CLOSED)),e.$wrapper=b("<div>").addClass(k("wrapper")+" "+e.settings.modifier+" "+k("is",u.CLOSED)).hide().append(e.$modal),d.append(e.$wrapper),e.$wrapper.on("click."+q,"[data-"+p+'-action="close"]',function(a){a.preventDefault(),e.close()}),e.$wrapper.on("click."+q,"[data-"+p+'-action="cancel"]',function(a){a.preventDefault(),e.$modal.trigger(v.CANCELLATION),e.settings.closeOnCancel&&e.close(v.CANCELLATION)}),e.$wrapper.on("click."+q,"[data-"+p+'-action="confirm"]',function(a){a.preventDefault(),e.$modal.trigger(v.CONFIRMATION),e.settings.closeOnConfirm&&e.close(v.CONFIRMATION)}),e.$wrapper.on("click."+q,function(a){var c=b(a.target);c.hasClass(k("wrapper"))&&e.settings.closeOnOutsideClick&&e.close()})}var n,o,p="remodal",q=a.REMODAL_GLOBALS&&a.REMODAL_GLOBALS.NAMESPACE||p,r=b.map(["animationstart","webkitAnimationStart","MSAnimationStart","oAnimationStart"],function(a){return a+"."+q}).join(" "),s=b.map(["animationend","webkitAnimationEnd","MSAnimationEnd","oAnimationEnd"],function(a){return a+"."+q}).join(" "),t=b.extend({hashTracking:!0,closeOnConfirm:!0,closeOnCancel:!0,closeOnEscape:!0,closeOnOutsideClick:!0,modifier:""},a.REMODAL_GLOBALS&&a.REMODAL_GLOBALS.DEFAULTS),u={CLOSING:"closing",CLOSED:"closed",OPENING:"opening",OPENED:"opened"},v={CONFIRMATION:"confirmation",CANCELLATION:"cancellation"},w=function(){var a=document.createElement("div").style;return void 0!==a.animationName||void 0!==a.WebkitAnimationName||void 0!==a.MozAnimationName||void 0!==a.msAnimationName||void 0!==a.OAnimationName}();m.prototype.open=function(){var a,c=this;c.state!==u.OPENING&&c.state!==u.CLOSING&&(a=c.$modal.attr("data-"+p+"-id"),a&&c.settings.hashTracking&&(o=b(window).scrollTop(),location.hash=a),n&&n!==c&&i(n),n=c,e(),c.$bg.addClass(c.settings.modifier),c.$overlay.addClass(c.settings.modifier).show(),c.$wrapper.show().scrollTop(0),h(function(){g(c,u.OPENING)},function(){g(c,u.OPENED)},c))},m.prototype.close=function(a){var c=this;c.state!==u.OPENING&&c.state!==u.CLOSING&&(c.settings.hashTracking&&c.$modal.attr("data-"+p+"-id")===location.hash.substr(1)&&(location.hash="",b(window).scrollTop(o)),h(function(){g(c,u.CLOSING,!1,a)},function(){c.$bg.removeClass(c.settings.modifier),c.$overlay.removeClass(c.settings.modifier).hide(),c.$wrapper.hide(),f(),g(c,u.CLOSED,!1,a)},c))},m.prototype.getState=function(){return this.state},m.prototype.destroy=function(){var a,c=b[p].lookup;i(this),this.$wrapper.remove(),delete c[this.index],a=b.grep(c,function(a){return!!a}).length,0===a&&(this.$overlay.remove(),this.$bg.removeClass(k("is",u.CLOSING)+" "+k("is",u.OPENING)+" "+k("is",u.CLOSED)+" "+k("is",u.OPENED)))},b[p]={lookup:[]},b.fn[p]=function(a){var c,d;return this.each(function(e,f){d=b(f),null==d.data(p)?(c=new m(d,a),d.data(p,c.index),c.settings.hashTracking&&d.attr("data-"+p+"-id")===location.hash.substr(1)&&c.open()):c=b[p].lookup[d.data(p)]}),c},b(document).ready(function(){b(document).on("click","[data-"+p+"-target]",function(a){a.preventDefault();var c=a.currentTarget,d=c.getAttribute("data-"+p+"-target"),e=b("[data-"+p+"-id="+d+"]");b[p].lookup[e.data(p)].open()}),b(document).find("."+q).each(function(a,c){var d=b(c),e=d.data(p+"-options");e?("string"==typeof e||e instanceof String)&&(e=j(e)):e={},d[p](e)}),b(document).on("keydown."+q,function(a){n&&n.settings.closeOnEscape&&n.state===u.OPENED&&27===a.keyCode&&n.close()}),b(window).on("hashchange."+q,l)})});
var SVS = SVS || {};

SVS.misc = {};
SVS.product = {};
SVS.product.upsell = {};
SVS.home = {};
SVS.landingPage = {};
SVS.blog = {};
SVS.account = {};
SVS.page = {};
SVS.checkout = {};
SVS.redirectme = {};

$.fn.slideFadeToggle  = function(speed, easing, callback) {
    return this.animate({opacity: 'toggle', height: 'toggle'}, speed, easing, callback);
}; 



SVS.account.accountInteractions = (function(SVS, $){

	function bindEvents() {
		$('#customer-account .sidebar a').each(function(){
			$(this).on("click", function(e){
				e.preventDefault();
				$('.active').removeClass('active');
				$(this).addClass('active');
				$($(this).attr('href')).addClass('active');
			});
		});
	}

	return {
		init: function() {
			
			bindEvents();
		}
	};


})(SVS, jQuery);
SVS.billSlider = (function(SVS, $){

	function bindEvents() {

	    $(".bill-hover-icons li a").hover(function(e) {
	        e.preventDefault();
	        var id = $(this).attr("href");
	        $(id).addClass('active');
	        $(".rights-item").not(id).removeClass('active');
	        $(this).addClass("active");
	        $(".bill-hover-icons li a").not(this).removeClass("active");
	    });

	}

	return {
		init: function(){
			bindEvents();
		}
	};


})(SVS, jQuery);


SVS.blog.gallery = (function(SVS, $){

	function swapImage(image, swap, direction) {
		image.attr('src', swap.find('img').attr('src'));

		return getNextImage(swap, direction);	
	}

	function getNextImage(image, direction) {
		if(direction === 'next') {
			if(image.next().length !== 0) {
				return image.next();
			} else {
				return image.siblings().first();
			}
		} else {
			if(image.prev().length !== 0) {
				return image.prev();
			} else {
				return image.siblings().last();
			}
		}
	}

	return {
		init: function(){
			$(".img-gal a").each(function(){
				$(this).on("click", function(e){
					e.preventDefault();
					
						var imageSrc = $(this).find('img').attr('src'),
							galleryImage = $('.gallery-modal-wrapper img').attr('src', imageSrc),
							modal = $('[data-remodal-id=gallery-modal]');

						modal.remodal({hashTracking: false}).open();

						modal.prepend('<a class="gallery__button gallery__button--previous"><i class="fa fa-chevron-left fa-4x"></i></a>');
						modal.append('<a class="gallery__button gallery__button--next"><i class="fa fa-chevron-right fa-4x"></i></a>');

						var nextImage = getNextImage($(this), 'next'),
							prevImage = getNextImage($(this), 'prev');

						$('.gallery__button--next').on('click', function(e) {
							e.preventDefault();
							nextImage = swapImage(galleryImage, nextImage, 'next');
						});

						$('.gallery__button--previous').on('click', function(e) {
							e.preventDefault();
							prevImage = swapImage(galleryImage, prevImage, 'prev');
						});
						

						//cleanup
						$(document).on('closing', '.remodal', function (e) {
							$('.remodal a').remove();
						});
				});
			});
		}
	};

})(SVS, jQuery);
SVS.checkout = (function(SVS, $){

  var freeProvinces = ["Alabama", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"];

  return{

    init: function(){
      this.freeShippingCheck(SVS.checkout.startingProvince, freeProvinces);
    },

    freeShippingCheck: function(){
        var selectedProvince = $('select[name="checkout[shipping_address][province]"]').val();
        console.log(selectedProvince);

        if (!$.inArray(selectedProvince, freeProvinces)){
          alert('FOUND IT');
        }

    }
  }

})(SVS, jQuery);
SVS.footer = (function(SVS, $){

	function bindEvents() {

		if ($(window).width() < 501) {

			$('footer .footer-nav .mobile-accordion ul').hide();

			$('footer .footer-nav .mobile-accordion h3').click(function(e) {
		        e.preventDefault();
		        $(this).toggleClass('open');
		        $(this).next('ul').slideToggle();
		    });
		} else {
			$('footer .footer-nav .mobile-accordion ul').show();
		}
	}

	return {
		init: function(){
			bindEvents();
		}
	};

})(SVS, jQuery);


SVS.forms = (function(SVS, $){

	function bindEvents() {

	    //Customize Select Boxes

    $('select').each(function () {
        var $this = $(this),
            numberOfOptions = $(this).children('option').length;

	        $this.addClass('s-hidden');
	        
	        if (numberOfOptions > 1){

		        $this.wrap('<div class="select"></div>');
		        $this.after('<div class="styledSelect"></div>');
		        var $styledSelect = $this.next('div.styledSelect');
		        $styledSelect.text($this.children('option').eq(0).text());

		        var $list = $('<ul />', {
		            'class': 'options'
		        }).insertAfter($styledSelect);

		        for (var i = 0; i < numberOfOptions; i++) {
		            $('<li />', {
		                text: $this.children('option').eq(i).text(),
		                rel: $this.children('option').eq(i).val()
		            }).appendTo($list);
		        }

		        var $listItems = $list.children('li');

		        $styledSelect.click(function (e) {
		            e.stopPropagation();
		            $('div.styledSelect.active').each(function () {
		                $(this).removeClass('active').next('ul.options').hide();
		            });
		            $(this).toggleClass('active').next('ul.options').toggle();
		        });

		        $listItems.click(function (e) {
		            e.stopPropagation();
		            $styledSelect.text($(this).text()).removeClass('active');
		            $this.val($(this).attr('rel'));
		            $this.trigger('change');
		            $list.hide();
		        });

		        $(document).click(function () {
		            $styledSelect.removeClass('active');
		            $list.hide();
		        });

		        $this.closest('.collection-display__product-copy').find('.starting-from').show();
	        	
	        }

	    });

	}

	return {
		init: function(){
			bindEvents();
		}
	};


})(SVS, jQuery);



SVS.home.slider = (function(SVS, $){

	return {
		init: function(){
			$(".home-slider").slidesjs({
				width: 1440,
				height: 450,
				navigation: {
					active: false
				},
				play:{
					active: false,
					auto: true,
					effect: "fade",
					interval: 10000
				},
				pagination: {
					effect: "fade"
				},
				effect: {
					fade: {
						speed: 700,
						crossfade: true
					}
				}
			});
		}
	};

})(SVS, jQuery);
SVS.landingPage.slider = (function(SVS, $){

	return {
		init: function(){
			if ($(window).width() > 640){

				$(".review-slider .slider").slidesjs({
					width: 1210,
					height: 212,
					navigation: {
						active: true,
						effect: "fade"
					},
					play:{
						active: false,
						auto: true,
						effect: "fade",
						interval: 5500
					},
					pagination: {
						active: true,
						effect: "fade"
					},
					effect: {
						fade: {
							speed: 700,
							crossfade: true
						}
					}
				});

				$(".large-slider").slidesjs({
					width: 1440,
					height: 824,
					navigation: {
						active: false,
						effect: "fade"
					},
					play:{
						active: false,
						auto: true,
						effect: "fade",
						interval: 5500
					},
					pagination: {
						active: true,
						effect: "fade"
					},
					effect: {
						fade: {
							speed: 700,
							crossfade: true
						}
					}
				});
			}
		}
	};

})(SVS, jQuery);
SVS.lazyloader = (function(SVS, $){

	/*
	* scope -> class or id to provide context
	* callback -> optional callback
	*/
	function load(scope, callback) {
		$(scope).find('.lazyload').each(function(index){
			$(this).attr('src', $(this).attr('data-src'))
				.on('load', function() {
					if ((index + 1) === $(scope + ' .lazyload').length && typeof callback === 'function') callback();
				});
		});
	}

	return {
		load: load
	};

})(SVS, jQuery);

SVS.nav = (function(SVS, $){

	var scroll = 0,
		dif = 0;

	function bindEvents() {
		var $event = (('ontouchstart' in window) && window.innerWidth < 720) ? 'touchend' : 'click',
			$hamburger = $('#mobile-hamburger'),
			$navDrawer = $('#nav-drawer'),
			$navDrawerWrap = $('#nav-drawer__wrap');

		$hamburger.on($event, function(){
			$navDrawer.addClass('open');
          $(document.body).addClass('noscroll');
		});
		$('#nav-drawer__close').on($event, function(){
			$navDrawer.removeClass('open');
          $(document.body).removeClass('noscroll');
		});
		$('#mobile-nav__nav_close-button').on($event, function(){
			$navDrawer.removeClass('open');
          $(document.body).removeClass('noscroll');
		});
		$('.accordion-header').on('touchstart', function(){
			scroll = $drawerMenuWrap.scrollTop();
		});
		$('.accordion-header').on($event, function(e){
			e.preventDefault();
			dif = scroll - $navDrawerWrap.scrollTop();
			if (dif > 20 || dif < -20) {} else {
				toggleAccordion($(this));
			}
		});

		//meganav hover
		$('.meganav__wrapper').mouseleave(function() {
			$('.drop-nav').animate({ height: 'hide', opacity: 'hide' }, 'fast');
		});
		$('.main-nav__link').mouseover(function() {
			var id = '#' + $(this).attr('data-menu-id');
			$(".drop-nav").stop(true).hide();
			$(id).animate({ height: 'show', opacity: 'show' }, 'fast');
		});
	}

	function toggleAccordion($el) {
		$($el).next('ul').slideFadeToggle();
		$($el).toggleClass('expanded');
	}

	return {
		init: function(){
			bindEvents();
		}
	};

})(SVS, jQuery);


SVS.page.dealersAccordian = (function(SVS, $){

	function bindEvents() {
		$('.all-locations').hide();

		$('.view-all-link a').on('click', function(e) {
			e.preventDefault();
			

			var id = $(this).parent().attr('data-link-id');
			console.log(id);
			$('#' + id).slideToggle();
		});
	}

	return {
		init: function(){
			bindEvents();
		}
	};

})(SVS, jQuery);


SVS.product.pressreviews = (function(SVS, $){

	var $pressReviewsTrack = ($('.product-pr-slider').length) ? $('.product-pr-slider') : '',
		trackWidth = ($('.product-pressreviews-slider').length) ? $('.product-pressreviews-slider').width() : 0;

	function bindEvents() {
		// var $event = (('ontouchstart' in window) && window.innerWidth < 720) ? 'touchend' : 'click';
		var $event = 'click';
		$('.product-pr-slide__prev').on('click', function(){
			var index = getPrev();
			changeSlide(index);
          stopTimer();
		});
		$('.product-pr-slide__next').on('click', function(){
			var index = getNext();
			changeSlide(index);
          stopTimer();
		});
      $('.imageLeft').on('click', function(){
			var index = getPrev();
			changeSlide(index);
          stopTimer();
		});
		$('.imageRight').on('click', function(){
			var index = getNext();
			changeSlide(index);
          stopTimer();
		});
      var sliderTimer = setInterval(function(){ changeSlider() }, 5000);
      
      	function changeSlider(){
              var index = getNext();
			changeSlide(index);
          };
  
		function stopTimer() {
    	clearInterval(sliderTimer);
		};
	}
 
	function changeSlide(index) {
		$pressReviewsTrack.attr('data-index',index);
		index = (index === 1) ? 0 : index - 1;
		$pressReviewsTrack.css({
			'-webkit-transform': 'translate3d(-' + (index * trackWidth) + 'px,0,0)',
			'-moz-transform': 'translate3d(-' + (index * trackWidth) + 'px,0,0)',
			'-ms-transform': 'translate3d(-' + (index * trackWidth) + 'px,0,0)',
			'-o-transform': 'translate3d(-' + (index * trackWidth) + 'px,0,0)',
			'transform': 'translate3d(-' + (index * trackWidth) + 'px,0,0)'
		});
	}

	function getNext(){
		var index = Number($pressReviewsTrack.attr('data-index'));
		return ($('.product-pr-slide[data-index="'+(index + 1)+'"]').length) ? (index + 1) : 1;
	}

	function getPrev(){
		var index = Number($pressReviewsTrack.attr('data-index'));
		return ($('.product-pr-slide[data-index="'+(index - 1)+'"]').length) ? (index - 1) : $('.product-pr-slide').length;
	}

	return {
		init: function() {
			SVS.lazyloader.load('.product-pr-slider');
			$('.product-pr-slide').each(function(index){
				$(this).css('left', (index * trackWidth) + 'px');
			});
			bindEvents();
		}
      
	};


})(SVS, jQuery);


SVS.product.quantity_change = (function(SVS, $){

	function bindEvents() {
		$('#qty_update').on('change, blur', function(){
			$('#quantity').attr('value', $(this).val());
		})
	}

	return {
		init: function() {
			bindEvents();
		}
	};


})(SVS, jQuery);

SVS.product.reviewsize = (function(SVS, $){
		var lastWidth = $(window).width();
		function bindEvents() {
		$(window).resize(function(){
			if($(window).width()!=lastWidth){
				setHeight();
				lastWidth = $(window).width();
				};
				
				});			
		};
		function setHeight() {
					var maxHeight = 0;
					$('.product-pr-slide').each(function(){
						maxHeight = $(this).height() > maxHeight ? $(this).height() : maxHeight;
						});
						$('.product-pressreviews-slider').css("height", maxHeight + 50); 
						};
	return {
		init: function() {
			bindEvents();
			setHeight();
		}
	};
})(SVS, jQuery);



SVS.product.accordion = (function(SVS, $){

	function bindEvents() {
		$('.product-tech__accordion-header').on('click', function(){
			$(this).toggleClass('open');
			$(this).find('ul').fadeToggle();
			$('.product-tech__accordion-header').not(this).removeClass('open');
			$('.product-tech__accordion-header').not(this).find('ul').hide();
		});
	}

	return {
		init: function() {
			bindEvents();
		}
	};


})(SVS, jQuery);


/**
 * Upsell API functionality
 */
SVS.product.upsell.api = (function(SVS, $) {  
  
  // get product
  function getProduct(variantId, callback) {
    $.getJSON('/cart.js', function(data) {
      
      var product = {};
      for(var i = 0; i < data.items.length; i++) {
        if(variantId == data.items[i].id) {
          product = data.items[i];
          continue;
        }
      }
      
      callback(product);
      
    }, function(xhr) {
      console.error(xhr);
      return false;
    });
  }
  
  // add a product to the cart using Shopify cart.js api
  function addProduct(variantId, quantity, callback) {
    if(!variantId) return false;
    
    var payload = {
      id: variantId,
      quantity: (quantity || 1)
    };
    
    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        dataType: 'json',
        data: payload,
        success: function(data) {
          //console.log(data);
          
          callback(data);
        },
        error: function(xhr) {
          console.error(xhr);
          return false;
        }
      });
  }
  
  return {
    getProduct: getProduct,
    addProduct: addProduct
  };
  
})(SVS, jQuery);


SVS.product.upsell.productPage = (function(SVS, $) {
  
  var UPSELL_PAGE_HANDLE = 'accessories-cart';

  
  // show current products upsells
  function gotoUpsellPage(productId, variantId, quantity) {
    var productupselltitle = $( ".product-header__name" ).html();
    productupselltitle = productupselltitle.replace(/\s+/g, '');
    //redirect to the upsell page, with product id as url param
    var domain = SVS.misc.getDomain();
    window.location.href = 'https://' + domain + '/pages/' + UPSELL_PAGE_HANDLE + '?product_id=' + productId + '&variant_id=' + variantId + '&quantity=' + quantity +'&title=' + productupselltitle;
  }
  
  function initAndBindEvents() {
    var productId = $('.product').attr('data-product-id');
    
    if(!productId) return false;
    
    //console.log(SVS.misc.getDomain());
    if($('#product-addtocart').hasClass('soldout')) return false;
    
    
      
      // add to cart button click
    var productType = $( "#productType" ).html();
    var productNAME = $( ".product-header__name" ).html();
    if (productType == "Subwoofer" || productType == "Speaker" || productType == "Speaker Outlet" || productType =="Subwoofer Outlet" || productType == "Dual Subwoofer"){
      $(document).on('click', '#product-addtocart', function(event) {
		event.preventDefault(); // stop add to cart
        
        // get product data
        var variantId = $('.product').find('[name="id"]').val(),
            quantity = $('input#quantity').val();

        if(!productId || !variantId || !quantity) return false;
		sessionStorage.setItem('productNAME', productNAME);
        sessionStorage.setItem('productTYPE', productType);
        gotoUpsellPage(productId, variantId, quantity);

        return false;
      });
    }
      
  }
  
  return {
    init: function() {
      initAndBindEvents()
    }
  };
  
})(SVS, jQuery);

SVS.product.upsell.productPage = (function(SVS, $) {
  
  var UPSELL_PAGE_HANDLE = 'accessories-cart';

  
  // show current products upsells
  function gotoUpsellPage(productId, variantId, quantity) {
    var productupselltitle = $( ".product-header__name" ).html();
    productupselltitle = productupselltitle.replace(/\s+/g, '');
    //redirect to the upsell page, with product id as url param
    var domain = SVS.misc.getDomain();
    window.location.href = 'https://' + domain + '/pages/' + UPSELL_PAGE_HANDLE + '?product_id=' + productId + '&variant_id=' + variantId + '&quantity=' + quantity +'&title=' + productupselltitle;
  }
  
  function initAndBindEvents() {
    var productId = $('.product').attr('data-product-id');
    
    if(!productId) return false;
    
    //console.log(SVS.misc.getDomain());
    if($('#product-addtocart').hasClass('soldout')) return false;
    
    
      
      // add to cart button click
    var productType = $( "#productType" ).html();
    var productNAME = $( ".product-header__name" ).html();
    if ($("body").hasClass(" template-product-v2 ")) {
   if (productType == "Subwoofer" || productType == "Subwoofer Outlet" || productType == "Speaker" || productType == "Speaker Outlet" || productType == "Dual Subwoofer"){
      $(document).on('click', '#product-addtocart', function(event) {
		event.preventDefault(); // stop add to cart
        
       //  get product data
            var variantId = $('#add-item-form').find('[name="id"]').val(),
          quantity = $('#qty_update').val();
       

        if(!productId || !variantId || !quantity) return false;
		sessionStorage.setItem('productNAME', productNAME);
        sessionStorage.setItem('productTYPE', productType);
        gotoUpsellPage(productId, variantId, quantity);

        return false;
      });
   }
    }
      
  }
  
  return {
    init: function() {
      initAndBindEvents()
    }
  };
  
})(SVS, jQuery);

SVS.product.upsell.upsellPage = (function(SVS, $) {
  var productNAME = sessionStorage.getItem('productNAME');
  var productType =sessionStorage.getItem('productTYPE');
  
  function loadUpsells() {
    if (productType == "Subwoofer" || productType == "Subwoofer Outlet" || productType == "Dual Subwoofer") {
      $( "#sublink" ).removeClass( "hideupsell" );
      $( "#soundpathrcasub" ).removeClass( "hideupsell" );
      if (productNAME.indexOf('PB12-Plus') >= 0 || productNAME.indexOf('PB13-Ultra') >= 0 || productNAME.indexOf('PB16-Ultra') >= 0){
        $( "#soundpathiso6" ).removeClass( "hideupsell" );
      }
      else if (productNAME.indexOf('PC-2000') >= 0) {
        $( "#rcay" ).removeClass( "hideupsell" );
      }
      else {
        $( "#soundpathiso4" ).removeClass( "hideupsell" );
      }
    }
    if (productType == "Speaker" || productType == "Speaker Outlet") {
      $( "#soundpathultracable" ).removeClass( "hideupsell" );
      $( "#soundpathonecable" ).removeClass( "hideupsell" );
      if (productNAME.indexOf('Bookshelf') >= 0 && productNAME.indexOf('Surround')){
        $( "#ubsf26" ).removeClass( "hideupsell" );
      }
      else if (productNAME.indexOf('Center') >= 0){
        $( "#ucsfc18" ).removeClass( "hideupsell" );
      }
      else if (productNAME.indexOf('Prime Satellite') >= 0){
        $( "#soundpathbracket" ).removeClass( "hideupsell" );
      }
        else {
        $( "#soundpathcableterm" ).removeClass( "hideupsell" );
      }
    }
    if (productNAME.indexOf('Dual') >= 0) {
      $('.qty-select').each(function() {
        $(this).val(2)
      });
      $('.upsell-qty-message').each(function() {
        $(this).html('Adds two (2) units for dual subwoofers')
      });
    }
  }
  
  function init() {
    var params = SVS.misc.getURLParams();
    if(!params) return false;
    SVS.product.upsell.api.addProduct(params.variant_id, params.quantity, function(data) {
      var url = 'https://' + SVS.misc.getDomain() + '/pages/accessories-cart?product_id=' + params.product_id;
      // console.log(data);
      window.history.replaceState(null, null, url);
      SVS.product.upsell.api.getProduct(params.variant_id, function(data) {
        $('#cart-item-name').text(data.title);
        $('#product-copy-name').text(data.product_title);
        loadUpsells();
      });
    });
  }
  
  function bindEvents() {
    // bind add upsell item click event
    $(document).on('click', '.add-upsell', function(event) {
      event.preventDefault();
      var upsellSelector = $(event.target);
      var productId = upsellSelector.attr('data-product-id'),
      variantId = upsellSelector.closest('.upsell__product').find('.selected-variant').val();   
      var upsellquantity = $(this).closest('.upsell__product').find('.qty-select').val()
      if(!productId || !variantId) return false;
      // add item to the cart
      var payload = {
      id: variantId,
      quantity: upsellquantity
      };
      
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        dataType: 'json',
        data: payload,
        success: function(data) {
          console.log(data);  
          upsellSelector.closest('.svs-buy').addClass('added-to-cart');
          upsellSelector.closest('.upsell__product').find('.svs-buy').text('In Your Cart');
          console.log('upsell added!');
          ga('send', 'event', 'Upsell', 'Click', data.title + ' Added');
        },
        error: function(xhr) {
          console.error(xhr);
          ga('send', 'event', 'Upsell', 'Click', 'Error - ' + xhr);
          return false;
        }
      });
    });
    
    // bind variant change event
    $(document).on('change', '.selected-variant', function(event) {
      var selectedVariant = $(event.target);
      var variantId = selectedVariant.val();
      console.log(variantId);
      var price = selectedVariant.find('option[value="' + variantId + '"]').attr('data-price');
      selectedVariant.closest('.collection-display__product').find('.price').html('$' + price + '<span> EA</span>');
    });
  }
  
  return {
    init: function() {
      init();
      bindEvents();
    }
  }
  
})(SVS, jQuery);

SVS.product.variant_selection = (function(SVS, $){

	function bindEvents() {
		var variantParam = window.location.search.split('=');

		$('.product-details__variants img').each(function(){
			$(this).on('click', function(){
				var variantId = $(this).data('id'),
					variantSku = $(this).data('sku'),
					variantPrice = $(this).data('variant-price'),
					variantName = $(this).data('variant-name');
              		variantNamenodec = $(this).data('variant-pricenodec');
                    updateAffirmAsLowAs( variantNamenodec );
             
variantUpdate(variantName);

				$('.product-details__variants img').not(this).removeClass('selected');

				if(!$(this).hasClass('selected')){
					$(this).addClass('selected');
				}

				$('#id').attr('value', variantId);
				$('.sku').text(variantSku);
				$('.product-details__finish').text(variantName);
				$('#price').text(variantPrice);
              

				
			});
		});

		if (variantParam){
			variantParam = variantParam[1];
			$('.product-details__variants').find('[data-id="'+variantParam+'"]').trigger('click');
		}
	}

	return {
		init: function() {
			bindEvents();
		}
	};


})(SVS, jQuery);

SVS.product.variant_selectionv2 = (function(SVS, $){

	function bindEvents() {
		var variantParam = window.location.search.split('=');

		$('.finish-options img').each(function(){
			$(this).on('click', function(){
				var variantId = $(this).data('id'),
					variantSku = $(this).data('sku'),
					variantPrice = $(this).data('variant-price'),
					variantName = $(this).data('variant-name');
              		variantNamenodec = $(this).data('variant-pricenodec');
                    updateAffirmAsLowAs( variantNamenodec );
             
variantUpdate(variantName);

				$('.finish-options img').not(this).removeClass('selected');

				if(!$(this).hasClass('selected')){
					$(this).addClass('selected');
				}

				$('#id').attr('value', variantId);
				$('.sku').text(variantSku);
				$('.finish-name').text(variantName);
				$('#price').text(variantPrice);
              

				
			});
		});

		if (variantParam){
			variantParam = variantParam[1];
			$('.finish-options').find('[data-id="'+variantParam+'"]').trigger('click');
		}
	}

	return {
		init: function() {
			bindEvents();
		}
	};


})(SVS, jQuery);


SVS.redirectme = (function(SVS, $){

	function redirectAllTheThings() {
		$.ajax( { 
		  url: '//freegeoip.net/json/', 
		  type: 'GET', 
		  dataType: 'json',
		  success: function(location) {
		  	
		    // first check if they have a cookie set
		    // console.log('GeoIP returned: ');
		    // console.log(location);
		    // console.log('~~~~~~~');

		    if (redirectCookieCheck(location)){
		    	// console.log('cookie not set');


			    if (~SVS.currentSite.indexOf(".ca") || ~SVS.currentSite.indexOf("3.myshopify")){
			    	// console.log('domain checked as CANADA');
			    	if (!~location.country_name.indexOf("Canada")){
			    		redirectCookie('ca');
			    		if (~location.country_name.indexOf("United States")){
			    			redirectTo('com');
			    		}else{
			    			redirectTo('global');
			    		}
			    	}else{
			    		$('.header__actions ul').prepend('<li><a href="http://svsound.com">US Store</a></li><li><a href="http://svsound.global">Global Store</a></li>');
			    	}
			    }else if(~SVS.currentSite.indexOf(".global") || ~SVS.currentSite.indexOf("4.myshopify")){
			    	// console.log('domain checked as GLOBAL');
		    		if (~location.country_name.indexOf("Canada") || ~location.country_name.indexOf("United States")){
		    			redirectCookie('global');
		    			if (location.country_name.indexOf("United States")){
		    				redirectTo('com');
		    			}else{
		    				redirectTo('ca');
		    			}
		    		}else{
		    			$('.header__actions ul').prepend('<li><a href="http://svsound.com">US Store</a></li><li><a href="http://svsound.ca">Canada Store</a></li>');
		    		}
			    }else{
			    	if (!~location.country_name.indexOf("United States")){
			    		// console.log('domain checked as US');
			    		redirectCookie('com');
			    		if (location.country_name.indexOf("Canada")){
			    			redirectTo('ca');
			    		}else{
			    			redirectTo('global');
			    		}
			    	}else{
			    		$('.header__actions ul').prepend('<li><a href="http://svsound.ca">Canada Store</a></li><li><a href="http://svsound.global">Global Store</a></li>');
			    	}
			    }

		    }

		  }
		} );
	}

	// Original JavaScript code by Chirp Internet: www.chirp.com.au
	// Please acknowledge use of this code by including this header.

	function getCookie(name)
	{
	  var re = new RegExp(name + "=([^;]+)");
	  var value = re.exec(document.cookie);
	  return (value != null) ? unescape(value[1]) : null;
	}

	// END Chirp plugin

	function redirectTo(destination){
		var finalURL = 'http://svsound.' + destination + "?location_redirect=true";
		console.log('redirecting...');
		window.setTimeout(function() {
			window.location.href = finalURL;
		}, 250);
	}

	function redirectCookie(departure){
		console.log('cookie set');
		document.cookie = "redirected_from=" + departure;
	}

	function redirectCookieCheck(location){
		console.log('cookie checked');
		if (~document.cookie.indexOf('redirected_from')){

			redirectBanner(location);

			return false;
		} else{
			return true;
		}
	}

	function redirectBanner(location){
		if (!~document.cookie.indexOf('redirect_banner_shown')){
			var redirectBar,
				redirectContent,
				site_one,
				site_two,
				redirectedFrom = getCookie('redirected_from'),
				redirectBarTemplate = $('#redirect_bar').html();

			if (redirectedFrom === "ca"){
				site_one = "svsound.com";
				site_one_name = "US Store";
			}else if (redirectedFrom === "global"){
				site_one = "svsound.com";
				site_one_name = "US Store";
			} else{
				site_one = "svsound.ca";
				site_one_name = "Canada Store";
			}


			document.cookie = "redirect_banner_shown=true";

			redirectContent = {
				"user_location": location.country_name,
				"site_url": window.location.host,
				"site_one": site_one,
				"site_two": site_two
			}

			redirectBar = Mustache.render(redirectBarTemplate, redirectContent);

			
			$('body').append(redirectBar);
		}
	}

	return {
		init: function(){
			redirectAllTheThings();
		}
	};

})(SVS, jQuery);


SVS.stickynav = (function(SVS, $){

	// sticky nav

	return {
		init: function(){

		    var stickyNavTop = $('#nav-wrapper').offset().top;
		 
		    var stickyNav = function(){
			    var scrollTop = $(window).scrollTop();
			          
			    if (scrollTop > stickyNavTop) { 
			        $('#nav-wrapper').addClass('affix');
			    } else {
			        $('#nav-wrapper').removeClass('affix'); 
			    }
		    };

		    stickyNav();

		    // active state links

		    var sections = $('section[id$=anchor]'),
		        nav = $('#sticky-nav');
		        console.log(sections.length);
		     
		    $(window).on('scroll', function () {
		      var cur_pos = $(this).scrollTop();
		     
		      sections.each(function() {
		        var top = $(this).offset().top - 51,
		            bottom = top + $(this).outerHeight();
		     
		        if (cur_pos >= top && cur_pos <= bottom) {
		          nav.find('a').closest('li').removeClass('active');
		          sections.removeClass('active');
		     
		          $(this).addClass('active');
		          nav.find('a[href="#'+$(this).attr('id')+'"]').closest('li').addClass('active');
		        }

		      });

		      stickyNav();

		    });

		    //smooth scrolling

		    var $root = $('html, body');
		    $('#sticky-nav a').click(function() {
		        $root.animate({
		            scrollTop: $( $.attr(this, 'href') ).offset().top - 51
		        }, 300);
		        return false;
		    });
		}
	};


})(SVS, jQuery);


/**
 * Misc functionality
 */
SVS.misc = (function(SVS, $) {
  
  // get domain from host name
  function getDomainName()
  {
    var hostName = window.location.hostname;
    return hostName;
  }
  
  // get url params
  function getURLParams() {
    var params={};
    window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(str,key,value){params[key] = value;});
  
  	return params;
  }
  
  return {
    getDomain: getDomainName,
    getURLParams: getURLParams
  };
})(SVS, jQuery);
SVS.router = (function(SVS, $){


	function init() {

		///////////////////////
		// IP REDIRECT       //
		///////////////////////
		// SVS.redirectme.init();

		///////////////////////
		// Auto start        //
		///////////////////////
		if (!$('body.checkout').length) {
			SVS.nav.init();
			SVS.footer.init();
			SVS.forms.init();
		}
		SVS.billSlider.init();


		///////////////////////
		// Conditional Start //
		///////////////////////
		if ($('body.product-page').length) {
          SVS.product.reviewsize.init();
			SVS.product.pressreviews.init();
			SVS.product.accordion.init();
			SVS.product.variant_selection.init();
			SVS.product.quantity_change.init();
			SVS.lazyloader.load('.product-page');
			SVS.stickynav.init();
			SVS.product.upsell.productPage.init();
          }else if ($('body.template-product-v2').length){
			SVS.product.variant_selectionv2.init();
			SVS.product.quantity_change.init();
			SVS.lazyloader.load('.product-page');
			SVS.product.upsell.productPage.init();
		}else if ($('body.home').length){
			SVS.home.slider.init();
		}else if ($('body.landing-page').length){
			SVS.landingPage.slider.init();
			if($('body.landing-page.product-accessories').length) {
				SVS.product.upsell.upsellPage.init();
			}
		}else if ($('body.us-dealers').length){
			SVS.lazyloader.load('.us-dealers');
			SVS.page.dealersAccordian.init();
		}else if ($('body.international-dealers').length){
			SVS.lazyloader.load('.international-dealers');
		}else if ($('body.blog').length){
			SVS.blog.gallery.init();
		}else if ($('body.bill-of-rights').length){
			SVS.lazyloader.load('.bill-of-rights');
		}else if ($('body.account-page').length){
			SVS.account.accountInteractions.init();
		}
		// else if ($('body.checkout').length){

		// 	SVS.checkout.init();

		// 	$('select[name="checkout[shipping_address][province]"]').on('blur', function(){
				
		// 	    SVS.checkout.freeShippingCheck();
		// 	});
		// }


		var flArray = [];
       
		//  Fisher-Yates (aka Knuth) Shuffle
		function shuffle(array) {
			var currentIndex = array.length, temporaryValue, randomIndex ;

			// While there remain elements to shuffle...
			while (0 !== currentIndex) {

				// Pick a remaining element...
				randomIndex = Math.floor(Math.random() * currentIndex);
				currentIndex -= 1;

				// And swap it with the current element.
				temporaryValue = array[currentIndex];
				array[currentIndex] = array[randomIndex];
				array[randomIndex] = temporaryValue;
			}

			return array;
		}

		$('.footer-wrap a.hidden').each(function(){
			flArray.push($(this));
		});

		shuffle(flArray);
     // Remove comments to make dealer rotation in footer work.       
		for (var i = 0; i < 2; i++){
			$logo = flArray[i];
			$logo.removeClass('hidden');
		}
	}

	return {
		init: init
	};

})(SVS, jQuery);

SVS.router.init();
