{{ 'home-page-update.css' | asset_url | stylesheet_tag }}

<section class="home-message-outer">
    <div class="wrap home-message-container">
        <h1 class="home-message">
            SVS High Performance Speakers, Subwoofers and Accessories Deliver Thrilling and Immersive Home Audio Experiences and Unmatched Performance for the Price.
        </h1>
    </div>
</section>

<section>
    <div class="index-main-callouts">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-12 main-callout">
                    <a href="/pages/4000-series" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Home Promo - 1 - 4000 Series');" style="text-decoration:none;">
                        <img class="visible-xs-block" src="https://cdn.shopify.com/s/files/1/0921/3560/files/4000-series-mobile.png?15516357834741400966" alt="New 4000 Series Subwoofers">
                        <img class="hidden-xs" src="https://cdn.shopify.com/s/files/1/0921/3560/files/4000-series-main_feae00bb-c35c-4c14-b04f-e98935d96f6b.png?15516357834741400966" alt="New 4000 Series Subwoofers">
                    </a>
                </div>


                <div class="col-lg-3 col-sm-6 col-xs-12 four-tile">
                    <a href="/products/sb12-nsd" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Home Promo - 2 - Secondary SB12-NSD Promo');">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/nsd-promo_mobile_2_563a3612-2af2-40cc-864d-67b9a1f5cf87.png?12704429551985913359">
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12 four-tile">
                    <a href="/pages/white-gloss-subwoofers-speakers" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Home Promo - 3 - White Gloss');">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/white-gloss_mobile_9abaf653-18f2-4b9d-a27b-4bb1bc8ee28c.png?12704429551985913359" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12 four-tile">
                    <a href="/pages/16-ultra-series" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Home Promo - 4 - 16-Ultra Series');">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/16-ultra-mobile_f9979402-707b-4a0f-b849-afe94a60b07c.png?12704429551985913359" alt="">
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12 four-tile">
                    <a href="/pages/prime-elevation" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Home Promo - 5 - Prime Elevation');">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/prime_el_mobile_d1bbd0e0-d4d2-4007-9b9e-d70a130fbad8.png?12704429551985913359" alt="">
                    </a>
                </div>

                <!--
                <div class="col-sm-6 secondary-callout">
                    <a href="/products/sb12-nsd" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Home Promo - 2 - Secondary SB12-NSD Promo');">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/nsd-secondary_c6d80420-242f-4cd5-8d36-88115ee06918.png?7486779293022748179" alt="">
                    </a>
                </div>

                <div class="col-sm-6 secondary-callout">
                    <a href="/pages/white-gloss-subwoofers-speakers" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Home Promo - 3 - White Gloss');">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/white-gloss-secondary-4.jpg?5919555246842807868" alt="">
                    </a>
                </div>
                -->
            </div>
        </div>
    </div>
</section>

{% include 'news-ticker' %}

<section>
    <div class="index-category-callouts">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-4 indiv-wrap">
                    <a href="/pages/subwoofers" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Subwoofers Image');">
                        <h4> Subwoofers <i class="fa fa-angle-double-right"></i> </h4>
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/cat-call-subwoofers.jpg?15860292884507276854" alt="" data-match-height="cat-call-height">
                    </a>
                    <a href="/pages/subwoofers" class="cta" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Subwoofers Button');"> Shop Subwoofers </a>
                </div>

                <div class="col-sm-4 indiv-wrap">
                    <a href="/pages/speakers" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Speakers Image');">
                        <h4> Speakers <i class="fa fa-angle-double-right"></i> </h4>
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/cat-call-speakers.jpg?15860292884507276854" alt="" data-match-height="cat-call-height">
                    </a>
                    <a href="/pages/speakers" class="cta" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Speakers Button');"> Shop Speakers </a>
                </div>

                <div class="col-sm-4 indiv-wrap">
                    <a href="/pages/all-systems" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Systems Image');">
                        <h4> Home Theater Systems <i class="fa fa-angle-double-right"></i> </h4>
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/cat-call-system.jpg?15860292884507276854" alt="" data-match-height="cat-call-height" >
                    </a>
                    <a href="/pages/all-systems" class="cta" onclick= "ga('send', 'event', 'Homepage', 'Click', 'Systems Button');"> Shop Home Theater Systems </a>
                </div>
                <div class="col-sm-12"> <div class="hr"></div></div>

            </div>
        </div>
    </div>
</section>


<script>
    $(function() {
        if ($(window).width() <= 500) {
            $('.elevatemobile').attr("src", "{{ 'prime_el_mobile.jpg' | asset_url }}");
        }
    });
</script>

<script>
    if (document.cookie.indexOf('country=') != -1) {
        $(".hideRU1").remove();
    }
</script>

<!--SECURE JAVASCRIPT PIXEL CODE START-->
<script src="https://acuityplatform.com/Adserver/pxlj/6761449228575725161?" type="text/javascript" async></script>
<!--SECURE JAVASCRIPT PIXEL CODE END-->
