{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}
<noscript>
	<style>
		.ui-tabs-panel {
			display: block !important
		}

		#category-tabs .col-1-6 {
			display: none
		}

		.col-3-4 {
			width: 100%;
			border-left: none !important;
		}
  </style>
</noscript>
     <style> 
       .nologo {
         font-weight:800;
         display:block;
         text-align:center;
         font-size:30px
       }
       .bor-cs {
         padding-bottom:20px;
       }
       .bor-cs img{
         max-width:100%
       }
       .bor-cs .cs {
         margin-top:20px
       }
       .bor-cs .bor {
         margin-top:20px
       }
       .speaker-callouts .container-fluid {
         padding:0px;
         margin:0px;
       }
       .speaker-callouts .col-lg-3 {
         margin-top:20px;
       }
       @media (max-width: 991px) {
         .template-page-speakers .quotes blockquote {
           border:none;
         }
       }
       @media (max-width: 660px) {
         .desktop-copy {
           display:none;
         }
       }
  @media (max-width: 672px) {
    .quotesinner {
      width:100%;
      float:none;
      clear:both;
      padding-right:0;
    }
    .template-page-speakers .quotes blockquote {
      border-right:none;
    }
  }
       @media (max-width: 500px) {
         .bor-cs .col-xs-3 {
           display:none
         }
         .bor-cs .col-xs-9 {
           width:100%;
         }
       }
</style>


<section>
	<div class="wrap padtopnone">

		<h1> Breaking Sound Barriers.
			<span>Thrilling Loudspeaker Experiences. Unmatched Performance for the Price.</span>
		</h1>
		<p>
			SVS speakers balance audiophile refinement and accuracy with stunning, high-impact home theater dynamics to reveal the full depth, detail and emotion of music, movies, TV shows and all audio content. Our speaker design process involves sophisticated prototyping, extensive acoustic simulations, anechoic and real-world testing and the use of premium driver, crossover and cabinet materials. The result, loudspeakers that deliver jaw-droppingly immersive audio experiences and unmatched performance for the price.
		</p>
		<p style="padding-top: 12px;">
			With the Prime and Ultra Series Speakers, SVS is bringing world class sound quality to more people than ever before. With both 2-channel stereo and home theater surround sound systems, SVS speakers deliver a truly high-end audio experience with precise imaging, absolute transparency, wide dynamic range, pinpoint accuracy and powerful dynamics. SVS speakers reveal the full sonic impact of what an artist or sound engineer intended with perfect clarity for “like-being-there” audio experiences.
		</p>
        <p style="padding-top: 12px;">
          SVS makes a variety of speakers to fit every room, audio system and budget. Our <a href="/pages/customer-service">SVS Sound Experts</a> are available 7 days-a-week to help you choose the best loudspeakers based on your personal set-up and listening preferences.
        </p>
      <div class="container-fluid">
          <div class="row">
          	<div class="col-sm-12">
              <img style="max-width:100%;padding:10px 0;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0921/3560/files/awards-bar-home-mobile_v2.png?3229726609321608802" class="visible-xs-block">
          		<img style="max-width:100%;padding:10px 0;" src="https://cdn.shopify.com/s/files/1/0921/3560/files/awards-bar-speaker_v2.png?12872490844175382509" class="hidden-xs">
            </div>
          </div>  
      	</div>
      <h2 style="font-weight:800;font-size:22px;"><span class="desktop-copy">Click the boxes below each product to compare up to 4 models at once.</span></h2> 

		<div id="category-tabs" class="grid-2 category-tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul class="col-1-6 ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
              
              
              <li onclick="heightsEqualizer('.js-equal-height');ga('send', 'event', 'Speaker Category Page', 'Click', 'prime-series tab');" class="ui-state-default ui-corner-top" role="tab" tabindex="0" aria-controls="tab-1" aria-labelledby="ui-id-1" aria-selected="false">
					<a href="#prime-series" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1"><span class="subtabname">Prime Series</span> <span class="subtabprice hideRU"> from $134.99 </span></a>
				</li>
              
				<li onclick="heightsEqualizer('.js-equal-height');ga('send', 'event', 'Speaker Category Page', 'Click', 'prime-elevation tab');" class="ui-state-default ui-corner-top " role="tab" tabindex="-1" aria-controls="tab-2" aria-labelledby="ui-id-2" aria-selected="false">
                  <a href="#prime-elevation" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2"><span class="subtabname">Prime Elevation</span><span class="subtabprice hideRU"> from $199.99</span></a>
				</li>
              
              
              
				<li onclick="heightsEqualizer('.js-equal-height');ga('send', 'event', 'Speaker Category Page', 'Click', 'prime-packages tab');" class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-3" aria-labelledby="ui-id-3" aria-selected="false">
					<a href="#prime-packages" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3"><span class="subtabname">Prime Systems</span> <span class="subtabprice hideRU"> from $699.99 </span></a>
				</li>
				<li onclick="heightsEqualizer('.js-equal-height');ga('send', 'event', 'Speaker Category Page', 'Click', 'ultra-series tab');" class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-4" aria-labelledby="ui-id-4" aria-selected="false">
					<a href="#ultra-series" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4"><span class="subtabname">Ultra Series</span> <span class="subtabprice hideRU"> from $499.99</span></a>
				</li>
				<li onclick="heightsEqualizer('.js-equal-height');ga('send', 'event', 'Speaker Category Page', 'Click', 'ultra-packages tab');" class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tab-5" aria-labelledby="ui-id-5" aria-selected="false">
					<a href="#ultra-packages" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-5"><span class="subtabname">Ultra Systems</span> <span class="subtabprice hideRU"> from $2,699.99</span></a>
				</li>
			</ul>
			<div class="col-5-6">
				
                
                <div id="prime-series" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom cf" role="tabpanel" aria-expanded="true" aria-hidden="false">
					<h3> <span>Prime Series Speakers</span> </h3>
					<p>
                      Truly immersive and high-end in every way, the SVS Prime Series speakers borrow technology breakthroughs from the Ultra Series to set the benchmark for best loudspeaker performance value. The result, world-class speakers that are more inclusive than ever before.
					</p>
					<div class="products cf">
						{% for product in collections["prime-series"].products %} {% include 'product-loop-grid' with "prime-series" %} {% endfor %}
					</div>
				</div>
              
              <div id="prime-elevation" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom cf" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display:none">
					<h3> <span>Prime Elevation Speakers</span> </h3>
					<p>
						The world’s most versatile high performance home theater loudspeaker, SVS Prime Elevation delivers stunning sound quality and dynamics as an uncompromised, full range height effects speaker and as an installation-friendly, multi-purpose home theater speaker that solves countless room placement issues.
					</p>
                    <p style="padding-top:12px">
                    A highly refined tweeter, authoritative mid-woofer, precision tuned crossover and heavily reinforced cabinet combine with an innovative Multi-Angle Wall Bracket (patent pending) to create an incredible sounding, easy-to-install home theater solution.
                    </p>
					<div class="products cf">
						{% for product in collections["prime-elevation"].products %} {% include 'product-loop-grid' with "prime-elevation" %} {% endfor %}
					</div>
				</div>


				<div id="prime-packages" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom cf" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
					<h3> <span>Prime Series Systems</span> </h3>
					<p>
						Two-channel and surround sound Prime Series speaker systems recommended by our Sound Experts. Whether you’re looking for a small room music system or an over-the-top home theater, these Prime Series speaker systems easily outperform speaker systems
						costing much more.
					</p>
					<div class="products cf">
						{% for product in collections["prime-packages"].products %} {% include 'product-loop-grid' with "prime-packages" %} {% endfor %}
					</div>
				</div>

				<div id="ultra-series" aria-labelledby="ui-id-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom cf" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
					<h3> <span>Ultra Series Speakers</span> </h3>
					<p>
					Every design aspect of the SVS Ultra Series Speakers was scrutinized to achieve cost-no-object sound quality. Delivering a wide, detailed soundstage with incredible resolution, absolute transparency, and amazingly rich and articulated bass, the Ultra Series speakers stand toe-to-toe with the finest loudspeakers in the world.
					</p>
					<div class="products cf">
						{% for product in collections["ultra-series"].products %} {% include 'product-loop-grid' with "ultra-series" %} {% endfor %}
					</div>
				</div>

				<div id="ultra-packages" aria-labelledby="ui-id-5" class="ui-tabs-panel ui-widget-content ui-corner-bottom cf" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
					<h3> <span>Ultra Series Systems</span> </h3>
					<p>
						Featuring all the finest SVS engineering and technology, our Ultra Series surround sound systems bring the thrill of cinema and live music experiences home with sound quality, dynamics and styling normally reserved for the highest end systems in the world.
					</p>
					<div class="products cf">
						{% for product in collections["ultra-systems"].products %} {% include 'product-loop-grid' with "ultra-systems" %} {% endfor %}
					</div>
				</div>
			</div>
		</div>

	</div>
</section>


<section class="bg-grey">
	<div class="wrap">
		<div class="container-fluid quotes">
			<div class="row">
				<div class="col-md-12">
					<h3> <span style="border: none; margin: 0; padding: 0;">SVS Speaker Reviews - What the critics are saying.</span> </h3>
					<h2 style="margin-top: auto;"> SVS Speaker Reviews - What critics are saying… Reviewers agree SVS has the best loudspeakers of 2017. Learn why on our <a href="/pages/reviews">product ratings and reviews page.</a> </h2>
				</div>
				<div class="col-md-3 quotesinner">
					<blockquote data-match-height="bq-height">
						<p data-match-height="quote-para">
							"They are more detailed and more "hi-fi" than any home audio speakers we've heard at this price before."
						</p>
                      <span class="nologo">CNET</span>
					</blockquote>
				</div>
				<div class="col-md-3 quotesinner">
					<blockquote data-match-height="bq-height">
						<p data-match-height="quote-para">
							"The SVS Ultra speaker system came as close to earning a perfect 10 as any speakers we've heard. For our money, <strong>this is the best loudspeaker system to beat for years to come</strong>."
						</p>
						<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_dt.png?2125844996643697418" alt="Digital Trends" style="max-width:95px">
					</blockquote>
				</div>
				<div class="col-md-3 quotesinner">
					<blockquote data-match-height="bq-height">
						<p data-match-height="quote-para">
							"It would be tough to find a better speaker to pull audiophile music and home theater duty. Demolishes all of the offerings at its price point."
						</p>
						<span class="nologo">Enjoy The Music</span>
					</blockquote>
				</div>
				<div class="col-md-3 quotesinner">
					<blockquote data-match-height="bq-height">
						<p data-match-height="quote-para">
                          "Utterly magnificent bass. Fluid and captivating articulation in the mids with warmth and clarity to voices. <strong>Among the best floorstanding speakers available</strong>."
						</p>
						<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_tms.png?2125844996643697418" alt="The Master Switch" style="max-width:95px">
					</blockquote>
				</div>

				<div class="col-md-3 quotesinner">
					<blockquote data-match-height="bq-height">
						<p data-match-height="quote-para">
							"Outstanding imaging and an unwillingness to compromise punch or clarity. Far and away the best performing and looking system at this price point, and likely twice the amount."
						</p>
						<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_missing_remote.png?2125844996643697418" alt="Missing Remote">
					</blockquote>
				</div>
				<div class="col-md-3 quotesinner">
					<blockquote data-match-height="bq-height">
						<p data-match-height="quote-para">
							"SVS Prime Bookshelf speakers are destined to become classics—that's how good they are… I found myself in awe of how transparent these speakers sounded."
						</p>
						<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/speaker-cat-avs.png?3044387578193192902" alt="AVS Forum">
					</blockquote>
				</div>
				<div class="col-md-3 quotesinner">
					<blockquote data-match-height="bq-height">
						<p data-match-height="quote-para">
							"Dynamics of a custom theater system, neutrality and ambience of an audiophile system…Certified and Recommended."
						</p>
						<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/speaker-cat-snv.png?3044387578193192902" alt="Sound&Vision">
					</blockquote>
				</div>

				<div class="col-md-3 quotesinner">
					<blockquote data-match-height="bq-height">
						<p data-match-height="quote-para">
							"The SVS Prime Satellite 5.1 home theater system is the best satellite speaker surround sound system I know for under $1,000. Congratulations, SVS. The old king is dead, long live the new king."
						</p>
						<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/speaker-cat-htr.png?3044387578193192902" alt="HomeTheaterReview">
					</blockquote>
				</div>

			</div>
		</div>
		{% include 'news-ticker-speakers' %}
	</div>
</section>




















<section class="bg-grey">
	<div class="wrap speaker-callouts">
		<h5> The Perfect Fusion of Technology and Passion. </h5>
		<h2>
				When designing high performance loudspeakers, even the smallest details have acoustic consequences. Our engineers scrutinize every build material, cabinet angle, engineering process and measurement to achieve a level of sonic excellence that’s unmistakably SVS.
			</h2>
      
		<div class="container-fluid">
          <div class="row">
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/speaker-cat-1.jpg?4947128398647179792" alt="" />
				<h6> Innovative design, rigorous engineering and world class components </h6>
				<p>
					From the first cabinet sketch to the final voicing, every SVS speaker undergoes a painstaking design and engineering process to ensure flawless performance and unmatched build and component quality. Every design element has a sonic purpose.
				</p>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/speaker-cat-2.jpg?4947128398647179792" alt="" />
				<h6> Accurate, refined performance with immersive, convincing soundstage </h6>
				<p>
					Hundreds of hours are spent measuring and listening critically to each speaker in acoustic test chambers, calibrated listening rooms and real world environments. This process captures all the nuances of different content and listening environments to achieve a perfectly balanced speaker.
				</p>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/speaker-cat-3.jpg?4947128398647179792" alt="" />
				<h6> Elegant styling and world class build quality </h6>
				<p>
					Only the finest materials and fabrication techniques are used for cabinets, tweeters, drivers, and crossovers. It only becomes an SVS speaker when all the pieces meld to set a new benchmark audio performance value.
				</p>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/speaker-cat-4.jpg?4947128398647179792" alt="" />
				<h6> Stunning dynamics and effortless low frequency extension </h6>
				<p>
					A blend of smooth, highly-detailed sound enhanced by lively, impactful dynamics, a wide soundstage and effortless power across the frequency spectrum elevate SVS loudspeakers to unmatched levels of performance.
				</p>
			</div>
          </div>


		</div>
	  
      <!--<img src="{{ 'speaker-cat-callouts.jpg' | asset_url }}" class="hero-image"> -->
	</div>
</section>
<section>

	<div class="wrap">
		<div class="container-fluid">
			<div class="row">
				<h5> Helpful Speaker Resources </h5>
				<ul>
					<!--<li> <a href="#"> Five Performance Attributes of a World-Class Subwoofer - </a> Learn about the SVS subwoofer design philosophy. </li>-->
				  <li> <a onclick="ga('send', 'event', 'Speaker Category Page', 'Click', 'Helpful Resources - Understanding the Differences between SVS Prime and Ultra Speakers');" href="/pages/svs-prime-and-ultra-series-speakers-a-comparison"> Understanding the Differences between SVS Prime and Ultra Speakers </a> </li>
                  <li> <a onclick="ga('send', 'event', 'Speaker Category Page', 'Click', 'Helpful Resources - Choosing Between Tower and Bookshelf Speakers');"href="/blogs/svs/choosing-between-bookshelf-and-tower-speakers-1"> Choosing Between Tower and Bookshelf Speakers </a> </li>
				  <li> <a onclick="ga('send', 'event', 'Speaker Category Page', 'Click', 'Helpful Resources - Getting Started with Dolby Atmos, DTS:X and Auro-3D');"href="/pages/dolby-atmos-dts-x-auro-3d-speaker"> Getting Started with Dolby Atmos, DTS:X and Auro-3D </a> </li>
				  <li> <a onclick="ga('send', 'event', 'Speaker Category Page', 'Click', 'Helpful Resources - 7 Reasons Why Home Theater Surround Sound is Better than a Soundbar');"href="/blogs/svs/7-reasons-why-home-theater-surround-sound-offers-a-better-audio-experience-than-a-soundbar"> 7 Reasons Why Home Theater Surround Sound is Better than a Soundbar </a></li>
                  <li> <a onclick="ga('send', 'event', 'Speaker Category Page', 'Click', 'Helpful Resources - The Art of Speaker Placement');"href="/blogs/svs/74790851-the-art-of-speaker-placement"> The Art of Speaker Placement </a></li>
                  <li> <a onclick="ga('send', 'event', 'Speaker Category Page', 'Click', 'Helpful Resources - Best Uses for Satellite Speakers');"href="/blogs/svs/best-uses-for-satellite-speakers"> Best Uses for Satellite Speakers </a></li>
                  <li> <a onclick="ga('send', 'event', 'Speaker Category Page', 'Click', 'Helpful Resources - What are the Best Speakers for Turntables?');"href="/blogs/svs/what-are-the-best-speakers-for-turntables"> What are the Best Speakers for Turntables? </a></li>
                  <li> <a onclick="ga('send', 'event', 'Speaker Category Page', 'Click', 'Helpful Resources - What is a Height Channel Speaker?');"href="/blogs/svs/what-is-a-height-effects-speaker"> What is a Height Channel Speaker? </a></li>
				</ul>
			</div>
		</div>
	</div>

</section>
<section class="bg-grey bor-cs">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-12 bor">
              <div class="container-fluid">
                <div class="row cf">
				<div class="col-xs-3">
					<img src="{{ 'sub-cat-45.png' | asset_url }}" alt="Powered Home Theater Subwoofer 45 Day Trial">
					<img src="{{ 'sub-cat-5yr.png' | asset_url }}" alt="Powered Home Theater Subwoofer 5 Year Warranty">
				</div>
				<div class="col-xs-9">
					<h4> SVS Customer Bill of Rights </h4>
					<p> We understand the best place to demo loudspeakers is in your own home, with your personal system. We also want you to feel confident choosing SVS. For these reasons, we’ve created the industry’s most comprehensive benefits package, which makes it easy, risk-free and rewarding to be a lifelong listener or a tire kicker. Some of these rights include: </p>
					<ul>
						<li> <a href="/pages/bill-of-rights" onclick="ga('send', 'event', 'Subwoofer Category Page', 'Click', 'Bill of Rights - 1 - 45 Day Trial');"> <strong> 45 Day Risk-Free In-Home Trial, Fast & Free Shipping and Returns </strong> </a> </li>
						<li> <a href="/pages/bill-of-rights" onclick="ga('send', 'event', 'Subwoofer Category Page', 'Click', 'Bill of Rights - 2 - 5 Year Warranty');"> <strong> 5-Year Unconditional Warranty </strong> </a> </li>
						<li> <a href="/pages/bill-of-rights" onclick="ga('send', 'event', 'Subwoofer Category Page', 'Click', 'Bill of Rights - 3 - 60 Day Price Protection');"> 60-Day Guaranteed Price Protection </a> </li>
						<li> <a href="/pages/bill-of-rights" onclick="ga('send', 'event', 'Subwoofer Category Page', 'Click', 'Bill of Rights - 4 - Sound Expert Advice');"> Pre & Post-Purchase SVS Sound Experts Advice and Support </a> </li>
						<li> <a href="/pages/bill-of-rights" onclick="ga('send', 'event', 'Subwoofer Category Page', 'Click', 'Bill of Rights - 7 - Review Full Bill of Rights');"> Review Full SVS Customer Bill of Rights </a> </li>
					</ul>
				</div>
			</div>
              </div>
          </div>


			<div class="col-lg-6 col-md-12 cs">
              <div class="container-fluid">
				<div class="row cf">
					<div class="col-xs-3">
						<img src="{{ 'sub-cat-lifetime.png' | asset_url }}" alt="Powered Home Theater Subwoofer Lifetime Support">
					</div>
					<div class="col-xs-9">
						<h4> Lifetime SVS Sound Experts Support </h4>
						<p>
							Need help choosing the right speaker for a home theater or two-channel system? Have questions about Dolby Atmos, AV receiver settings or the SVS Customer Bill of Rights?
						</p>
                      <p>
                        Our Sound Experts are knowledgeable on all AV-related topics and available seven days a week via chat, phone or email to assist with any questions.
                      </p>
                      <p>
                        (877) 626-5623 | <a href="mailto:custservice@svsound.com">custservice@svsound.com</a> | <a href="#" onclick="OpenLHNChat();">Chat</a>
                      </p>
					</div>
				</div>
			</div>
          </div>

		</div>
	</div>
</section>
<div class="wk_compare_products_block"> </div>

<script>
	function heightsEqualizer(selector) {
		var elements = document.querySelectorAll(selector),
			max_height = 0,
			len = 0,
			i;

		if ((elements) && (elements.length > 0)) {
			len = elements.length;

			for (i = 0; i < len; i++) { // get max height
				elements[i].style.height = ''; // reset height attr
				if (elements[i].clientHeight > max_height) {
					max_height = elements[i].clientHeight;
				}
			}

			for (i = 0; i < len; i++) { // set max height to all elements
				elements[i].style.height = max_height + 'px';
			}
		}
	}

	if (document.addEventListener) {
		document.addEventListener('DOMContentLoaded', function() {
			heightsEqualizer('.js-equal-height');
		});
		window.addEventListener('resize', function() {
			heightsEqualizer('.js-equal-height');
		});
	}

	setTimeout(function() { // set 1 second timeout for having all fonts loaded
		heightsEqualizer('.js-equal-height');
	}, 1000);
</script>
<script type="text/javascript">

			$("#category-tabs").tabs();

</script>

<script>
function comparedeny(){
  var nocomparelist = "";
$.each($('.wk_title'), function () { 
  
  if($(this).is(':contains("PB-1000")'))  {
	  nocomparelist += 'PB-1000 <br>'
			}
			else if($(this).is(':contains("PB-2000")')) {
				nocomparelist += 'PB-2000 <br>'
				}
				else if($(this).is(':contains("PB12-Plus")')) {
					nocomparelist += 'PB12-Plus <br>'
					}
					else if($(this).is(':contains("PB13-Ultra")')) {
						nocomparelist += 'PB13-Ultra <br>'
						}
						else if($(this).is(':contains("SB-1000")')) {
							nocomparelist += 'SB-1000 <br>'
							}
							else if($(this).is(':contains("SB-2000")')) {
								nocomparelist += 'SB-2000 <br>'
								}
								else if($(this).is(':contains("SB13-Ultra")')) {
									nocomparelist += 'SB13-Ultra <br>'
									}
									else if($(this).is(':contains("PC-2000")')) {
										nocomparelist += 'PC-2000 <br>'
										}
										else if($(this).is(':contains("PC12-Plus")')) {
											nocomparelist += 'PC12-Plus <br>'
											}
											else if($(this).is(':contains("PC13-Ultra")')) {
												nocomparelist += 'PC13-Ultra <br>'
											}
  else if($(this).is(':contains("SB16-Ultra")')) {
												nocomparelist += 'SB16-Ultra <br>'
											}
  else if($(this).is(':contains("PB16-Ultra")')) {
												nocomparelist += 'PB16-Ultra <br>'
											}

});
  if (nocomparelist !=""){
    WK_PC.showPopup('Oops! We’re not able to compare speakers and subwoofers','Please remove:<br><br>' + nocomparelist);
	setTimeout(function() {
      $checkbox.removeAttr('checked');
    }, 0);
    event.preventDefault();
    event.stopPropagation();
	}
};
	var checkExist = setInterval(function() {
		if ($(".wk_product_comparison input[type='checkbox']").length) {
			
			$(".wk_product_comparison input[type='checkbox']").click(function(){ comparedeny(); });
          
			clearInterval(checkExist);
			}
			}, 500); // check every 100ms
			
</script>
<script>
  $(".reload").click(function(){
location.reload();
});
</script>
