{{ '4000-stylesheet.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap-tooltips-popover.min.js' | asset_url | script_tag }}

<section class="cat-4000-intro">
  <div class="wrap">
      <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/4000-hero.png?9214504556061581703" class="hero-4000">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-7 col-md-6 col-lg-5 intro-copy">
                  <h1> New! SVS 4000 Series Subwoofers. </h1>
                  <h2> Reference Quality Bass, Groundbreaking SVS Value. </h2>
                  <p>
                    SVS 4000 Series subwoofers demolish all preconceived notions about subwoofer performance and technology by unleashing reference caliber bass at a breakthrough value. With trickle down technology from the 16-Ultra Series, named top subwoofers in the world by nearly every audio publication and industry group, the 4000 Series obliterate expectations and deliver a level of unrivaled subwoofer performance only available from SVS. Earth-shaking SPLs, jaw-dropping deep bass extension, pinpoint control and accuracy with sophisticated control; all the hallmarks of a reference subwoofer are embodied in the SVS 4000 Series.                  </p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="cat-4000-prod-callouts">
  <div class="wrap">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <h1> Bottomless Low Frequency Extension & Massive Output with Pinpoint Control & Accuracy. </h1>
              </div>

              <div class="col-sm-4">
                <div data-match-height="prod-call-img" class="match-height">  <div class="centering"> <a href="/products/sb-4000" onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'SB-4000 - Image Top');"><img class="prod-img-sb"  src="https://cdn.shopify.com/s/files/1/0921/3560/files/sb-4000_pg_hero.png?8419356054649115425"></a></div></div>
                  <h3> SB-4000 Subwoofer </h3>
                  <p data-match-height="prod-call-para">
                      Chest-thumping slam and extreme low frequency extension with pinpoint accuracy and refined musicality, sets all performance benchmarks and leaves larger and more expensive subs trembling in its wake.
                  </p>
                  <p class="price hideRU"> From $1499.99</p>
                  <a href="/products/sb-4000" class="cta-outline" onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Learn More - SB-4000');"> Learn More </a>
                <form class="hideRU" method="post" name="addtocart" action="/cart/add">
                    <input type="hidden" name="id" value="1094446809113" />
                    <a href="#" class="cta-full cart-addon" onclick="$(this).closest('form').submit(); ga('send', 'event', '4000 Series Category Page', 'Click', 'Buy Now - SB-4000'); return false; " data-product-id="120385732633" data-product-variant-id="1094446809113" data-product-title="SB-4000" data-product-type="Subwoofer"> Add to Cart </a>
                  </form>
         
              </div>
              <div class="col-sm-4">
                <div data-match-height="prod-call-img" class="match-height"><div class="centering"> <a href="/products/pb-4000" onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'PB-4000 - Image Top');"><img class="prod-img-pb" src="https://cdn.shopify.com/s/files/1/0921/3560/files/4000_series_pg_hero_reflected.png?8419356054649115425"></a> </div></div>
                  <h3> PB-4000 Subwoofer </h3>
                  <p data-match-height="prod-call-para">
                      Staggering low-frequency output and subterranean deep bass extension down to 13Hz with an amazing degree of subtlety and finesse to thrill both action movie buffs and ardent audiophiles.
                  </p>
                  <p class="price hideRU"> From $1899.99</p>
                  <a href="/products/pb-4000" class="cta-outline" onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Learn More - PB-4000');"> Learn More </a>
                <form class="hideRU" method="post" name="addtocart" action="/cart/add">
                    <input type="hidden" name="id" value="1093395152921" />
                    <a href="#" class="cta-full cart-addon" onclick="$(this).closest('form').submit(); ga('send', 'event', '4000 Series Category Page', 'Click', 'Buy Now - PB-4000'); return false; " data-product-id="120350441497" data-product-variant-id="1093395152921" data-product-title="PB-4000" data-product-type="Subwoofer"> Add to Cart </a>
                  </form>
                  <p style="color: red; margin-top: 5px; font-size: 14px;"> Black Ash shipping now, Piano gloss will resume shipping December 29th. </p>
              </div>
              <div class="col-sm-4">
                <div data-match-height="prod-call-img" class="match-height"><div class="centering"> <a href="/products/pc-4000" onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'PC-4000 - Image Top');"><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/pc-4000_iso.png?8419356054649115425"></a> </div></div>
                  <h3> PC-4000 Subwoofer </h3>
                  <p data-match-height="prod-call-para">
                      With a footprint measuring just 16-inches in diameter, the iconic cylinder subwoofer design is only available from SVS, and achieves unparalleled low frequency output and deep bass extension per inch of floor-space.
                  </p>
                  <p class="price hideRU"> From $1799.99</p>
                  <a href="/products/pc-4000" class="cta-outline" onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Learn More - PC-4000');"> Learn More </a>
                <form class="hideRU" method="post" name="addtocart" action="/cart/add">
                    <input type="hidden" name="id" value="1089347813401" />
                    <a href="#" class="cta-full cart-addon" onclick="$(this).closest('form').submit(); ga('send', 'event', '4000 Series Category Page', 'Click', 'Buy Now - PC-4000'); return false; " data-product-id="119942709273" data-product-variant-id="1089347813401" data-product-title="PC-4000" data-product-type="Subwoofer"> Add to Cart </a>
                  </form>
                  <p style="color: red; margin-top: 5px; font-size: 14px;"> Pre-order now, PC-4000 starts shipping January 15. </p>
              </div>

          </div>
      </div>
  </div>
</section>

<section class="cat-4000-tooltips">
  <div class="wrap">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                <h1> Flawless Bass Response from Performance Driven SVS Design Innovation. </h1>
                <p class="caption"> Click the callouts to learn about innovative 4000 Series technology that pushes the limits of subwoofer performance. </p>
              </div>
              <div class="col-sm-12 tooltip-wrap">

                  <!-- Callout 1 -->
                  <a onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Callout 1: Sledge 1,200 Watts RMS, 4,200 Watts Peak Power Amplifier');" tabindex="0" class="tooltip-button callout-1 featured" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                  title=""
                  data-content="Conservatively rated at 1,200 watts RMS, 4,000+ watts peak power, the 4000 Series <strong>Sledge STA-1200D Amplifier</strong> combines the efficiency of a Class D amplifier with the ability to move nearly limitless amounts of current through the fully discrete MOSFETs. The result is massive and effortless power with pinpoint control and accuracy at all drive levels."> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/tooltip.png?7979886747517169312"> Sledge 1,200 Watts RMS, 4,200 Watts Peak Power Amplifier </a>

                  <!-- Callout 2 -->
                  <a onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Callout 2: High-Excursion 13.5-inch SVS Driver');"tabindex="0" class="tooltip-button callout-2" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                  title=""
                  data-content="A composite cone with premium glass fiber dustcap on the <strong>High Excursion 13.5-inch SVS Driver</strong> generates massive output with pinpoint accurate frequency response and speed in transients. A proprietary injection molded gasket and long-throw parabolic surround enable extreme excursion and SPLs while ensuring longevity even with the most demanding content over long periods of time."> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/tooltip.png?7979886747517169312"> High-Excursion 13.5-inch SVS Driver </a>

                  <!-- Callout 3 -->
                  <a onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Callout 3: Proprietary 4000 Series Driver Motor');"tabindex="0" class="tooltip-button callout-3" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                  title=""
                  data-content="The massive <strong>proprietary 4000 series driver motor</strong> weighs nearly 50 lbs., more than most complete subwoofers, and generates incredible electromagnetic force to produce room-energizing SPLs and fathomless deep bass extension while maintaining precise control of the 13.5-inch driver even at reference listening levels with content that hits below 20 Hz, the threshold of human hearing."> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/tooltip.png?7979886747517169312"> Proprietary 4000 Series Driver Motor  </a>

                  <!-- Callout 4 -->
                  <a onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Callout 4: 50 Mhz Analog Devices Audio DSP');"tabindex="0" class="tooltip-button callout-4 featured" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                  title=""
                  data-content="The most advanced processor ever used in a consumer subwoofer, a <strong>50 Mhz High Resolution Analog Devices Audio DSP</strong>, allows the 4000 Series to blend with any speakers and maintain pristine sound quality through advanced in-room tuning, optimized frequency response curves, powerful DSP controls and more."><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/tooltip.png?7979886747517169312"> 50 Mhz Analog Devices Audio DSP </a>

                  <!-- Callout 5 -->
                  <a onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Callout 5: SVS Subwoofer Smartphone App');"tabindex="0" class="tooltip-button callout-5" role="button" data-toggle="popover" data-trigger="focus" data-placement="top"
                  title=""
                  data-content="Groundbreaking <strong>SVS Subwoofer Smartphone App</strong> is the easiest way ever to manage a subwoofer’s performance. The app works with Apple iOS® and Android® devices to unleash the full depth, force and nuance of the 4000 Series subwoofers by controlling all DSP functions including: volume, parametric EQ, low pass filter, phase, polarity, room gain, port tuning, system settings and more. Features custom presets for easy one-touch tuning and connects via Bluetooth for control when out of sight."> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/tooltip.png?7979886747517169312"> SVS Subwoofer Smartphone App </a>

                  <!-- Callout 6 -->
                  <a onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Callout 6: Advanced Power Management & Protection');"tabindex="0" class="tooltip-button callout-6 featured" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                  title=""
                  data-content="<strong>Active Power Factor Correction (PFC)</strong> serves as a line conditioner, surge suppressor and voltage regulator so the amplifier can handle wide voltage fluctuations and power the subwoofers flawlessly on any household circuit no matter how unstable the incoming current. An isolated circuit within the subwoofer amplifier creates a vanishingly low noise floor."> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/tooltip.png?7979886747517169312"> Advanced Power Management & Protection </a>

                  <!-- Callout 7 -->
                  <a onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Callout 7: Rigidly Braced & Precisely Tuned Cabinet');"tabindex="0" class="tooltip-button callout-7" role="button" data-toggle="popover" data-trigger="focus" data-placement="top"
                  title=""
                  data-content="Double-thick MDF and extensive internal bracing in the painstakingly designed <strong>SVS 4000 Series Cabinet Designs</strong> produce a resonance-free environment that serves as a blank canvas for uncompromised subwoofer performance. The inlaid front panel display enhances usability, while rounded edges and a protective metal grille provide a refined yet commanding look that blends visually with home theaters and high-end audio systems."><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/tooltip.png?7979886747517169312">  Rigidly Braced & Precisely Tuned Cabinet </a>

                  <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/pb-4000_exploded_final_fb3470d1-e085-47a9-a0cd-a5a2d526d70a.png?5656489051851278419" class="exploded-view">
              </div>
          </div>
      </div>
  </div>
</section>

<section class="cat-4000-video">
  <div class="wrap">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <h1> SVS 4000 Series Technology Overview.  </h1>
                  <div class="youtube-player"> <iframe width="560" height="315" src="https://www.youtube.com/embed/riKponPDwP4" frameborder="0" allowfullscreen></iframe> </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="cat-4000-all-series">
  <div class="wrap">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <h1> Browse all award-winning SVS subwoofers. </h1>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <div data-match-height="browse-img" class="match-height"> <div class="centering"> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/browse-1k.png?14762229177916157921"> </div> </div>
                  <h3> 1000 Series </h3>
                  <p data-match-height="browse-p">
                      The SVS 1000 Series changed the game by bringing legitimate, world-class subwoofer performance to a new level of affordability and serve as the sonic foundation of any music or home theater system.
                  </p>
                  <p class="price hideRU"> From $499.99</p>
                  <a href="/pages/subwoofers#1000-series" class="cta-80" onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Award Winning Subwoofers - 1000 Series');"> Learn More </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <div data-match-height="browse-img" class="match-height"> <div class="centering"> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/browse-2k.png?14762229177916157921"> </div> </div>
                  <h3> 2000 Series </h3>
                  <p data-match-height="browse-p">
                      Featuring award-winning technology from the Ultra Series, the 2000 Series are the best-selling SVS subwoofers for their rare combination of effortless power, transient speed, intelligent processing, and innovative driver design.
                  </p>
                  <p class="price hideRU"> From $699.99 </p>
                  <a href="/pages/subwoofers#2000-series" class="cta-80" onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Award Winning Subwoofers - 2000 Series');"> Learn More </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <div data-match-height="browse-img" class="match-height"> <div class="centering"> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/browse-plus.png?14762229177916157921"> </div> </div>
                  <h3> Plus Series </h3>
                  <p data-match-height="browse-p">
                      The Plus Series performance approaches the Ultra Series and handles the most demanding low frequency content with ease. Subwoofer output and extension is on par with the best powered home subwoofers in the world.
                  </p>
                  <p class="price hideRU"> From $1,199.99 </p>
                  <a href="/pages/subwoofers#plus-series" class="cta-80" onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Award Winning Subwoofers - Plus Series');"> Learn More </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <div data-match-height="browse-img" class="match-height"> <div class="centering"> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/browse-16u.png?14762229177916157921"> </div></div>
                  <h3> 16-Ultra Series </h3>
                  <p data-match-height="browse-p">
                      The pinnacle of SVS Subwoofer design, the Ultra Series set the standard for performance at any price pushing every boundary as the most awarded and best reviewed home subwoofers in existence.
                  </p>
                  <p class="price hideRU"> From $1,999.99 </p>
                  <a href="/pages/subwoofers#ultra-series" class="cta-80" onclick="ga('send', 'event', '4000 Series Category Page', 'Click', 'Award Winning Subwoofers - 16-Ultra Series');"> Learn More </a>
              </div>
          </div>
      </div>
  </div>
</section>

<script>
    $(function () {
      $('[data-toggle="popover"]').popover({'html' : true});
    });


</script>
