{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}
<style>
  .ultra16image {
    float:left;
    width:191px;
    margin-right:20px
  }
  h2 {
    padding-bottom:10px;padding-top:5px
  }
  .noshow {display:none}
  .contestimage {
    float:right;
    max-width:400px;
    margin-left:30px
  }
  .showall {
    text-align:center;
    border-top: 1px solid #777;
    padding-top:10px;
    margin-top:10px
  }
  .showall span {
    text-align:center;
    margin:0 auto;
    color:#ff4500;
    cursor:pointer
  }
  @media (max-width: 880px) {
    .contestimage {
      max-width:300px;
    }
  }
  @media (max-width: 600px) {
    .contestimage {
      float:none;
      clear:both;
      width:100%;
      max-width:100%;
      margin:10px 0 10px 0;
    }
    .ultra16image {
      float:none;
      clear:both;
      width:100%;
      max-width:100%;
      margin: 10px 0 10px 0;
    }
  }
</style>
<section>
    <div class="wrap padtopnone">
      <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/event-brite-header-2.jpg?6006570330890684932" style="max-width:70%; margin:0 auto;display:block;clear:both;float:none;margin-bottom:20px">
      <p>SVS will make a major announcement on November 29 that will shake the audio world to its foundation. To kick it off and celebrate with you, we’re hosting a series of free launch events with massive prize giveaways and stunning home theater demos led by SVS president Gary Yacoubian and featuring top secret new products. Check the dates and locations below to join us for these seismic events!</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      
      <div class="event-wrap" data-match-height="row-2">
                      <h3> Starpower </h3>
                      <p class="location"> Dallas, Texas</p>
                      <p class="date"> December 7, 2017, 6-8 PM</p>
               <a href="https://www.eventbrite.com/e/svs-and-starpower-top-secret-launch-event-tickets-39662768408" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Launch Event - Starpower - RSVP Click');" target="_blank">RSVP</a>
                </div>
      <div class="event-wrap" data-match-height="row-1">
                      <h3> WorldWideStereo </h3>
                      <p class="location"> Montgomeryville, Pennsylvania</p>
                      <p class="date"> December 14, 2017, 6-8 PM</p>
               <a href="https://www.eventbrite.com/e/svs-and-worldwidestereo-top-secret-launch-event-tickets-39624839963" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Launch Event - WorldWideStereo - RSVP Click');" target="_blank">RSVP</a>
                </div>
      <div class="event-wrap" data-match-height="row-1">
                      <h3> Starpower </h3>
                      <p class="location"> Phoenix, Arizona</p>
                      <p class="date"> January 25, 2017, 6-8 PM</p>
               <a href="https://www.eventbrite.com/e/svs-and-starpower-earth-shaking-4000-series-launch-event-tickets-41112746331" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Launch Event - Starpower - January 25,2018 - RSVP Click');" target="_blank">RSVP</a>
                </div>
      
              
              
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      
      <div class="event-wrap" data-match-height="row-2">
                      <h3> Primetime Audio Video </h3>
                      <p class="location"> Rockford, Illinois</p>
                      <p class="date"> December 12, 2017, 6-8 PM</p>
               <a href="https://www.eventbrite.com/e/svs-and-primetime-audio-video-top-secret-launch-event-tickets-39663089368" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Launch Event - PrimeTime - RSVP Click');" target="_blank">RSVP</a>
                </div>
      <div class="event-wrap" data-match-height="row-1">
                      <h3> Bjorn's Audio Video </h3>
                      <p class="location"> San Antonio, Texas</p>
                      <p class="date"> January 18, 2018, 6-8 PM</p>
               <a href="https://www.eventbrite.com/e/svs-and-bjorns-audio-video-top-secret-launch-event-tickets-39916071043" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Launch Event - Bjorns - RSVP Click');" target="_blank">RSVP</a>
                </div>
      
              
              
    </div>
  </div>
      </div>
        <h2 style="padding-top:60px"> SVS Worldwide Events </h2>
        <p>
          Join SVS as we unleash our speakers, subwoofers and home theater systems around the globe at consumer events, product launch parties, industry trade shows and other rocking venues. 
        </p>
      <p>
        Meet SVS team members and experience world-class SVS speakers and subwoofers alongside other passionate audio fans. Enjoy giveaways, exclusive demo material and valuable audio insights from SVS president Gary Yacoubian and the rest of the SVS team.
      </p>

        <div class="grid-2" style="clear:both">
            <div class="event-wrap" data-match-height="row-1">
                      <h3> International CES </h3>
                      <p class="location"> Las Vegas, Nevada</p>
                      <p class="date"> January 9-12, 2018</p>
               <a href="http://www.ces.tech/" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'International CES - January 9-12 - More Info Click');" target="_blank">More Info</a>
                </div>

              
              <div class="noshow">
                <div class="event-wrap">
                      <h3> IQ Home Entertainment  </h3>
                      <p class="location"> Fairfax, Virginia </p>
                      <p class="date"> November 29, 2017, 6-8 PM</p>
            <!--   <a href="https://www.eventbrite.com/e/svs-iq-home-entertainment-top-secret-launch-event-tickets-39549968019" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Launch Event - IQ - RSVP Click');" target="_blank">RSVP</a> -->
                </div>
                <div class="col-1-2">
              <div class="event-wrap">
                      <h3> High End Audio Video Show </h3>
                      <p class="location"> Warsaw, Poland</p>
                      <p class="date"> November 17-19, 2017</p>
          <!--     <a href="http://www.audioshow.pl/" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'High End -November 17-19 - More Info Click');" target="_blank"> More info</a> -->
                </div>
                <div class="event-wrap">
                      <h3> Audio Video Trend &amp; HiFi Show </h3>
                      <p class="location"> Budapest, Hungary</p>
                      <p class="date"> November 11-12, 2017</p>
             <!--  <a href="http://www.audiovideo-trend.hu/kiallitas-2017.html" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'HiFi Show - November 11-12 - More Info Click');" target="_blank">More Info</a> -->
                </div>
              <div class="event-wrap">
                      <h3> Deutsche Hifi Tage  </h3>
                      <p class="location"> Darmstadt, Germany </p>
                      <p class="date"> October 21-22, 2017</p>
            <!--   <a href="http://www.hifitage.de/" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Deutsche Hifi Tage - October 21-22 - More Info Click');" target="_blank">More Info</a> -->
                </div>
                 <div class="event-wrap">
                      <h3> Son &amp; Image  </h3>
                      <p class="location"> Paris, France </p>
                      <p class="date"> October 14-15, 2017</p>
             <!--  <a href="http://www.sonimage.com/" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Son &amp; Image - October 14-15 - More Info Click');" target="_blank">More Info</a> -->
                </div>
                <div class="event-wrap">
                      <h3> Hi-Fi Sales </h3>
                      <p class="location"> Cherry Hill, NJ</p>
                      <p class="date"> June 15, 6-8 PM</p>
               <!-- <a href="https://www.eventbrite.com/e/svs-and-hi-fi-sales-earth-shaking-launch-event-tickets-34547243736" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Hi-Fi Sales - June 15th - RSVP Click');" target="_blank">RSVP Now!</a> -->
                </div>
              <div class="event-wrap">
                      <h3> Huppin's </h3>
                      <p class="location"> Spokane, WA </p>
                      <p class="date"> April 20, 6-8 PM</p>
                <!--<a href="https://www.eventbrite.com/e/svs-and-huppins-earth-shaking-subwoofer-launch-event-tickets-32413583902" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Huppins - April 20,2017 - RSVP Click');" target="_blank"> RSVP Now </a> -->
                </div>
              <div class="event-wrap">
                      <h3> World Wide Stereo </h3>
                      <p class="location"> Montgomeryville, PA </p>
                      <p class="date"> March 29, 2017, 6-8 PM</p>
               <!-- <a href="https://www.eventbrite.com/e/svs-and-worldwidestereo-earth-shaking-subwoofer-launch-event-tickets-32248611465"onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Worldwide Stereo - March 29,2017 - RSVP Click');"> RSVP Now </a> -->
                </div>
              <div class="event-wrap">
                      <h3> Bjorn's Audio-Video </h3>
                      <p class="location"> San Antonio, TX </p>
                      <p class="date"> March 21, 6-8 PM</p>
                <!--<a href="https://www.eventbrite.com/e/svs-and-bjorns-audio-video-earth-shaking-subwoofer-launch-event-tickets-32174416546" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Bjorns - March 21,2017 - RSVP Click');" target="_blank"> RSVP Now </a>-->
                </div>
              <div class="event-wrap">
                    <h3> Sound & Vision </h3>
                    <p class="location"> Cuyahoga Falls, OH </p>
                    <p class="date"> December 7, 6 - 8 PM </p>
                  <!-- <a href="https://www.facebook.com/events/1669152763376599/"> RSVP Now </a>-->
                </div>
              <div class="event-wrap">
                    <h3> World Wide Stereo </h3>
                    <p class="location"> Ardmore, PA </p>
                    <p class="date"> October 26, 6 - 8 PM </p>
                    <!-- <a href="https://www.eventbrite.com/e/svs-world-wide-stereo-earth-shaking-launch-event-tickets-28510820632" target="_blank"> RSVP Now </a> -->
                </div>
              <div class="event-wrap">
                    <h3> ListenUp </h3>
                    <p class="location"> Colorado Springs, CO </p>
                    <p class="date"> October 20, 6 - 8 PM </p>
                    <!-- <a href="https://www.eventbrite.com/e/svs-listenup-rock-the-rockies-tickets-28295805516" target="_blank"> RSVP Now </a> -->
                </div>
                <div class="event-wrap">
                    <h3> Electronics Expo </h3>
                    <p class="location"> Wayne, NJ </p>
                    <p class="date"> October 13, 6 - 8 PM </p>
                   <!-- <a href="https://www.eventbrite.com/e/svs-electronics-expo-earth-shaking-launch-event-tickets-28200523525" target="_blank"> RSVP Now </a> -->
                </div>
                  <div class="event-wrap">
                      <h3> Nebraska Furniture Mart  </h3>
                      <p class="location"> Omaha, Nebraska </p>
                      <p class="date"> October 18, 2017, 6-8 pm</p>
            <!--   <a href="https://www.facebook.com/events/1747546955548791/" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Nebraska Furniture Mart - October 18, 2017 - More Info Click');" target="_blank">More Info</a> -->
                </div>
              </div>
            </div>
          

            <div class="col-1-2">
              
              <div class="noshow">
                <div class="event-wrap">
                      <h3> Electronics Expo  </h3>
                      <p class="location"> Wayne, New Jersey </p>
                      <p class="date"> December 5, 2017, 6-8 PM</p>
             <!--  <a href="https://www.eventbrite.com/e/svs-and-electronics-expo-top-secret-launch-event-tickets-39663264893" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Launch Event - Electronics Expo - RSVP Click');" target="_blank">RSVP</a> -->
                </div>
                
                <div class="event-wrap" >
                      <h3> Rocky Mountain Audio Fest </h3>
                      <p class="location"> Denver, CO</p>
                      <p class="date"> October 6-8, 2017</p>
           <!--    <a href="https://www.audiofest.net/" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Rocky Mountain Audio Fest - October 6-8 - More Info Click');" target="_blank"> More info </a> -->
                </div>
              <div class="event-wrap" >
                      <h3> HiFi Expo </h3>
                      <p class="location"> Helsinki, Finland</p>
                      <p class="date"> September 15-17, 2017</p>
               <!--<a href="http://hifiexpo.messukeskus.com/" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'HiFi Expo - September 15-17 - More Info Click');" target="_blank"> More info </a> -->
                </div>
                <div class="event-wrap" >
                      <h3> High End 2017 </h3>
                      <p class="location"> Munich, Germany</p>
                      <p class="date"> May 18-21, Booth Location: Halle 4 / U12</p>
               <!-- <a href="http://www.highendsociety.de/index.php/en/high-end.html" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Huppins - April 20,2017 - RSVP Click');" target="_blank"> Come Visit Us! </a> -->
                </div>
              <div class="event-wrap" >
                      <h3> ListenUP </h3>
                      <p class="location"> Albuquerque, NM </p>
                      <p class="date"> April 12, 6-8 PM</p>
                <!-- <a href="https://www.eventbrite.com/e/svs-listenup-earth-shaking-subwoofer-launch-event-tickets-32415529722" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Listen Up - April 12, 2017 - RSVP Click');" target="_blank"> RSVP Now </a>   -->
                </div>
              <div class="event-wrap">
                      <h3> Montreal Audio Fest </h3>
                      <p class="location"> Montreal, Québec, Canada </p>
                      <p class="date"> March 24-26, Booth Location: Room 2334</p>
               <!-- <a href="http://en.montrealaudiofest.org/" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'Montreal Audio Fest - March 24,2017 - RSVP Click');" target="_blank"> Come Visit Us! </a> -->
                </div>
              <div class="event-wrap">
                      <h3> The Little Guys </h3>
                      <p class="location"> Mokena, IL </p>
                      <p class="date"> January 19, 2017, 6-8pm </p>
                      <!--<a href="https://www.eventbrite.com/e/svs-and-the-little-guys-earth-shaking-launch-event-tickets-30498346375"> RSVP Now </a> -->
                </div>
                <div class="event-wrap">
                    <h3> Primetime Audio Video </h3>
                    <p class="location"> Rockford, IL </p>
                    <p class="date"> January 18, 6-8pm </p>
                  <!--  <a href="https://www.eventbrite.com/e/svs-and-primetime-av-earth-shaking-launch-event-tickets-30497323315"> RSVP Now </a> -->
                </div>
                <div class="event-wrap">
                    <h3> World Wide Stereo </h3>
                    <p class="location"> Montgomeryville, PA </p>
                    <p class="date"> October 27, 6 - 8 PM </p>
                  	<!-- <a href="https://www.eventbrite.com/e/svs-and-world-wide-stereo-earth-shaking-launch-event-tickets-28510845707" target="_blank"> RSVP Now </a> -->
                </div>
              <div class="event-wrap">
                    <h3> IQ Home Entertainment </h3>
                    <p class="location"> Fairfax, VA </p>
                    <p class="date"> October 25, 6 - 8 PM </p>
                    <!-- <a href="https://www.eventbrite.com/e/svs-iq-home-entertainment-earth-shaking-launch-event-tickets-28423429242" target="_blank"> RSVP Now </a> -->
                </div>
                <div class="event-wrap">
                    <h3> ListenUp </h3>
                    <p class="location"> Boulder, CO </p>
                    <p class="date"> October 19, 6 - 8 PM </p>
                  <!--  <a href="https://www.eventbrite.com/e/svs-listenup-rock-the-rockies-tickets-28295351157"> RSVP Now </a> -->
                </div>
              <div class="event-wrap">
                    <h3> ListenUp </h3>
                    <p class="location"> Denver, CO </p>
                    <p class="date"> October 18, 6 – 8 PM</p>
                   <!-- <a href="https://www.eventbrite.com/e/svs-listenup-rock-the-rockies-tickets-27893186271" target="_blank"> RSVP Now </a> -->
                </div>
                <div class="event-wrap">
                      <h3> Moscow High-End Show </h3>
                      <p class="location"> Moscow, Russia</p>
                      <p class="date"> November 10-12, 2017</p>
             <!--  <a href="http://www.hiendshow.ru/en" onclick="ga('send', 'event', 'VIP Events Page', 'Click', 'High End -November 10-12 - More Info Click');" target="_blank"> More info </a> -->
                </div>
              
              </div>
              
                
            </div>
        </div>
      
      <div class="showall">
      <span onclick="$( '.noshow' ).toggle();$( '.showall' ).hide();ga('send', 'event', 'VIP Events Page', 'Click', 'Show All Click');">Show Past Events</span>
      </div>
    </div>
</section>
