{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

<section class="full-column first-section">
	<div class="wrap">

		<h1 class="full-column__heading">Add feeling to all your listening experiences with deep, tight and room-energizing bass from an SVS subwoofer.  </h1>

	</div>
</section>

<section class="three-up">
	<div class="wrap">
	
		<h2 class="three-up__heading">Perfect Bass Awaits</h2>

		<div class="column">
        	<a href="/collections/sealed-subwoofers" alt=""><img src="{{ 'lp-merlin.jpg' | asset_url }}" ></a>
			<h3 class="three-up__heading">Merlin Subwoofer Selection Tool</h4>
			<p>SVS has the perfect subwoofer for every speaker system. Use our Merlin tool to find the best match for your speakers in seconds.</p>
			<a href="/collections/sealed-subwoofers" class="learn-more">Learn More</a>
		</div>
		<div class="column">
			<a href="/collections/ported-subwoofers" alt=""><img src="{{ 'lp-sealed.jpg' | asset_url }}" ></a>
			<h3 class="three-up__heading">SVS Sealed Subwoofers</h3>
			<p>Forceful and articulate, SVS sealed subwoofers excel with incredible musicality and quickness, and are more compact for easier room integration.</p>
			<a href="/collections/ported-subwoofers" class="learn-more">Learn More</a>
		</div>
		<div class="column">
			<a href="/collections/cylinder-subwoofers" alt=""><img src="{{ 'lp-ported.jpg' | asset_url }}" ></a>
			<h3 class="three-up__heading">SVS Ported Subwoofers</h3>
			<p>Delivering effortless bass, SVS ported subwoofers offer slightly higher output and deeper bass extension.</p>
			<a href="/collections/cylinder-subwoofers" class="learn-more">Learn More</a>
		</div>

	</div>
</section>