{% if page.title contains 'Merlin' %}
	{% assign title = '' %}
{% else %}
	{% assign title = page.title %}
{% endif %}
<style>
  .cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
  a.button-std {font-family:'Open Sans', Helvetica, Arial, Sans-Serif;font-weight:800;text-transform:uppercase;font-size:14px;text-align:center;white-space:nowrap;
  				vertical-align:middle;text-decoration:none;position:relative;display:inline-block;padding: 10px 49px 10px 35px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent; margin-top:15px}
  a.button-std:after {    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f101";
    font-size: 20px;
    position: absolute;
    margin-left: 7px;
    top: 9px;}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.differencep {font-family:'Open Sans',arial,sans-serif !important;font-size:12px !important; font-weight:normal !important;font-style:italic !important;line-height:16px !important; text-align:center !important;margin-top:10px !important}
.experiencedivleft {float:left;width:200px; padding-right:10px}
.experiencediv {float:left;width:200px;padding-left:10px;padding-right:10px}
.experiencedivright {float:left;width:200px;padding-left:10px}
.experiencep {font-size:12px !important;font-family:'Open Sans', arial, sans-serif !important; font-weight:normal !important; line-height:18px !important;text-align:center;padding-top:20px !important}
.col-third img {
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
}
.sb {
    max-width: 60%;
    margin-top: 65px!important;
}
.pc {
    max-width: 35%;
    margin-top: 1px!important;
}
.prime {
    max-width: 75%;
}
.lp-badges {
    width: 310px;
    float: right;
    border-left: 1px solid #e2e2e2;
    margin-left: 25px;
    padding-left: 10px;
}
.lp-badges h4 {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 18px;
    width: 215px;
    float: left;
font-family: 'Open Sans';
margin: 23px 0 0 0;
}
.aud img, .cust img {
    float: left;
}
.header {
    height: 350px!important;
}
.header h1 {
    z-index: 99;
}
.section-three {
    padding: 50px!important;
}
.col-wrap {
    padding: 15px 0;
}
.be-immersed p {
    font-family: 'Open Sans', Helvetica, Arial!important;
    font-size: 16px!important;
    line-height: 24px!important;
}
.section-two {
    background: #f3f3f3;
    padding: 50px;
    position: relative;
}
.button-std {
    background: #346cb1!important;
    color: #fff!important;
    margin-top: 15px;
}
.button-long {
    width: 343px;
}
.col-half {
    float: left;
    width: 427px;
}
.col-third {
    float: left;
    width: 280px;
}
.pad-right {
    padding-right: 15px;
}
.float-right {
    float: right;
}
.be-immersed p.pull-q {
    font-size: 20px!important;
    line-height: 34px!important;
    padding: 20px 0;
    font-style: italic;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    letter-spacing: -1px;
    text-align: center;
    margin: 15px 0;
}
.quote {
    border-top: 1px solid #e5e5e5;
    text-align: center;
   padding: 15px 0 0 0;
}
.reviewer {
    font-weight: 700;
    text-align: center;
    font-style: italic;
    padding: 10px 0 0 0;
}
.be-immersed p.call-out {
    font-size: 20px!important;
    line-height: 34px!important;
    letter-spacing: -1px;
    text-align: center;
    margin: 15px 0;
}
hr.shadow-bottom {
    position: absolute;
    top: 0; left: 0;
    opacity: 0.3;
}
hr.shadow-top{
    position: absolute;
    bottom: 0; left: 0;
    opacity: 0.3;
}
</style>

<div class="header" style="width:970px; margin:0 auto">
	<img src="https://system.na1.netsuite.com/core/media/media.nl?id=83267&c=3634088&h=7e8a256d25131508d796">
</div>
<section style="width:970px; margin:0 auto">
	<div class="wrap">
		<div class="span12">


          <div class="article-wrapper">

              <div class="section cf">

                  <p style="text-align:center;font-size:18px; font-family:'Open Sans', arial, sans-serif; line-height:30px; margin-top:10px; margin-bottom:25px">
                      Every home deserves an audio system that suspends reality, drawing you<br> more deeply into entertainment experiences. 
                  </p>
          <div class="cf">
          <a href="/pages/speakers"><img src="https://system.na1.netsuite.com/core/media/media.nl?id=83788&c=3634088&h=69fba792b5b8bff845a6" style="float:left"></a>
          <a href="/pages/subwoofers"><img src="https://system.na1.netsuite.com/core/media/media.nl?id=83789&c=3634088&h=565a92a0b41bbefbaac7" style="float:right"></a>
          </div>
          <hr style="color:#e5e5e5; background-color:#e5e5e5; height:5px; border:none;margin-top:40px;margin-bottom:40px">
          <h1 style="font-size:36px; font-family:'Open Sans', arial, sans-serif; font-weight:normal;text-align:center">THE SVS EXPERIENCE</h1>
          <p style= "text-align:center;font-size:18px; font-family:'Open Sans', arial, sans-serif; line-height:30px">Sound quality and dynamics you never knew existed at prices never before<br> possible - SVS is making high-end audio a reality for everyone</p>
          <div style="border-top: solid thin #e5e5e5; margin-bottom:40px; margin-top:14px" class="cf">
          <div class="experiencedivleft">
          <img src="https://system.na1.netsuite.com/core/media/media.nl?id=83790&c=3634088&h=46aacc5a64f7f5d1447b">
          <p class="experiencep">Risk-free 45-day in-home listening trial with free shipping both ways</p>
          </div>
          <div class="experiencediv">
          <img src="https://system.na1.netsuite.com/core/media/media.nl?id=83791&c=3634088&h=2da3e8c24b9fca57bea6">
          <p class="experiencep">Smarter alternative to overpriced HiFi and lifeless mobile audio gear</p>
          </div>
          <div class="experiencediv">
          <img src="https://system.na1.netsuite.com/core/media/media.nl?id=83792&c=3634088&h=dd7ef01744e8d8138a4c">
          <p class="experiencep">Your ticket to more immersive, captivating and mesmerizing audio experiences, every day </p>
          </div>
          <div class="experiencedivright">
          <img src="https://system.na1.netsuite.com/core/media/media.nl?id=83793&c=3634088&h=f936f14fd175b0d7f718">
          <p class="experiencep">Knowledgeable SVS Sound Experts support for the life of your product</p>
          </div>
          </div>

              </div>
          </div>
          

		</div>
	</div>
  <img src="https://system.na1.netsuite.com/core/media/media.nl?id=83795&c=3634088&h=d7da6c6b29641203e413" style="margin-bottom:-5px">
          <img src="https://system.na1.netsuite.com/core/media/media.nl?id=83794&c=3634088&h=3370f0ef11e225ca1c76">

          <div class="cf col-wrap" style="margin-left:50px;margin-right:50px; margin-top:30px; padding-bottom:35px">
                      <div class="col-half">
                          <a href="/pages/speakers"><img src="https://system.na1.netsuite.com/core/media/media.nl?id=83270&c=3634088&h=bc321a756ade8ff99ab1"></a>
          <p class="differencep">SVS loudspeakers give you the highest level of sound quality at an unrivaled value. With speakers of all different shapes, sizes and prices, your perfect home theater, desktop, two-channel or other audio system awaits.</p>
                          <a href="/pages/speakers" class="button-std button-long"> HEAR THE DIFFERENCE </a>
                      </div>
                      <div class="col-half float-right">
                          <a href="/pages/subwoofers"><img src="https://system.na1.netsuite.com/core/media/media.nl?id=83269&c=3634088&h=4d0a009527b0ead7a9c0"></a>
          <p class="differencep">Deep, accurate, and authoritative, embrace true bass. SVS makes the best subwoofers, with low frequency performance that reveals sounds you never knew existed and reinvents your listening experience.</p>
                          <a href="/pages/subwoofers" class="button-std button-long"> FEEL THE DIFFERENCE </a>
                      </div>
                  </div>
</section>