<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='47756678-7',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<img src="{{ 'speaker-package-header-w.jpg' | asset_url }}" class="lp-header-img">
<div class="lp-gen-speakers-2016-wrap">
    <section class="">
        <div class="wrap">
            <div class="series">
                <div class="grid-2">
                    <div class="col-1-3 series">
                        <a href="/pages/prime-tower-surround-system" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Tower Surround Package');">
                            <h5 data-match-height="heading-1"> Prime Tower Surround Package <span class="italic"> $1,549.99</span> </h5>
                        </a>
                        <a href="/pages/prime-tower-surround-system" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Tower Surround Package');">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lifestyle-prime-tower-surround.jpg?11129977881189576643"> </a>
                        <p data-match-height="para-1">
                            Stunningly powerful surround sound speaker package with deep bass extension, pinpoint accuracy and lively dynamics normally reserved for the most expensive speakers in the world.
                        </p>
                        <a href="/pages/prime-tower-surround-system" class="cta-full-blue" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Tower Surround Package');"> Learn More </a>
                    </div>

                    <div class="col-1-3 series">
                        <a href="/pages/prime-bookshelf-surround-system" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Bookshelf Surround Package');">
                            <h5 data-match-height="heading-1"> Prime Bookshelf Surround Package <span class="italic"> $1,049.99</span> </h5>
                        </a>
                        <a href="/pages/prime-bookshelf-surround-system" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Bookshelf Surround Package');">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lifestyle-prime-bookshelf-surround.jpg?11129977881189576643"> </a>
                        <p data-match-height="para-1">
                            Décor and furniture friendly speaker package that delivers all the sonic impact, nuance and high end design elements of a world-class surround sound system at a more inclusive price.
                        </p>
                        <a href="/pages/prime-bookshelf-surround-system" class="cta-full-blue" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Bookshelf Surround Package');"> Learn More </a>
                    </div>

                    <div class="col-1-3 series">
                        <a href="/pages/prime-satellite-5-1" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Satellite 5.1 Package');">
                            <h5 data-match-height="heading-1"> Prime Satellite 5.1 Package <span class="italic"> $999.99</span> </h5>
                        </a>
                        <a href="/pages/prime-satellite-5-1" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Satellite 5.1 Package');">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lifestyle-prime-5-1.jpg?11129977881189576643"> </a>
                        <p data-match-height="para-1">
                            Upon hearing this compact 5.1 powerhouse, HomeTheaterReview remarked, “The king is dead, long live the new King!” There is simply no better satellite speaker and subwoofer surround package available.
                        </p>
                        <a href="/pages/prime-satellite-5-1" class="cta-full-blue" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Satellite 5.1 Package');"> Learn More </a>
                    </div>
                </div>
                <div class="grid-2 lp-margin-top">
                    <div class="col-1-3 series">
                        <a href="/pages/prime-satellite-2-1" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Satellite 2.1 Package');">
                            <h5 data-match-height="heading-2"> Prime Satellite 2.1 Package <span class="italic"> $699.99</span> </h5>
                        </a>
                        <a href="/pages/prime-satellite-2-1" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Satellite 2.1 Package');">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lifestyle-prime-2.1.jpg?11129977881189576643"> </a>
                        <p data-match-height="para-2">
                            Sonic dynamite in a super compact package, this 2.1 set-up is deceptively huge sounding and incredibly articulate. It punches way above its class and delivers an unbelievably dynamic experience in any room.
                        </p>
                        <a href="/pages/prime-satellite-2-1" class="cta-full-blue" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Prime Satellite 2.1 Package');"> Learn More </a>
                    </div>

                    <div class="col-1-3 series">
                        <a href="/pages/ultra-tower-surround-package" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Ultra Tower Surround Package');">
                            <h5 data-match-height="heading-2"> Ultra Tower Surround Package <span class="italic"> $3,699.99</span> </h5>
                        </a>
                        <a href="/pages/ultra-tower-surround-package" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Ultra Tower Surround Package');">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lifestyle-ultra-tower-surround.jpg?7642821073482327428"> </a>
                        <p data-match-height="para-2">
                            The pinnacle of SVS speaker design, the Ultra Tower Surround Package sets the standard for performance at any price and deliver stunningly impactful dynamics and exquisite surround effects and sound quality that rivals the best speaker systems in the world.
                        </p>
                        <a href="/pages/ultra-tower-surround-package" class="cta-full-blue" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Ultra Tower Surround Package');"> Learn More </a>
                    </div>

                    <div class="col-1-3 series">
                        <a href="/pages/ultra-bookshelf-surround-package" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Ultra Bookshelf Surround');">
                            <h5 data-match-height="heading-2"> Ultra Bookshelf Surround <span class="italic"> $2,699.99</span> </h5>
                        </a>
                        <a href="/pages/ultra-bookshelf-surround-package" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Ultra Bookshelf Surround');">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lifestyle-ultra-bookshelf-surround.jpg?7642821073482327428"> </a>
                        <p data-match-height="para-2">
                            Reaching a level of design, detail, and dynamics that puts most tower speaker systems to shame, the Ultra Bookshelf Surround Sound Package features uncompromised sound quality, stunning design and flexible placement options.
                        </p>
                        <a href="/pages/ultra-bookshelf-surround-package" class="cta-full-blue" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Ultra Bookshelf Surround');"> Learn More </a>
                    </div>
                </div>
            </div>
            <p class="lp-lfm">
                Not finding exactly what you want? Our Sound Experts will work with you to create a custom package that fits your exact needs. Reach them via chat, phone (877.626.5623), or email <a href="mailto:custservice@svsound.com">custservice@svsound.com</a> with any AV related questions.
            </p>
        </div>
    </section>

    <section class="blue-section">
        <div class="wrap">
            <div class="grid-2 merlin-cust">

                <div class="col-1-3" data-match-height="group-3">
                    <h5 data-match-height="heading">
                        <a href="/pages/bill-of-rights" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Bill of Rights');"> 45 Day Risk-Free In-Home Trial, Fast & Free Shipping and Returns </a>
                    </h5>
                    <p data-match-height="group-p">
                        All part of your Customer Bill of Rights, along with other benefits that extend before and after you choose SVS.
                    </p>
                    <a href="/pages/bill-of-rights" data-match-height="group-a" style="display: block;" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Bill of Rights');">
                        <img src="{{ 'lp-bor-ico.png' | asset_url }}" class="lp-bor-img">
                    </a>
                    <a href="/pages/bill-of-rights" class="cta-full-white" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Bill of Rights');"> View your Bill of Rights </a>
                </div>

                <div class="col-1-3 lp-cust" data-match-height="group-3">
                    <h5 data-match-height="heading">
                        <a href="/pages/customer-service" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Sound Experts Support');"> Sound Experts Support </a>
                    </h5>
                    <p data-match-height="group-p">
                        Our Sound Experts support team is available seven days a week to offer guidance on choosing the best subwoofer for your speakers, room layout, personal tastes and more. Reach them via chat, phone (877.626.5623), or email custservice@svsound.com with any AV related questions.
                    </p>
                    <a href="/pages/customer-service" data-match-height="group-a" style="display: block;" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Sound Experts Support');">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-gen-sound-experts-logo-white_6c224514-1277-42d8-9b9c-0d0fffe3a458.png?14285804381973373788" class="lp-cust-img">
                    </a>
                    <a href="/pages/customer-service" class="cta-full-white" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Sound Experts Support');"> Connect with Sound Experts </a>
                </div>

                <div class="col-1-3 lp-merlin" data-match-height="group-3">
                    <h5 data-match-height="heading">
                        <a href="/pages/speakers" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Compare');"> Find the Perfect Speaker with our Comparison Tool </a>
                    </h5>
                    <p data-match-height="group-p">
                        Compare all SVS speaker dimensions, specifications, finish options, and design characteristics on our speaker category page.
                    </p>
                    <a href="/pages/speakers" data-match-height="group-a" style="display: block;" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Compare');">
                        <img src="{{ 'compare-ico.png' | asset_url }}">
                    </a>
                    <a href="/pages/speakers" class="cta-full-white" onClick="ga('send', 'event', 'Speaker Package Landing Page', 'Click', 'Compare');"> Compare Speakers </a>
                </div>

            </div>
        </div>
    </section>

</div>
