<style>
.upsell__product {
	width: calc(25% - 14px);
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 28px;
}
.upsell__title {
	color: #386cb0;
    font-weight: 800;
    font-size: 18px;
    border-bottom: 3px solid #e5e5e5;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.upsell__description {
	font-size:12px;
}
.upsell__description p {
	
}
</style>
<section class="collection-display columns accessories-upsell-cart">
  <div class="wrap">
    <a href="/cart" class="upsell" onclick= "ga('send', 'event', 'Upsell', 'Click', 'Continue to Cart Link');">Continue to Cart</a>
    <div class="collection-display__headings">
      <h2 id="cart-item-name" class="collection-display__heading"></h2>
      <h3 class="collection-display__subheading">Has Been Added to Your Cart</h3>
      <p>You've taken the first step towards your new SVS <span id="product-copy-name"></span>! As you continue your order, we'll gather your shipping details, provide setup guides and answer any questions you may have in getting started.</p>
      <h4 class="collection-display__subheading">Accessories to complete your system:</h4>
    </div>
    
    <div class="upsell__container" style="padding-top: 42px;">
    

    
    <div class="collection-display__product" id="ubsf26">
            <div class="collection-display__product-copy">
              <div class="collection-display__product-info">
                <a href="/products/ultra-bookshelf-stand">
                  <h4>Mount Your SVS Bookshelf Loudspeaker</h4>
                  <div class="price">$149.99<span> EA</span></div>
                </a>
              </div>
              <div class="collection-display__product-description form">
                <p>Securely mount your SVS Bookshelf loudspeakers in style with a pair of these premium steel stands.</p>
              </div>
              <a class="collection-display__image" href="/products/ultra-bookshelf-stand"><img src="{{ all_products['ultra-bookshelf-stand'].featured_image.src | product_img_url: 'medium' }}" alt="Premium Bookshelf Speaker Stands by Sanus (UB-SF26)"></a>
              <a href="#" data-product-id="550" class="learn-more add-upsell">Add to Cart</a>
            </div>
        </div>
    
    
    <div class="collection-display__product" id="ucsfc18">
            <div class="collection-display__product-copy">
              <div class="collection-display__product-info">
                <a href="/products/ultra-center-stand">
                  <h4>Mount Your SVS Center Loudspeaker</h4>
                  <div class="price">$129.99<span> EA</span></div>
                </a>
              </div>
              <div class="collection-display__product-description form">
                <p>Securely mount your SVS Center loudspeaker in style with this premium steel stand.</p>
              </div>
              <a class="collection-display__image" href="/products/ultra-bookshelf-stand"><img src="{{ all_products['ultra-center-stand'].featured_image.src | product_img_url: 'medium' }}" alt="Premium Bookshelf Speaker Stands by Sanus (UB-SF26)"></a>
              <a href="#" data-product-id="550" class="learn-more add-upsell">Add to Cart</a>
            </div>
        </div>
    
    
    <div class="collection-display__product" id="efsatb">
            <div class="collection-display__product-copy">
              <div class="collection-display__product-info">
                <a href="/products/ultra-center-stand">
                  <h4>Mount Your SVS Satellite Loudspeaker</h4>
                  <div class="price">$134.99<span> EA</span></div>
                </a>
              </div>
              <div class="collection-display__product-description form">
                <p>Securely mount your SVS Satellite loudspeaker in style with this premium steel stand.</p>
              </div>
              <a class="collection-display__image" href="/products/prime-satellite-stand"><img src="{{ all_products['prime-satellite-stand'].featured_image.src | product_img_url: 'medium' }}" alt="Premium Bookshelf Speaker Stands by Sanus (UB-SF26)"></a>
              <a href="#" data-product-id="550" class="learn-more add-upsell">Add to Cart</a>
            </div>
        </div>
    
    <div id="rcaadaptor" class="svs_upsell">
 
    </div>
    
    <div id="sublink" class="svs_upsell">
 
    </div>
    
    <div id="soundpathisosystem" class="svs_upsell">
 
    </div>
    
    <div id="soundpathrca" class="svs_upsell">
 
    </div>
    
    <div id="soundpathterminal" class="svs_upsell">
 
    </div>
    
    <div id="soundpathultracable" class="svs_upsell">
 
    </div>
    
    <div id="soundpathonecable" class="svs_upsell">
 
    </div>
    
    <div id="soundpathwallbrack" class="svs_upsell">
 
    </div>
    
      
    </div>
    
<a href="/cart" class="learn-more bottom-btn" onclick= "ga('send', 'event', 'Upsell', 'Click', 'Continue to Cart Button');">Continue to Cart</a>

  </div>
</section>






