<style>
  h1 {
    padding-left:0px;
  }
  h3 {
    font-weight: 800;
    margin: 18px 0 5px;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 3px solid black;
    padding-bottom: 0;
    margin: 0 0 13px 0;
    letter-spacing: -.5px;
  }
  .collection-header h2 {
    font-size:45px !important
  }
  .gg-slash {
    text-decoration:line-through;
    color:red;
    font-size:22px !important;
    margin-right:5px
  }
  .gg-deal {
    font-size:22px !important;
  }
  .gg-title {
    color:#000;
    text-decoration:none;
    font-size:25px !important;
    font-weight:800;
  }
  .gg-image {
    max-width:250px !important;
  }
  .gg-p {
    margin-top:10px
  }
  .gg-titlelink {
    text-decoration:none !important;
  }
  #content {
    padding-top:0px !important;
  }
  @media (max-width: 850px) {
    .gg-bottom {
      margin-top:15px;
    }
  }
.learn-more {
    background: #366bb0;
    border: 3px solid transparent;
  max-width:51%;
}
.learn-more:hover {
    border: 3px solid #366bb0;
    color: #366bb0;
    text-decoration: none;
    background: transparent;
}
h5 a {
    font-weight: 800;
    font-size: 22px;
}
h6 a {
    font-weight: 800;
}
a:link h3, a:link h5, a:link h6 {
    color: black;
}
a:visited h3, a:visited h5, a:visited h6 {
    color: black;
}
a:hover {
    color: #366bb0;
    text-decoration: none;
}
.landing-page #content .full-column .acc-wrap img {
    max-width: 85%;
}
</style>
{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}
<section class="full-column first-section">
	<div class="wrap gift-guide-intro">
		<p>
          You asked for the top-selling SVS products in a fresh new finish and we listened! Now, you can bring home the thunderous power and jaw-dropping deep bass extension of the SB-2000 subwoofer, and expansive soundstage and pitch-perfect accuracy of the Ultra Bookshelf speaker in a stunning, Limited Edition White Gloss finish. Unleash massive SPLs with pinpoint control and accuracy that’s perfect for high-impact home theater fans, audiophiles and everyone between. The fresh finish may even open new placement opportunities that didn’t exist before just in time for the long, cold days of winter. But hustle, this limited run of White Gloss SB-2000 subwoofers and Ultra Bookshelf speakers won’t last long.
      </p>
	</div>
</section>

<section class="two-up">
	<div class="wrap">
        <div class="column">
			<a href="/products/sb-2000" onClick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'SB-2000 Image');">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/sb-2000_wg_lifestyle-1.jpg?17870960514836399261" alt="" class="">
			</a>
		</div>
		<div class="column">
            <a href="/products/sb-2000">
                <h3>SB-2000</h3>
                <h5 class="two-up__subheading"> So Fresh and So Clean, So Deep and So Powerful </h5>
            </a>
			<p>
              The SB-2000 is the most popular SVS subwoofer for its unbeatable combination of deep bass extension, room energizing power, lightning-fast transient speed and refined musicality.
			</p>
            <p class="sp-price"> $699.99 </p>
			<a href="/products/sb-2000" class="learn-more" onClick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Shop the SB-2000');"> Shop the SB-2000 </a>
		</div>

		<div class="grid-2 quote-wrap">
			<div class="col-3-4">
				<p class="quote-left">
					“It is mind blowing to hear the depth, power and quality of bass SVS delivers. Highly recommended, even if you were planning on spending much more.”
				</p>
			</div>
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/wsrorangefull.png?6806596199421669360" class="quote-logo-left">
			</div>
		</div>
	</div>
</section>

<section class="two-up white-bg" style="background: white;">
	<div class="wrap">

		<div class="column">
            <a href="/pages/ultra-bookshelf" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Ultra Bookshelf');">
                <h3>Ultra Bookshelf</h3>
      			<h5 class="two-up__subheading"> Reference Sound with Visual Flair </h5>
            </a>
			<p>
              A rare speaker that delivers effortless full-range sound and an expansive soundstage with pitch-perfect accuracy and pinpoint imaging, the Ultra Bookshelf speaker is a favorite among audiophiles and home theater fans.
			</p>
            <p class="sp-price"> $499.99 each</p>
			<a href="/products/ultra-bookshelf" class="learn-more" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Shop the Ultra Bookshelf Speakers');"> Shop the Ultra Bookshelf Speakers </a>
		</div>
        <div class="column">
			<a href="/products/ultra-bookshelf" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', '2000 Series');">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/ultra_bookshelf_wg_lifestyle-1_7f7544c0-1832-4505-9b86-62e69555abe4.jpg?9383213051183453636" alt="" class="float-right">
			</a>
		</div>

		<div class="grid-2 quote-wrap">
			<div class="col-3-4">
				<p class="quote-left">
				    "Dynamics of a custom theater system, neutrality and ambiance of an audiophile system. Certified and Recommended!"
				</p>
			</div>
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_s_v.png?17175144500194362079" class="quote-logo-left">
			</div>
		</div>
	</div>
</section>

<section class="full-column bg-lb">
	<div class="wrap acc-wrap">
		<!--<h5 class="heading-with-underline"> SVS SoundPath Stocking Stuffer Audio Accessories - Affordable Audiophile Gift Ideas </h5>-->
		<p class="text-fix-acc-gg">
			The Limited Edition White Gloss SB-2000 subwoofer and Ultra Bookshelf speakers join other award-winning SVS products available in White Gloss, so you can build a complete SVS home theater system for any room in the house.
		</p>
		<div class="grid-2">
			<div class="col-1-3">
				<a href="/products/prime-elevation" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Elevation Speakers - Title');"> <h6 data-match-height="sp-h"> Prime Elevation Speakers </h6> </a>
				<a href="/products/prime-elevation" class="img-a-wrap" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Elevation Speakers - Image');" data-match-height="ac-a">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/prime_elevation_ISO_wg.png?7861570380999818363">
				</a>
                <p class="sp-price"> $249.99 each</p>
				<a href="/products/prime-elevation" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Elevation Speakers - Shop Now');" class="learn-more">Shop Now</a>
			</div>
			<div class="col-1-3">
				<a href="/products/sb-1000" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'SB-1000 Subwoofer - Title');"><h6 data-match-height="sp-h"> SB-1000 Subwoofer </h6> </a>
				<a href="/products/sb-1000" class="img-a-wrap" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'SB-1000 Subwoofer - Image');" data-match-height="ac-a">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/SB-1000_WG_ISO_grille_2.png?15612360145933648548">
				</a>
                <p class="sp-price"> $599.99 </p>
				<a href="/products/sb-1000" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'SB-1000 Subwoofer - Shop Now');" class="learn-more">Shop Now</a>
			</div>
			<div class="col-1-3" >
				<a href="/products/prime-satellite" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Satellite Speakers - Title');"> <h6 data-match-height="sp-h"> Prime Satellite Speakers </h6> </a>
				<a href="/products/prime-satellite" class="img-a-wrap" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Satellite Speakers - Image');" data-match-height="ac-a">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/prime_satellite_wg_hero.png?895120708054969930">
				</a>
                <p class="sp-price"> $174.99 each</p>
				<a href="/products/prime-satellite" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Satellite Speakers - Shop Now');" class="learn-more">Shop Now</a>
			</div>
		</div>

	</div>
</section>

<section class="full-column">
	<div class="wrap acc-wrap">
        <div class="grid-2">
          <p style="margin-bottom:20px;text-align:left">
                Or save by choosing one of our preconfigured Prime Satellite speaker systems.  Upon hearing these compact powerhouses, HomeTheaterReview remarked, “The king is dead, long live the new King!” There are simply no better satellite speaker and subwoofer packages available.
              </p>
            <div class="col-1-2">
              
                <a href="/products/prime-satellite-2-1" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Satellite 2.1 System - Title');"><h6 data-match-height="sp-h"> Prime Satellite 2.1 System </h6> </a>
				<a href="/products/prime-satellite-2-1" class="img-a-wrap" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Satellite 2.1 System - Image');" data-match-height="ac-a">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/2.png?119211973334752807" data-match-height="ac-img-2" style="max-width: 300px;">
				</a>
                <p class="sp-price"> From $849.99 </p>
				<a href="/products/prime-satellite-2-1" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Satellite 2.1 System - Shop Now');" class="learn-more">Shop Now</a>
            </div>
            <div class="col-1-2">
                <a href="/products/prime-satellite-5-1" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Satellite 5.1 System - Title');"><h6 data-match-height="sp-h"> Prime Satellite 5.1 System </h6> </a>
				<a href="/products/prime-satellite-5-1" class="img-a-wrap" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Satellite 5.1 System - Image');" data-match-height="ac-a">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/sat5-1.png?185958662313342524" data-match-height="ac-img-2" style="max-width: 300px;">
				</a>
                <p class="sp-price"> From $1199.99 </p>
				<a href="/products/prime-satellite-5-1" onclick="ga('send', 'event', 'White Gloss Category Page', 'Click', 'Prime Satellite 5.1 System - Shop Now');" class="learn-more">Shop Now</a>
            </div>
        </div>
    </div>
</section>
