
{% if page.title contains 'Merlin' %}

	{% assign title = '' %}
{% else %}
	{% assign title = page.title %}
{% endif %}
<style>
  .addthis_sharing_toolbox {margin-bottom:15px}
  #at4-share {display:none !important}
  p {margin-bottom:14px; line-height:1.5;font-weight:400;font-size:16px}
  .seisimg {max-width:500px;float:left;margin-right:30px;margin-bottom:5px}
  @media only screen and (max-width: 870px) {
    .seisimg {float:none;max-width:100%;margin-bottom:20px}
  }
</style>
<section>
<div class="wrap">
 <!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
  <h1 style="font-size:24px;margin-bottom:30px">Texas Man Succumbs to Home Audio System</h1>
  <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/sub_wall_body1.1_1000.jpg?12336406532340081489" class="seisimg">
  <p><span style="font-weight:bold">Dallas, Texas - April 1, 2017 -</span> According to the local coroner’s office, George Walters, 34, was discovered dead in his home after police found him face down in front of his home audio system. Regina Mason, the deceased’s widow, told police her husband had planned to spend the afternoon at home listening to old CDs he pulled out of the attic the night before.</p>
  <p>Earlier in the day, Mark Hertz, a neighbor, called police to file a noise complaint and reporting, “Concert level music that’s shaking the pictures on my walls and scaring the cat.” When police arrived, they discovered Mr. Walters on the floor with a slight smirk and signs of compression all over his body. The coroner pronounced the death an accident and no further investigation is planned.</p>
  
</div>
</section>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5445bf84544be1bf"></script>


