<style>
  #listrak-error {
    color:red;
    text-align:center;
  }
  .listrak-form input {
    display:block;
    width:100%;
    padding:8px 0;
    text-indent: 2%;
  }
  .listrak-form #submit {
    display: block;
    max-width: 100%;
    margin: 5px 0 25px;
    color: #fff;
    font-size: 14px;
    background: #ff4500;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    padding: 16px 35px;
    border: 3px solid transparent;
    transition: all 0.1s ease-in;
    width: 100%;
    font-family: 'Open Sans', arial;
    cursor: pointer;
  }
  .listrak-form #submit:hover {
    border: 3px solid #ff4500;
    background: none;
    color: #ff4500;
    text-decoration: none;
  }
</style>
<section>
  <div class="wrap listrak-container">
    <form method="post"  action="https://customers.listrak.com/q/WkI-vcFVbNcBYFeQ9KQ9GBN09c-fKPCuqo" accept-charset="UTF-8" class="listrak-form" onsubmit="listrakSUBMIT(); return false;"  >
      <input type="hidden" name="crvs" value="Wn_yJB4d3_xJRiIQPcJO66Ph9MKFYCLkUOKQ6v2YxHZ7UNfp7fX3qk32Fnu0NaL1VAlX89earTiA-txfuoP7LA"/>
      <input id="listrak-fname" type="text" name="fname" size="40" maxlength="100" value="" placeholder="First Name"/>
      <input id="listrak-lname" type="text" name="lname" size="40" maxlength="100" value="" placeholder="Last Name"/>
      <input id="listrak-email" type="text" name="email" size="40" maxlength="100" value="" placeholder="Email Address"/>
      <!-- These next 3 fields are for system use, please do not remove -->
      <input type="text" name="NameF" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
      <input type="text" name="NameL" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
      <input type="text" name="Comment" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
      <input type="submit" id="submit" value="Sign Up" />
      <span id="listrak-error" style="display:none"></span>
    </form>
  </div>
</section>

<script>
  function ValidateEmail(email) {
    var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
    return expr.test(email);
  };
  function listrakSUBMIT() {
    if (!ValidateEmail($("#listrak-email").val())) {
      $("#listrak-error").html('Please enter a valid email address');
      $("#listrak-error").css("display","block");
      $("#listrak-email").focus();
    }
    else {
      /********** Begin Custom Code **********/
      _ltk.Subscriber.List = "blogsignup";
      _ltk.Subscriber.Email = $('#listrak-email').val();
      _ltk.Subscriber.Profile.Add("Source.Signup Location", "blog-sidebar");
      _ltk.Subscriber.Profile.Add("Contact Info.First Name", $('#listrak-fname').val());
      _ltk.Subscriber.Profile.Add("Contact Info.Last Name", $('#listrak-lname').val());
      _ltk.Subscriber.Submit();
      $(".listrak-container").html('<center>Thank You!<br> Your email address has been confirmed and you are now subscribed to the SVS newsletter.</center>');
      /********** End Custom Code **********/
    }
  };
  

</script>
