	<section>
		<div class="wrap">
			<h2><span>Canadian</span> FAQs</h2>
			<h3>Educational Articles</h3>
            <ul>
              <li><a href="http://svsound-2.myshopify.com/pages/faqs#">Prime Insights: A Conversation with SVS Speaker Designer, Smith Freeman</a></li>
              <li><a href="http://svsound-2.myshopify.com/pages/faqs#">Why Go Dual?</a></li>
              <li><a href="http://svsound-2.myshopify.com/pages/faqs#">Digital Bass Management</a></li>
              <li><a href="http://svsound-2.myshopify.com/pages/faqs#">Sealed VS Ported Subwoofers</a></li>
              <li><a href="http://svsound-2.myshopify.com/pages/faqs#">The Art of Subwoofer Placement</a></li>
              <li><a href="http://svsound-2.myshopify.com/pages/faqs#">The Art of Speaker Placement</a></li>
              <li><a href="http://svsound-2.myshopify.com/pages/faqs#">How to Care for Your Gloss Speaker or Subwoofer</a></li>
              <li><a href="http://svsound-2.myshopify.com/pages/faqs#">Introduction to Dolby Atmos</a></li>
              <li><a href="http://svsound-2.myshopify.com/pages/faqs#">How Does a Great Home Theater System Benefit the Gaming Experience</a></li>
              <li><a href="http://svsound-2.myshopify.com/pages/faqs#">Choosing the Best Subwoofer for Your Home Theater / Audio System</a></li>
              </ul>
			<h3>FAQs</h3>
			<p>We don’t call this page Frequently Asked Questions for nothing! Answers to the most popular and common questions asked by our customers are provided below. Not seeing what you need? Then <a data-remodal-target="contact__modal">ask our staff of Sound Experts</a> and we’ll get right back to you.</p>

			<h4>Ordering in Canada?</h4>

			<p>SVS now offers our products directly to Canadian customers.<br/>
			All policies for Canadian customers can be viewed here in the <a href="#">Canadian FAQ.</a></p>

			<h4>SVS Bill Of Rights</h4>
			<ul>
				<li><a href="#faq__bill-of-rights">What is the SVS Bill Of Rights?</a></li>
				<li><a href="#faq__bill-of-rights">Does the SVS Bill Of Rights apply to customers who purchase through international dealers?</a></li>
			</ul>

			<h4>Ordering With SVS</h4>

			<ul>
				<li><a href="#faq__ordering">What currency does SVS use for their online prices?</a></li>
				<li><a href="#faq__ordering">How can I place an order for an SVS product?</a></li>
				<li><a href="#faq__ordering">What credit cards does SVS accept?</a></li>
				<li><a href="#faq__ordering">Does SVS accept PayPal?</a></li>
				<li><a href="#faq__ordering">I can't pay with a credit card or PayPal - what other payment options does SVS accept?</a></li>
				<li><a href="#faq__ordering">I live outside of the USA - how can I purchase SVS products?</a></li>
				<li><a href="#faq__ordering">I live outside of the USA and there isn't an SVS dealer in my region - can I still purchase SVS products?</a></li>
				<li><a href="#faq__ordering">Can SVS configure my subwoofer for 220V electric service?</a></li>
			</ul>

			<h4>Shipping and Delivery Of Your SVS Order</h4>

			<ul>
				<li><a href="#faq__shipping">When Will My Order Ship?</a></li>
				<li><a href="#faq__shipping">Does SVS Charge For Shipping?</a></li>
				<li><a href="#faq__shipping">When Will My Order Arrive?</a></li>
				<li><a href="#faq__shipping">Do I Have To Be Present To Accept Delivery?</a></li>
				<li><a href="#faq__shipping">What SVS products ship freight?</a></li>
			</ul>

			<h4>Risk-Free 45-Day In-Home Audition</h4>

			<ul>
				<li><a href="#faq__audition">How does the SVS 45-day in-home audition work?</a></li>
				<li><a href="#faq__audition">Do I have to pay for a return?</a></li>
				<li><a href="#faq__audition">How do I arrange for a return?</a></li>
			</ul>

			<h4>Warranty On SVS Products</h4>

			<ul>
				<li><a href="#faq__warranty">Is my new SVS covered by a warranty?</a></li>
				<li><a href="#faq__warranty">How do I get my SVS product repaired?</a></li>
			</ul>

			<h4>Choosing The Right Subwoofer</h4>

			<ul>
				<li><a href="#faq__choosing-a-subwoofer">What's the best subwoofer for my application?</a></li>
				<li><a href="#faq__choosing-a-subwoofer">How does Merlin work?</a></li>
				<li><a href="#faq__choosing-a-subwoofer">I can't find my loudspeaker model in Merlin - how can I get it added to the database?</a></li>
				<li><a href="#faq__choosing-a-subwoofer">What are the differences between the ported cabinet and ported cylinder subwoofers?</a></li>
				<li><a href="#faq__choosing-a-subwoofer">What is the difference between your compact subwoofers and your larger ported subwoofers?</a></li>
				<li><a href="#faq__choosing-a-subwoofer">What are the benefits of dual subwoofers?</a></li>
				<li><a href="#faq__choosing-a-subwoofer">What is the variable tuning option on your Plus or Ultra vented subwoofers?</a></li>
			</ul>

			<h4>Subwoofer Connection and Placement</h4>

			<ul>
				<li><a href="#faq__subwoofer-connection">What cable do I need to connect my SVS subwoofer to the A/V receiver?</a></li>
				<li><a href="#faq__subwoofer-connection">My SVS subwoofer has two (2) line level inputs (Left and Right), but my A/V receiver only has one (1) subwoofer output jack.</a></li>
				<li><a href="#faq__subwoofer-connection">Do I need to use a Y-adapter and connect to both inputs on the SVS subwoofer?</a></li>
				<li><a href="#faq__subwoofer-connection">I just connected my SVS to the system and I can't get any sound from the subwoofer. Help!</a></li>
				<li><a href="#faq__subwoofer-connection">Does SVS offer a wireless solution for subwoofer connection?</a></li>
				<li><a href="#faq__subwoofer-connection">Where is the best location for my subwoofer?</a></li>
			</ul>

			<h4>Digital Bass Management</h4>

			<ul>
				<li><a href="#faq__digital-bass-management">I don’t fully understand the concept of digital bass management and the speaker/subwoofer menu settings in my A/V receiver are confusing. I ran auto-set-up and I’m not sure if my A/V receiver selected the best settings.</a></li>
				<li><a href="#faq__digital-bass-management">What is the best ‘size’ or ‘crossover frequency’ for my speakers?</a></li>
				<li><a href="#faq__digital-bass-management">I have large bass-capable tower speakers with multiple 8” or 10” woofers. What are the best AV receiver bass management settings for this type of speaker?</a></li>
			</ul>

			<h4>Subwoofer Frequency Response Measurements</h4>

			<ul>
				<li><a href="#faq__frequency-response-measurements">I want to measure the in-room frequency response of my subwoofer using my Radio Shack sound level meter as the microphone. I’ve read on the various AV forums that this sound level meter requires ‘correction factors’ before it can be used as a microphone – what does that mean?</a></li>
			</ul>

			<h4>SVS Loudspeakers</h4>

			<ul>
				<li><a href="#faq__loudspeakers">Does the SVS Ultra Tower require a subwoofer?</a></li>
				<li><a href="#faq__loudspeakers">What is the best placement location for the Ultra Tower or Ultra Bookshelf?</a></li>
				<li><a href="#faq__loudspeakers">How close to a corner should I place the Ultra Tower or Ultra Bookshelf?</a></li>
				<li><a href="#faq__loudspeakers">Should I use the port plugs on the Ultra Tower?</a></li>
				<li><a href="#faq__loudspeakers">Are acoustic room treatments a good idea?</a></li>
				<li><a href="#faq__loudspeakers">What are the three operating modes on the Ultra Surround?</a></li>
				<li><a href="#faq__loudspeakers">Do I need an external amplifier to power the SVS Ultra loudspeakers?</a></li>
			</ul>

			<h4>Caring For Piano Gloss Finishes</h4>

			<ul>
				<li><a href="#faq__piano-gloss-finishes">What is the best way to keep my SVS piano gloss speakers and subwoofers looking great?</a></li>
			</ul>

			<div id="faq__bill-of-rights">
				<h3>SVS Bill of Rights</h3>
				<a class="top-link" href="#">[back to top]</a>

				<p class="faq__question">What is the SVS Bill Of Rights?</p>

				<div class="faq__answer">
					<p>Buying online can feel like stepping into the great unknown - that's why we stand behind our products with a comprehensive set of policies that make it easy to try, safe to own, and great to be a customer. Visit our <a href="bill-of-rights.html">Bill Of Rights page</a> for all the details.</p>

					<p>The bottom line is that SVS promises you a great ownership experience, and guarantees your 100% satisfaction in our products and services!</p>
				</div>

				<p class="faq__question">Does the SVS Bill Of Rights apply to customers who purchase through international dealers?</p>
				
				<div class="faq__answer">
					<p>While many of our partners have adopted to the entire SVS Bill of Rights, our program applies only to USA sales made directly through SVS. International SVS dealers are independent businesses, and each has its own unique set of policies or Bill of Rights in any given area. Additionally, some international SVS dealer policies are affected by local/state/national consumer protection laws. <a href="us-dealers.html">Please check with your local dealer</a> for more information.</p>
				</div>
			</div>

			<div id="faq__ordering">
				<h3>Ordering With SVS</h3>
				<a class="top-link" href="#">[back to top]</a>

				<p class="faq__question">What currency does SVS use for their online prices?</p>

				<div class="faq__answer">
					<p>All prices on svsound.com are in US dollars (USD).</p>
				</div>

				<p class="faq__question">How can I place an order for an SVS product?</p>
				
				<div class="faq__answer">
					<p>Orders can be placed using our secure website and shopping cart. Or you can <a href="customer-service.html">place an order by telephone</a> with the help of an SVS product expert.</p>

					<p>If you are a new customer, a Shopping Cart account will be created for you, which allows safe, secure and convenient retention of your information for easy placement of future orders.</p>

					<p>Once your order is placed, you will receive an email order confirmation with all of the order details. If you don’t receive this email, it might be in your spam/junk mail folders, so check there first. If you still don’t receive your order confirmation, contact <a href="customer-service.html">SVS Customer Service</a> for assistance.</p>
				</div>

				<p class="faq__question">What credit cards does SVS accept?</p>

				<div class="faq__answer">
					<p>We accept Visa, Mastercard, Discover and American Express.</p>
				</div>

				<p class="faq__question">Does SVS accept PayPal?</p>

				<div class="faq__answer">
					<p>Yes, SVS allows payment with PayPal. SVS also supports PayPal’s Bill Me Later (which offers 6 months same as cash financing for any orders over $99). Bill Me Later options are available through your PayPal account. Refer to the <a href="https://www.securecheckout.billmelater.com/paycapture-content/fetch?hash=AU826TU8&content=/bmlweb/ppwpsiw.html">PayPal Bill Me Later website</a> for more details.</p>
				</div>

				<p class="faq__question">I can’t pay with a credit card or PayPal – what other payment options does SVS accept?</p>

				<div class="faq__answer">
					<p>SVS can also accept a wire transfer or a certified bank check. Please contact <a href="customer-service.html">SVS Customer Service</a> for the details on how to make a payment using these methods.</p>
				</div>

				<p class="faq__question">I live outside of the USA – how can I purchase SVS products?</p>

				<div class="faq__answer">
					<p>SVS audio products are sold worldwide through our local retail partners, who offer many of the same great promotions and support that you see on our US website. To find the authorized dealer near you, simply navigate to our <a href="international-sales.html">International Sales page and choose your country from the drop-down menu.</a></p>
				</div>

				<p class="faq__question">I live outside of the USA and there isn’t an SVS dealer in my region – can I still purchase SVS products?</p>

				<div class="faq__answer">
					<p>Yes! SVS can sell direct to you if there is no dealer in your region. We can ship your order free of charge to any location within the contiguous USA if you prefer to use a freight forwarder.</p>

					<p>We can also ship your order directly to you, and you would be responsible for shipping and import costs (duties, taxes, customs, etc.). Contact <a href="customer-service.html">SVS Customer Service</a> for a shipping quote to your location.</p>
				</div>

				<p class="faq__question">Can SVS configure my subwoofer for 220V electric service?</p>

				<div class="faq__answer">
					<p>Yes. If you are ordering a new subwoofer, please make this request at the time of ordering.</p>

					<p>SVS can also convert an existing amplifier from 110V to 220V (or from 220V to 110V) for a nominal fee. The conversion process also includes the correct fuse and voltage label. Just contact <a href="customer-service.html">SVS Customer Service</a> for details on how to arrange for the voltage conversion.</p>
				</div>

				<div id="faq__shipping">
					<h3>Shipping and Delivery Of Your SVS Order</h3>
					<a class="top-link" href="#">[back to top]</a>

					<p class="faq__question">When Will My Order Ship?</p>

					<div class="faq__answer">
						<p>SVS product orders usually ship within one business day after the order is placed. Once your order ships, you will receive a shipping confirmation email with a tracking number. If you don’t receive this email, be sure to check your spam/filtered email folder. If you still don’t receive your shipping confirmation, contact <a href="customer-service.html">SVS Customer Service</a> for tracking updates.</p>
					</div>

					<p class="faq__question">Does SVS Charge For Shipping?</p>

					<div class="faq__answer">
						<p>Shipping is free for any SVS product shipped within the continental USA (CONUS). For shipping outside of CONUS (e.g., AK, HI, etc.) please <a href="customer-service.html">contact SVS Customer Service</a> for a customized quote to your location.</p>
					</div>

					<p class="faq__question">When Will My Order Arrive?</p>

					<div class="faq__answer">
						<p>Shipping time depends on your location relative to our Ohio distribution facility, but typically will range from 2-5 business days.</p>
					</div>

					<p class="faq__question">Do I Have To Be Present To Accept Delivery?</p>

					<div class="faq__answer">
						<p>SVS orders are shipped ‘indirect signature required’ unless you specifically waive this at the time of the order. Indirect signature means any adult present at the residence can sign for the package.</p>

						<p>If no one is present when delivery is attempted, the shipper will attempt delivery up to two more times. After the first delivery attempt, you will also have the option to contact the shipper and arrange for alternate means of delivery (like pick-up at the distribution/holding facility).</p>

						<p>For palletized freight shipments of larger SVS products or orders, the freight company will contact you 24 hours in advance to schedule delivery the following day.</p>
					</div>

					<p class="faq__question">What SVS products ship freight?</p>

					<div class="faq__answer">
						<p>The PB12-Plus, PB13-Ultra and Ultra Tower are palletized and shipped via freight carrier to ensure maximum protection during transit. A large order with multiple SVS products may also be palletized and shipped freight.</p>

						<p>These SVS PB12-Plus and PB13-Ultra subwoofers are large and heavy, so a helper is recommended for moving the subwoofer indoors.</p>
					</div>
				</div>
			</div>

			<div id="faq__audition">
				<h3>Risk-Free 45-Day In-Home Audition</h3>
				<a class="top-link" href="#">[back to top]</a>

				<p class="faq__question">How does the SVS 45-day in-home audition work?</p>

				<div class="faq__answer">
					<p>SVS offers a 45-day, hassle free, in-home audition with every purchase, which is the longest of any major brand. This will give you plenty of time to fully evaluate your new SVS product in the comfort of your own home - to make sure it’s a perfect fit for your exact system, room and needs.</p>
					<p>If for any reason you would like to return your SVS product, please <a href="customer-service.html">contact SVS Customer Service</a> within the 45-day audition period to arrange for a hassle-free return. We’ll handle all of the paperwork, issue pre-paid return shipping labels and even arrange for pick-up in order to make the return easy and convenient, all at our cost.</p>
				</div>

				<p class="faq__question">Do I have to pay for a return?</p>

				<div class="faq__answer">
					<p>SVS will cover return shipping costs, so your SVS audition is 100% risk-free! All we ask is that the SVS product be returned in like-new condition, and in the original packaging to ensure safe transit.</p>
				</div>

				<p class="faq__question">How do I arrange for a return?</p>
				
				<div class="faq__answer">
					<p>If you need to return your SVS product, please <a href="customer-service.html">contact SVS Customer Service</a>. We will generate a Return Merchandise Authorization (RMA) form, and we’ll also generate a return shipping label. For ground shipments, you can either drop-off the SVS product at the shipping facility, or we can arrange for a pick-up at your home – whichever is more convenient. For palletized freight shipments, we’ll generate the required paper work and arrange for a pick-up at your home.</p>
				</div>

			</div>

			<div id="faq__warranty">
				<h3>Warranty On SVS Products</h3>
				<a class="top-link" href="#">[back to top]</a>

				<p class="faq__question">Is my new SVS covered by a warranty?</p>

				<div class="faq__answer">
					<p>All SVS products are covered by a 5-year unconditional warranty against defects in parts or workmanship. This is the strongest and most comprehensive warranty in the consumer electronics industry!</p>
				</div>

				<p class="faq__question">How do I get my SVS product repaired?</p>

				<div class="faq__answer">
					<p>Please <a href="customer-service">contact SVS Customer Service</a> to help you troubleshoot and isolate the cause of the problem. If we determine that any parts need to be replaced, this can be done easily by the customer in just a few minutes using normal hand tools. We provide all of the guidance and support needed to make sure the process goes smoothly in order to get your SVS back to optimal performance as soon as possible.</p>
				</div>

			</div>

			<div id="faq__choosing-a-subwoofer">
				<h3>Choosing The Right Subwoofer</h3>
				<a class="top-link" href="#">[back to top]</a>

				<p class="faq__question">What’s the best subwoofer for my application?</p>

				<div class="faq__answer">
					<p>It’s always best to contact our Sound Experts at <a href="customer-service">SVS Customer Service</a> to discuss your needs and requirements, so that SVS can recommend the best subwoofer for your particular system and application. Helpful information to have ready includes:</p>
					<ul>
						<li>The primary usage for the system (music, movies, gaming, HDTV, etc.)</li>
						<li>A description of your system, particularly the loudspeakers and A/V receiver or surround sound processor.</li>
						<li>Room size (including other contiguous/adjacent open spaces).</li>
						<li>Distance from the subwoofer to the listening position.</li>
						<li>The typical/desired playback level (low, moderate, loud). If the system will primarily be used for movies, the overall playback level and the desired level of slam/impact/pressure on bassy action scenes is particularly important.</li>
						<li>Any restrictions on overall size, weight, height, footprint.</li>
						<li>Décor, aesthetic or visual impact considerations (e.g., a mixed use living/family room might require less visual impact from the subwoofer than a dedicated home theater).</li>
					</ul>
				</div>

				<p class="faq__question">How does Merlin work?</p>

				<div class="faq__answer">
					<p><a href="#">Merlin</a> is our loudspeaker/subwoofer matching tool designed to take decades of audio experience and make finding the right subwoofer an easy process. SVS subwoofers are designed to be compatible with all brands and models of loudspeakers.</p>

					<p>Access the Merlin database and select your loudspeaker brand and model, and Merlin will offer a few subwoofer suggestions which will work well with your loudspeakers under a wide range of applications and room sizes.</p>

					<p>Merlin will also recommend the correct loudspeaker/subwoofer crossover setting in the A/V receiver for surround sound applications, and the correct subwoofer low pass filter setting for 2-channel applications.</p>

					<p>Merlin is a wonderful starting point for any enthusiast wondering what’s the best SVS subwoofer for their application and system, and of course you can always follow up with our <a href="customer-service">Sound Experts in Customer Service</a> to discuss your needs and requirements in even greater detail.</p>
				</div>

				<p class="faq__question">I can’t find my loudspeaker model in Merlin – how can I get it added to the database?</p>

				<div class="faq__answer">
					<p>The Merlin database has over 2000 loudspeaker and grows on virtually a daily basis! If you don’t find your brand or model loudspeaker in the Merlin database, simply click on the <a href="#">Don’t see your brand? Tell us!</a> hyperlink and complete the brief request form. We’ll add your loudspeaker to the Merlin database within 24 hours, and our Customer Service team will also send you a notification.</p>
				</div>

				<p class="faq__question">What are the differences between the ported cabinet and ported cylinder subwoofers?</p>

				<div class="faq__answer">
					<p>Within each family (i.e., NSD, Plus, Ultra) the ported cabinet and ported cylinder subwoofers offer the same overall level of performance. While taller, the ported cylinder models have a smaller footprint than their ported cabinet counterparts, and are a popular choice where floor space is limited, but there are no height restrictions.</p>
				</div>

				<p class="faq__question">What is the difference between your compact subwoofers and your larger ported subwoofers?</p>

				<div class="faq__answer">
					<p>The compact sealed subwoofers deliver excellent sound quality and balanced performance on music and movies while maintaining a smaller overall size/weight/footprint. The compact sealed subwoofers are an outstanding choice in listening environments which have more stringent décor or aesthetic considerations and require a lower visual impact from the subwoofer.</p>

					<p>The ported subwoofers generally deliver higher maximum output at the deepest frequencies due to the efficiency advantages offered by the larger enclosure volume and porting system. They are a great choice in larger listening environments where higher playback levels are typical, and greater levels of slam/impact/pressure are desired on bassy action scenes. The ported subwoofers are larger in overall size and have more visual impact than the compact subwoofers, so check the available space and décor considerations to ensure good compatibility.</p>
				</div>

				<p class="faq__question">What are the benefits of dual subwoofers?</p>

				<div class="faq__answer">
					<p>Dual subwoofers are a great option for the enthusiast who can accommodate two subwoofers in the listening area. The benefits of dual subwoofers include increased dynamic headroom and a smoother bass response at more listening locations in the room.</p>

					<p>Dual subwoofers are also harder to localize than a single subwoofer, which might be an important consideration for the enthusiast using very small speakers which require a high speaker/subwoofer crossover frequency.</p>

					<p>Finally, two smaller subwoofers can often fit better into a room than a single larger subwoofer in terms of available floor space and visual impact, while offering similar or better performance as the single larger subwoofer.</p>

					<p>For more information, refer to our tech article <a href="#">Why Go Dual?</a></p>
				</div>

				<p class="faq__question">What is the variable tuning option on your Plus and Ultra vented subwoofers?</p>

				<div class="faq__answer">
					<p>The variable tuning option allows the SVS owner to adjust how deep the subwoofer will play.

					<p>The standard/native operating mode is 20 Hz with all ports open. The 20 Hz mode provides the most muscular and powerful presentation over the most common bass frequencies, and will provide usable in-room extension to 17-18 Hz.</p>

					<p>If a single port is plugged and the amplifier Subwoofer Tune is adjusted to 16 Hz, the subwoofer will provide usable in-room extension to 13-14 Hz. There is a slight loss of maximum output capability over the more common bass ranges when the deeper 16 Hz mode is selected, but many enthusiasts find this trade-off well worth it for digging deep into the infrasonic region on DVDs and certain music tracks (like acoustic pipe organ).</p>

					<p>If all ports are plugged and the amplifier Subwoofer Tune is adjusted to Sealed, the subwoofer will start to roll-off around ~32 Hz and will have a broad/shallow roll-off profile. This shallower roll-off profile is often an excellent match to the acoustics of a smaller room which has a lot of ‘room gain’ (i.e., a rising low-end response), and Sealed mode in a smaller room can often exhibit usable in-room extension to 15 Hz or deeper!</p>

					<p>The bottom line is that the SVS variable tuning options offer the enthusiast the ultimate in tuning and deep extension flexibility to meet the needs of a wide variety of room sizes, playback levels and listening applications.</p>
				</div>

			</div>

			<div id="faq__subwoofer-connection">
				<h3>Subwoofer Connection and Placement</h3>
				<a class="top-link" href="#">[back to top]</a>

				<p class="faq__question">What cable do I need to connect my SVS subwoofer to the A/V receiver?</p>

				<div class="faq__answer">
					<p>A single RCA cable is needed to connect between the subwoofer output jack on the A/V receiver and the Left or Right line level input on the subwoofer.

					<p>SVS offers <a href="#">SoundPath audio interconnects</a> in various lengths, and these work great as a subwoofer cable, and also as a full-range interconnect for CD and DVD players and external amplifiers too.</p>

					<p>Make sure to account for horizontal and vertical distances and corners when estimating the length for your subwoofer cable – it’s always better to have a bit of extra than not quite enough.</p>
				</div>

				<p class="faq__question">My SVS subwoofer has two (2) line level inputs (Left and Right), but my A/V receiver only has one (1) subwoofer output jack. Do I need to use a Y-adapter and connect to both inputs on the SVS subwoofer?</p>

				<div class="faq__answer">
					<p>Since the Left and Right line level inputs are connected and summed internally, A Y adapter is not required, and you may connect the subwoofer cable to either the Left or Right line level input.</p>
				</div>

				<p class="faq__question">I just connected my SVS to the system and I can’t get any sound from the subwoofer. Help!</p>

				<div class="faq__answer">
					<p>No sound from the subwoofer could be the result of a few different things. Check the below first before contacting SVS Customer Service.</p>
					<ul>
						<li>Make sure the power cord is fully seated at both ends and that the AC outlet has power.</li>
						<li>Make sure the RCA cable is connected to the subwoofer output jack on the A/V receiver.</li>
						<li>Make sure the RCA cable is fully seated and connection to a line level Input on the subwoofer amp.</li>
						<li>The subwoofer hard power switch is set to On.</li>
						<li>You have held down the Feature Controller knob for several seconds on the Plus and Ultra subwoofers equipped with the 800W and 1000W Sledge platforms.</li>
						<li>You have the volume adjusted to approximately 12 o’clock on the SVS amps which have a rotary volume control.</li>
						<li>You have the Volume set between -15 and 0 dB (the loudest setting) on the Plus and Ultra subwoofers equipped with the 800W and 1000W Sledge platforms.</li>
						<li>You have run auto-set-up in the A/V receiver and the subwoofer is shown as on/yes in the set-up menu.</li>
					</ul>
					<p>If there is still no sound from the subwoofer, please contact <a href="customer-service.html">SVS Customer Service</a> for more in-depth troubleshooting and assistance.</p>
				</div>

				<p class="faq__question">Does SVS offer a wireless solution for subwoofer connection?</p>

				<div class="faq__answer">
					<p>Yes! Our Sub-Link 2.4 GHz wireless connection solution will provide a wireless connection between the A/V receiver and the subwoofer. It can even handle dual subwoofers if one transmitter and two receivers are used.</p>

					<p>Use of the wireless system will increase the subwoofer distance setting in the A/V receiver after auto-set-up is run and this is perfectly normal and expected.</p>
				</div>

				<p class="faq__question">Where is the best location to place my subwoofer in my room?</p>

				<div class="faq__answer">
					<p>Generally we recommend placing the subwoofer in the front of the room for best blending with the main speakers and center channel. Start with a corner (which excites all room modes), and only move away from the corner if the bass quality at the listening position it not optimal.</p>

					<p>If placement in the front room is not preferred or possible, then we recommend the ‘subwoofer crawl’ technique. Place the subwoofer at/near the main listening position, play a familiar soundtrack with a repeating bass line, and then evaluate the bass quality at each available subwoofer location in the room. Keep your head at/near knee level while listening. Then place the subwoofer in the location which provided the most accurate and balanced sounding bass.</p>
				</div>

			</div>

			<div id="faq__digital-bass-management">
				<h3>Digital Bass Management</h3>
				<a class="top-link" href="#">[back to top]</a>

				<p class="faq__question">I don’t fully understand the concept of digital bass management and the speaker/subwoofer menu settings in my A/V receiver are confusing. I ran auto-set-up and I’m not sure if my A/V receiver selected the best settings.</p>

				<div class="faq__answer">
					<p>Digital bass management can be a confusing subject! A 5.1 or 7.1 soundtrack has several discrete speaker channels, and also a Low Frequency Effects (aka LFE or ‘.1’) channel. The goal of digital bass management is to ensure that all of the bass present in the speaker channels and in the LFE channel is properly managed, so the speakers and subwoofer perform optimally. This generally requires directing the LFE channel to the subwoofer, and also redirecting the bass present in each speaker channel to the subwoofer.</p>

					<p>Our <a href="customer-service.html">Sound Experts at SVS Customer Service</a> can assist you with setting up your subwoofer and running auto-set-up in your A/V receiver. We’ll advise you on the best digital bass management settings for your particular speakers and subwoofer, so the entire system performs optimally and sounds great.</p>
				</div>

				<p class="faq__question">What is the best ‘size’ or ‘crossover frequency’ for my speakers?</p>

				<div class="faq__answer">
					<p>The speaker size setting in the A/V receiver can be confusing or misleading, because the speaker size settings are often labeled ‘Large’ or ‘Small’, and in reality these settings often have little to do with the actual physical size of the loudspeaker itself.</p>

					<p>A Large setting means that channel will receive a full-range (aka full-band) signal from the A/V receiver and none of the bass present in that channel will be redirected to the subwoofer. With the exception of certain bass-capable tower speakers (refer to the next FAQ below for details), a Large setting for a loudspeaker channel is not recommended since it might overload the speaker and damage the drivers, and it also can consume additional power from the A/V receiver amplifier, thus reducing dynamic headroom.</p>

					<p>A Small setting means the bass in that channel will be redirected to the subwoofer below the crossover frequency selected/specified for that channel in the A/V receiver. Again with the possible exception of certain bass-capable tower speakers, a Small setting is recommended since it removes the deep bass requirements from the loudspeaker, and frees up power in the A/V receiver amplifier, thus improving system dynamics.</p>

					<p>The best speaker/subwoofer crossover frequency for each speaker channel varies with the bass extension and output capabilities of the specific loudspeaker. Sometimes the auto-set-up system in the AV receiver will select a non-optimal crossover setting for a given loudspeaker channel. The below guideline will allow you to double-check the selected crossover frequency. If you are still unsure you can always contact the Sound Experts at SVS Customer Service for assistance. Our Merlin loudspeaker/subwoofer matching tool will also provide the recommended speaker/subwoofer crossover frequency for your model speaker.</p>

					<p>Typical Recommended Speaker/Subwoofer Crossover Settings:</p>

					<ul>
						<li>Very small or ‘satellite’ loudspeakers: 120-150 Hz.</li>
						<li>Small to mid-size center channels, surrounds and bookshelf loudspeakers: 80-100 Hz.</li>
						<li>Larger center channels, surrounds and bookshelf monitors: 60-80 Hz.</li>
						<li>Tower speakers with smaller (i.e., 4”-6”) woofers: 60 Hz.</li>
						<li>Tower speakers with larger (i.e., 8”-10”) woofers: 40 Hz or Large/Full-Band (refer to the below FAQ for more details on the best settings for bass-capable tower speakers).</li>
					</ul>
				</div>

				<p class="faq__question">I don’t fully understand the concept of digital bass management and the speaker/subwoofer menu settings in my A/V receiver are confusing. I ran auto-set-up and I’m not sure if my A/V receiver selected the best settings.</p>

				<div class="faq__answer">
					<p>I have large bass-capable tower speakers with multiple 8” or 10” woofers. What are the best AV receiver bass management settings for this type of speaker?</p>

					<p>If the A/V receiver can only assign one (1) global speaker/subwoofer crossover frequency for all speaker channels, then bass-capable tower speakers should always be set to Large (i.e., full-range / full-band). The LFE+Mains (aka Double Bass or Plus) subwoofer option should be avoided with this type of A/V receiver, as it will often result in too much overlap between the mains and the subwoofer.</p>

					<p>If the A/V receiver has the capability to assign an individual crossover frequency to each speaker channel, there are three (3) bass management options for bass-capable tower speakers:</p>

					<ul>
						<li>Option 1: Set the mains to Small (i.e., not full-range / full-band) with a 40 Hz speaker/subwoofer crossover. This will allow the tower to play quite deep and takes good advantage of its extension and output capabilities while routing only the deepest front channel bass to the subwoofer. This is an excellent choice for most floor standing speakers, many of which naturally roll-off below 40 Hz.</li>

						<li>Option 2: Set the mains to Large (i.e., full-range / full-band) and the subwoofer mode to LFE. This will send a full-range signal to the tower speakers and will not re-route any front-channel bass to the subwoofer. This option should only be used if the tower speakers are truly full-range with usable extension and output into the mid-low 20 Hz range.</li>

						<li>Option 3: Set the mains to Large (i.e., full-range / full-band), set the subwoofer mode to LFE+Mains, and set the mains 'crossover' (which in this case is actually a low pass filter) to 40 Hz. This bass management option will send a full-range signal to the tower speakers and will also send a duplicate front-channel signal to the subwoofer, but only &lt;40 Hz. This option can be an excellent choice if the tower speakers have usable extension and output into the mid-low 30 Hz range.</li>
					</ul>
				</div>
			</div>

			<div id="faq__frequency-response-measurements">
				<h3>Subwoofer Frequency Response Measurements</h3>
				<a class="top-link" href="#">[back to top]</a>

				<p class="faq__question">I want to measure the in-room frequency response of my subwoofer using my Radio Shack sound level meter as the microphone. I've read on the various AV forums that this sound level meter requires 'correction factors' before it can be used as a microphone - what does that mean?</p>

				<div class="faq__answer">
					<p>Most sound level meters (including the Radio Shack model) are equipped with two filter settings: A and C. These filters ‘weight’ or bias the response of the SPL meter when measuring sound pressure in various types of environments. For low frequency measurements in the home, the C setting should be used.</p>

					<p>Even though the C setting is appropriate for low frequency measurements, starting below about 80 Hz, the SPL reading displayed by the meter is lower than the actual SPL - and this error grows progressively larger at increasingly deeper frequencies. In order to obtain the most accurate data possible during your frequency response measurements, this error needs to be corrected – hence the term ‘correction factors’.</p>

					<p>For enthusiasts who want to manually measure the subwoofer frequency response using test tones, SVS offers a spreadsheet which contains the C-weighted correction factors. The reading from the sound level meter is input into the spreadsheet, and it automatically adds the appropriate correction factor for that test tone frequency. When all test tone SPLs have been entered, the spreadsheet automatically plots the subwoofer frequency response. For a free copy of this spreadsheet, please <a href="customer-service.html">contact SVS Customer Service</a>.</p>

					<p>For enthusiasts who are using a software program to measure the subwoofer frequency response, the correction factors need to be entered into the software as a microphone correction file. Some software programs such as Room EQ Wizard already contain a microphone correction file for C-weighted sound level meters.</p>

					<p>For software programs which do not contain a pre-loaded C-weighted microphone correction file, the C-weighted correction factors are provided below. Note, these are the theoretical correction factors for the C-weighted filter, but they cannot account for any additional error an individual sound level meter may exhibit due to reasons other than the C-weighted filter. These correction factors are presented in 1/12 octave resolution, which is generally sufficient for plotting the subwoofer frequency response. Note, a negative value means the sound level meter reads lower than actual at that frequency.</p>

					<table>
						<tr>
							<th>Frequency (Hz)</th>
							<th>C-Weighted Correction Factor (dB)</th>
						</tr>
						<tr>
							<td>10</td>
							<td>-14.3</td>
						</tr>
						<tr>
							<td>10.6</td>
							<td>-13.5</td>
						</tr>
						<tr>
							<td>11.2</td>
							<td>-13.5</td>
						</tr>
						<tr>
							<td>11.9</td>
							<td>-12.0</td>
						</tr>
						<tr>
							<td>12.6</td>
							<td>-11.2</td>
						</tr>
						<tr>
							<td>13.3</td>
							<td>-10.5</td>
						</tr>
						<tr>
							<td>14.1</td>
							<td>-9.8</td>
						</tr>
						<tr>
							<td>15.0</td>
							<td>-9.2</td>
						</tr>
						<tr>
							<td>15.9</td>
							<td>-8.5</td>
						</tr>
						<tr>
							<td>16.8</td>
							<td>-7.9</td>
						</tr>
						<tr>
							<td>17.8</td>
							<td>-7.3</td>
						</tr>
						<tr>
							<td>18.9</td>
							<td>-6.8</td>
						</tr>
						<tr>
							<td>20</td>
							<td>-6.2</td>
						</tr>
					</table>
					<table>
						<tr>
							<th>Frequency (Hz)</th>
							<th>C-Weighted Correction Factor (dB)</th>
						</tr>
						<tr>
							<td>10</td>
							<td>-14.3</td>
						</tr>
						<tr>
							<td>10.6</td>
							<td>-13.5</td>
						</tr>
						<tr>
							<td>11.2</td>
							<td>-13.5</td>
						</tr>
						<tr>
							<td>11.9</td>
							<td>-12.0</td>
						</tr>
						<tr>
							<td>12.6</td>
							<td>-11.2</td>
						</tr>
						<tr>
							<td>13.3</td>
							<td>-10.5</td>
						</tr>
						<tr>
							<td>14.1</td>
							<td>-9.8</td>
						</tr>
						<tr>
							<td>15.0</td>
							<td>-9.2</td>
						</tr>
						<tr>
							<td>15.9</td>
							<td>-8.5</td>
						</tr>
						<tr>
							<td>16.8</td>
							<td>-7.9</td>
						</tr>
						<tr>
							<td>17.8</td>
							<td>-7.3</td>
						</tr>
						<tr>
							<td>18.9</td>
							<td>-6.8</td>
						</tr>
						<tr>
							<td>20</td>
							<td>-6.2</td>
						</tr>
					</table>
					<table>
						<tr>
							<th>Frequency (Hz)</th>
							<th>C-Weighted Correction Factor (dB)</th>
						</tr>
						<tr>
							<td>10</td>
							<td>-14.3</td>
						</tr>
						<tr>
							<td>10.6</td>
							<td>-13.5</td>
						</tr>
						<tr>
							<td>11.2</td>
							<td>-13.5</td>
						</tr>
						<tr>
							<td>11.9</td>
							<td>-12.0</td>
						</tr>
						<tr>
							<td>12.6</td>
							<td>-11.2</td>
						</tr>
						<tr>
							<td>13.3</td>
							<td>-10.5</td>
						</tr>
						<tr>
							<td>14.1</td>
							<td>-9.8</td>
						</tr>
						<tr>
							<td>15.0</td>
							<td>-9.2</td>
						</tr>
						<tr>
							<td>15.9</td>
							<td>-8.5</td>
						</tr>
						<tr>
							<td>16.8</td>
							<td>-7.9</td>
						</tr>
						<tr>
							<td>17.8</td>
							<td>-7.3</td>
						</tr>
						<tr>
							<td>18.9</td>
							<td>-6.8</td>
						</tr>
						<tr>
							<td>20</td>
							<td>-6.2</td>
						</tr>
					</table>
				</div>

				<div id="faq__loudspeakers">
					<h3>SVS Loudspeakers</h3>
					<a class="top-link" href="#">[back to top]</a>

					<p class="faq__question">Does the SVS Ultra Tower require a subwoofer?</p>

					<div class="faq__answer">
						<p>The Ultra Tower is a true full-range loudspeaker with usable deep extension to 28 Hz. With the possible exception of acoustic pipe organ music (which can extend to 16 Hz), the Ultra Tower does not require a subwoofer for 2 channel source material.</p>

						<p>In home theater systems using the Ultra Tower, a subwoofer is still recommended to handle the redirected bass from the other speaker channels, and the LFE (.1) channel. Refer to the <a href="#faq__digital-bass-management">Digital Bass Management</a> section of our FAQ page for more details..</p>
					</div>

					<p class="faq__question">What is the best placement location for the Ultra Tower or Ultra Bookshelf Speakers?</p>

					<div class="faq__answer">
						<p>Proper placement of the front left/right speakers is essential to achieve the smoothest frequency response, optimal stereo imaging and the most spacious, three-dimensional soundstage.</p>

						<p>Stereo imaging and soundstage are affected by loudspeaker location and the listening position, relative to each other and room boundaries. Moving the loudspeakers away from room boundaries will tend to improve stereo imaging and spaciousness by attenuating and delaying boundary reflections, thus optimizing direct sound and helping to preserve spatial information in the recording.</p>

						<p>SVS recommends starting with the front loudspeakers located 30-degrees to the left and right (i.e., a 60-degree total window) of the listening position. Toeing-in the loudspeakers 5-10 degrees can often improve imaging, however this is also a function of the distance from nearby boundaries and the ratio of direct-to-reflected sound, so experimentation with toe-in is recommended to obtain optimal results.</p>
					</div>

					<p class="faq__question">How close to a corner should I place the Ultra Tower or Ultra Bookshelf Speakers?</p>

					<div class="faq__answer">
						<p>The location of the front loudspeakers relative to nearby boundaries will excite various room modes (a complex pattern of standing waves with associated peaks and nulls), which will affect the bass response of the loudspeakers. Generally, placing the loudspeakers closer to room boundaries (particularly corners) will increase the bass response. Conversely, moving the loudspeakers away from boundaries and corners will reduce the bass response. Due to the complex interaction of the loudspeakers with nearby boundaries/corners and your listening position, significant changes to the bass response can occur with very small changes in either loudspeaker location or listening position, so experimentation with both placement and listening position is recommended to obtain optimal results.</p>
					</div>

					<p class="faq__question">Should I use the included port plugs on the Ultra Tower?</p>

					<div class="faq__answer">
						<p>A smaller tightly-enclosed listening room with a high amount of 'room gain' (a naturally rising low-end response) may cause an excessively strong bass response from the <a href="#">Ultra Tower</a> model, regardless of its placement location in the room. If this occurs, insert the included foam port plugs into the port opening of each Ultra Tower. To obtain a good seal, insert the foam port plug slightly below flush of the port flare.</p>

						<p>Inserting the foam port plug creates a low-Q sealed acoustic alignment, and results in an earlier roll-off of the bass response. This will often be a better complement to the acoustics of a smaller tightly-enclosed listening environment, resulting in a more balanced and natural-sounding bass response.</p>
					</div>

					<p class="faq__question">Are acoustic room treatments a good idea?</p>

					<div class="faq__answer">
						<p>The amount of exposed glass, drywall and bare flooring in the room will increase the amount of reflected sound and exacerbate problems like slap echo and ringing. Conversely, furnishings like carpeting, drapes and upholstered furniture will reduce the amount of reflected sound in the room.</p>

						<p>The ratio of direct-to-reflected sound and the decay characteristics of the listening environment will have a large influence on the ultimate sound quality of any loudspeaker system. Dedicated room treatments like absorbers, diffusers and bass traps can greatly improve the sound quality of any listening environment, and are encouraged to extract the absolute best performance from any high-end loudspeaker system.</p>
					</div>

					<p class="faq__question">What are the three operating modes on the Ultra Surround?</p>

					<div class="faq__answer">
						<p>For the ultimate in flexibility, the <a href="#">Ultra Surround</a> can operate in three different surround sound modes:</p>

						<ul>
							<li>Duet mode - each set of drivers receives a discrete signal.</li>
							<li>Bipole - both sets of drivers in phase.</li>
							<li>Dipole mode - both sets of drivers out of phase.</li>
						</ul>

						<p>Duet mode is a unique configuration which allows a single Ultra Surround speaker to be used as two independent speakers. This means you can use just two (2) Ultra Surround speakers, and still have four (4) discrete side/rear surround channels for a true 7.1 surround setup. Duet mode is recommended for all home theater systems which have a 7.1 A/V receiver and use one (1) pair of surround speakers.</p>

						<p>In bipole mode, both sets of speakers are in phase, which provides a more localized and directional surround sound effect. Bipole mode is recommended for home theater systems which have a 7.1 A/V receiver and use separate side surround speakers and rear surround speakers.</p>

						<p>In dipole mode, both sets of speakers are out of phase, which provides a more diffuse and non-directional surround sound effect. Dipole mode is recommended for home theater systems which have a legacy 5.1 A/V receiver and use one (1) pair of surround speakers which are mounted directly to the sides of the listening position.</p>

						<p class="faq__question">Do I need an external amplifier to power the SVS Ultra loudspeakers?</p>

						<div class="faq__answer">
							<p>The <a href="#">SVS Ultra loudspeakers</a> have excellent sensitivity and are easy to drive with any quality A/V receiver. If the Ultra loudspeakers are being placed in a large listening environment and will be driven to high playback levels, and external amplifier will help avoid amplifier clipping and maintain optimal system dynamics..</p>
						</div>
					</div>
				</div>
			</div>

			<div id="faq__piano-gloss-finishes">
				<h3>Caring For Piano Gloss Finishes</h3>
				<a class="top-link" href="#">[back to top]</a>

				<p class="faq__question">What is the best way to keep my SVS piano gloss speakers and subwoofers looking great?</p>

				<div class="faq__answer">
					<p>Below are the best practices for piano gloss maintenance and care:</p>
					<ul>
						<li>Dry dust only with a microfiber duster.</li>
						<li>Never dry wipe the surface, as this will embed surface contaminants into the finish and cause micro-scratches and scuffs.</li>
						<li>If cleaning is required, use a microfiber duster first, and then follow with a lightly damp microfiber cloth. Wipe only in straight, long-strokes in one direction.</li>
						<li>Micro-scratches and scuffs may be gently removed (after dry dusting and damp wiping) with a high-end automotive polish which is rated as safe for clearcoats and is specifically designed to remove micro-scratches. Apply the polish gently, and avoid polishing on edges and corners.</li>
						<li>After polishing, apply an automotive finishing spray to help protect the finish, add shine and also provide anti-static properties to help repel dust.</li>
					</ul>
				</div>

			</div>

		</div>
	</section>