{% if page.title contains 'Merlin' %}

	{% assign title = '' %}
{% else %}
	{% assign title = page.title %}
{% endif %}
<style>
  .addthis_sharing_toolbox {margin-bottom:15px}
  #at4-share {display:none !important}
  p {margin-bottom:14px; line-height:1.5;font-weight:400;font-size:16px}
  .seisimg {max-width:300px;float:left;margin-right:30px;margin-bottom:5px}
  @media only screen and (max-width: 618px) {
    .seisimg {float:none;max-width:100%;margin-bottom:20px}
  }
</style>
<section>
<div class="wrap">
 <!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
  <h1 style="font-size:24px;margin-bottom:30px">California School of Seismology Uses SVS Subwoofers for Earthquake Simulation</h1>
  <img src="https://cdn.shopify.com/s/files/1/0921/3560/t/13/assets/fb_sb13_seismology.jpg?7745017736813577735" class="seisimg">
  <p><span style="font-weight:bold">San Francisco, CA - March 31, 2016 -</span> Replicating plate tectonics and other natural underground processes has always been a challenge for seismologists looking to predict the next big seismic event. This is especially true along major active fault lines like the San Andreas in California where minor tremblers occur regularly but major earthquakes are nearly impossible to predict.</p>
  <p>One laboratory based in California came up with a rather unique way of modeling fault conditions to better predict when major earthquakes will occur. Dr. Steven Bassman of the California School of Seismology calls his new technique low frequency inversion and claims it is improving the accuracy and efficiency of seismic processing algorithms, especially for application to regions of structural complexity.</p>
  <p>The sound waves emanating from a subwoofer are normally omnidirectional, meaning they can be heard and felt all around you. But when you harness and direct the total low-frequency energy by shrinking the space in which the sound waves can travel and controlling their direction with boundary effects, you get a very accurate representation of how a seismic wave travels through the ground.</p>
  <p>To run the tests, Dr. Bassman had to drive a significant amounts of low frequency energy into his seismic testing models and measurement software in order to produce reliable data. After searching unsuccessfully for an industrial solution, Dr. Bassman was introduced to the SVS PB13-Ultra Subwoofer, which has the capabilities to reach 16Hz, the frequency at which you can correctly start to synthesize a seismic wave.</p>
  <p>The PB13-Ultra has shown remarkable resiliency as a seismic wave simulator since we’ve had to run it continuously with dips of 12-14 Hz at 102+ decibels. This modeling allows us to design buildings and structures that are more resilient in the face of earthquakes, but more importantly, the data can help predict when the conditions are right for a major seismic event.</p>
  <p>Dr. Bassman believes his research will improve the accuracy of seismologist’s predictions and help people living near fault lines be better prepared for the inevitable. When asked what he uses to simulate the seismic waves, he remarked, “Mostly wave form generators, but every once in a while I’ll slip in some Metallica.” </p>
  
  
</div>
</section>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5445bf84544be1bf"></script>


