<section>
		<div class="wrap">
			<h1><span>SVS</span> Privacy Policy</h1>
			<p>At SVS, we know privacy is a hot topic but simply put, our belief is that your information should be treated like we would treat our own. That’s why we only ask you for what we absolutely need to know, only use it in the way you need us to, and never sell or share your private details to anyone else. When we do work with an outside service to measure our website or ship your order, we require that they follow the industry standards for privacy and encryption.</p>
			<p>If you have any questions on that or anything below, please, <a data-remodal-target="contact__modal">just ask.</a></p>

			<h3>What we collect:</h3>
			<ul>
				<li>When you join our newsletter or request information, we need your email address.</li>
				<li>When you ask us to contact you, we need your name, email and other contact details that you may provide at your discretion.</li>
				<li>When you register for an account or place an order, we need your billing and shipping contact details. Your credit card number is securely submitted over an encrypted, https connection to our processing partner and those details are never saved or stored by us.</li>
			</ul>
			<p>In addition, you may encounter a survey on our website or sent by email. These surveys are done for us to better understand you, your interests, how to improve our business, and are completely voluntary and anonymous in nature unless you elect to provide specific details.</p>
			<p>Finally, we collect general, non-personal information on how you used our website via our web analytics. This is anonymous to us and helps us improve our website experience for your next visit.</p>

			<h3>What our website cookies do:</h3>
			<p>When you visit our site, we place a temporary cookie on your computer. This lets us know it’s you visiting our site so we can log you back in when you return, determine your location for ordering and save what is in your shopping cart. Personal details like your name, email and contact information are never saved in our cookies.</p>

			<h3>Who we share information with:</h3>
			<p>SVS works with select services run by companies like Google, Facebook, Oracle, and other names you likely know. These companies help us operate our business and understand what’s going on to make it work as best as it can for you.</p>
			<p>The only time we share your personal information with these other companies is when it is part of a system that we have exclusive access to; like our newsletter, which is managed through a CAN-SPAM compliant partner who only uses it for sending our emails at our direction.</p>
			<p>The only time we will disclose your information to other parties is if required by law or if there is a violation of our terms of service.</p>

			<h3>Third party cookies:</h3>
			<p>Some of our partners will also place anonymous, advertising cookies on your computer so we can understand what you are interested in for use in showing you retargeted ads at a later time. These partners do not collect personal information and do not have access to your SVS customer record. You can remove yourself third party advertising collection by <a href="http://www.networkadvertising.org/choices/#completed">visiting this page.</a></p>

			<h3>Removing your information / stopping communication:</h3>
			<p>You can unsubscribe yourself from our marketing communications at any time by clicking the “opt out” link at the end of our email messages. This opt out excludes transactional messages like notices about when we ship a package as you’ll need those to inform you about your order.</p>
			<p>If you would like us to remove your contact / order information from our customer database at any time, simply <a data-remodal-target="contact__modal">contact our customer support</a> and we’ll get it handled.</p>
		</div>
	</section>