<style>
  h1 {
    font-family: "Open Sans", sans-serif, Helvetica, Arial !important;
    font-size: 36px !important;
    line-height: .875 !important;
    font-weight: 300 !important;
    letter-spacing: 0px !important;
    text-transform: uppercase !important;
    margin-top:0px !important;
  }
  p {
    font-size:16px !important;
  }
  
</style>
<section style="background-color:#000">
  <div class="wrap" style="padding:0px !important">
  <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/register.jpg?11222869120755239970" style="max-width:100%;width:100%; margin-bottom:-150px">
  </div>
</section>
<section style="padding-top:150px">
  <div class="wrap">
    <h1>SVS Product Registration</h1>
    <p style="padding-bottom:15px;border-bottom:solid thin #e5e5e5">Thank you for choosing SVS! Please take a moment to register your product to expedite service requests, guarantee warranty registration, ensure proof of purchase and to receive exclusive SVS news and updates.</p>
    <script type="text/javascript" src="https://form.jotform.com/jsform/62994344499171"></script>
  </div>
</section>
