<div class="lp-gen-2016-wrap">

	<section class="">
		<div class="wrap">
			<h1 class="headingUnderline"> Legendary subwoofers for all your music, movies, TV and gaming. </h1>
			<div class="series">
				<p>
					At SVS, we pride ourselves on making the world’s finest subwoofers. Engineered to produce effortlessly deep and powerful bass that’s also subtle and articulate, SVS subwoofers deliver the full sonic impact and emotion of all your music, movies, TV and
					video, at an unbeatable value.
				</p>
				<p>
					We also make it easy for you to research and audition subwoofers at home, because there’s no better way to demo a subwoofer than in your own system. Whether you’re looking for a compact subwoofer for a small room, a pair of subwoofers for a multi-channel
					home theater, or something else, SVS has a perfect solution.
				</p>

				<h5> Ready to start browsing? Here’s our most popular subwoofer lines: </h5>
				<p>
					All SVS subwoofers deliver unprecedented performance relative to their size and competition. You will simply not find better all-around performing subwoofers for anything close to the price.
				</p>
				<div class="grid-2">
					<div class="col-1-3 series">
						<h5> 1000 Series <span class="italic">from $499.99</span> </h5>
						<a href="/pages/subwoofers#1000-series" onClick="ga('send', 'event', 'Subwoofer Landing Page', 'Click', '1000 Series');"> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-gen-sb-1000.png?8001877664803299818"> </a>
						<p>
							The SVS 1000 Series changed the subwoofer game by bringing deep, palpable, room energizing bass to an all-time low price. The ultra-compact SB-1000 and deceptively powerful PB-1000 outperform subwoofers twice the size and are well-equipped to be the foundation
							of any music or home theater system.
						</p>
						<a href="/pages/subwoofers#1000-series" class="cta-full-blue" onClick="ga('send', 'event', 'Subwoofer Landing Page', 'Click', '1000 Series');"> Learn More </a>
					</div>

					<div class="col-1-3 series">
						<h5> 2000 Series <span class="italic">from $699.99</span> </h5>
						<a href="/pages/subwoofers#2000-series" onClick="ga('send', 'event', 'Subwoofer Landing Page', 'Click', '2000 Series');"> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-gen-sb-2000.png?8001877664803299818"> </a>
						<p>
							Featuring award-winning technology from the Ultra Series, the SVS SB-2000, PB-2000 and PC-2000 subwoofers are the best-selling SVS models for their rare combination of power, quickness, intelligent processing, and innovative driver design. This potent
							recipe is redefining expectations for subwoofers in every class.
						</p>
						<a href="/pages/subwoofers#2000-series" class="cta-full-blue" onClick="ga('send', 'event', 'Subwoofer Landing Page', 'Click', '2000 Series');"> Learn More </a>
					</div>

					<div class="col-1-3 series">
						<h5> Ultra Series <span>from $1599.99</span> </h5>
						<a href="/pages/subwoofers#ultra-series" onClick="ga('send', 'event', 'Subwoofer Landing Page', 'Click', 'Ultra Series');"> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-gen-sb13-ultra.png?8001877664803299818"> </a>
						<p>
							The pinnacle of SVS Subwoofer design, the PB13-Ultra, SB13-Ultra and PC13-Ultra are the gold standard for subwoofer performance at any price and are the most awarded and reviewed subwoofers in existence. The only way to understand the SVS Ultra Experience
							is to hear and feel it for yourself.
						</p>
						<a href="/pages/subwoofers#ultra-series" class="cta-full-blue" onClick="ga('send', 'event', 'Subwoofer Landing Page', 'Click', 'Ultra Series');"> Learn More </a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-grey">
		<div class="wrap">
			<div class="grid-2">
				<div class="quotes cf">
					<blockquote class="col-1-3">
						<p> “If there is a more perfect subwoofer in production today, we haven’t heard it.” </p>
						<p class="attribution"> DigitalTrends </p>
					</blockquote>

					<blockquote class="col-1-3">
						<p> “Bass response that I could literally feel in my sternum. It shook the house!” </p>
						<p class="attribution"> Sound&Vision </p>
					</blockquote>

					<blockquote class="col-1-3">
						<p> “This is everything I want in a home theater sub." </p>
						<p class="attribution"> About.com </p>
					</blockquote>
				</div>
			</div>

			<div class="grid-2">
				<div class="quotes cf">
					<blockquote class="col-1-3">
						<p> “Pitch perfect…on my list of recommended subwoofers.” </p>
						<p class="attribution"> Stereophile </p>
					</blockquote>

					<blockquote class="col-1-3">
						<p> “Astonished me with its depth and clarity…I’m not sure there’s a better value today in audio.” </p>
						<p class="attribution"> GoodSound </p>
					</blockquote>

					<blockquote class="col-1-3">
						<p> “A game changer for my home theater. There was an added weight and realism to the entire presentation that was just not there before.” </p>
						<p class="attribution"> AVRev </p>
					</blockquote>
				</div>
			</div>

		</div>
	</section>

	<section class="blue-section">
		<div class="wrap">
			<div class="grid-2 merlin-cust">
				<!-- <h3> Need help finding the best subwoofer? <br>Here’s some helpful resources. </h3> -->

				<div class="col-1-3 lp-merlin">
					<h5> <a href="/pages/merlin"> Merlin Subwoofer <span class="lb">Selection Tool</span> </a></h5>
					<p>
						Let Merlin suggest the perfect subwoofer for you! Just add your speaker brand and model and Merlin will provide recommendations for the perfect subwoofer and AV receiver settings.
					</p>
					<a href="/pages/merlin"> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-gen-merlin-logo-white.png?8001877664803299818"> </a>
					<a href="/pages/merlin" class="cta-full-white"> Find Your Subwoofer Match </a>
				</div>

				<div class="col-1-3">
					<h5> <a href="/pages/bill-of-rights"> 45 Day Risk-Free In-Home Trial, Fast & Free Shipping and Returns </a> </h5>
					<p>
						All part of your Customer Bill of Rights, along with other benefits that extend before and after you choose SVS.
					</p>
					<img src="{{ 'lp-bor-ico.png' | asset_url }}" class="lp-bor-img">
					<a href="/pages/bill-of-rights" class="cta-full-white"> View your Bill of Rights </a>
				</div>

				<div class="col-1-3 lp-cust">
					<h5> <a href="/pages/customer-service"> Sound Experts Support </a></h5>
					<p>
						Our Sound Experts support team is available seven days a week to offer guidance on choosing the best subwoofer for your speakers, room layout, personal tastes and more. Reach them via chat, phone (877.626.5623), or email <a href="mailto:custservice@svsound.com">custservice@svsound.com</a>						with any AV related questions.
					</p>
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-gen-sound-experts-logo-white_6c224514-1277-42d8-9b9c-0d0fffe3a458.png?14285804381973373788">
					<a href="/pages/customer-service" class="cta-full-white"> Connect with Sound Experts </a>
				</div>

			</div>
		</div>
	</section>

	<section>
		<div class="wrap">

			<div class="hero-section grid-2">
				<h1 class="headingUnderline"> The SVS Design Philosophy </h1>

				<p>
					We exhaustively engineer, measure and test every SVS subwoofer so you get a world-class bass experience at an unbeatable value.
				</p>

				<img src="{{ 'subwoofer-callouts.jpg' | asset_url }}" class="hero-image">

				<div class="col-1-4">
					<p>
						High grade ferrite magnet drivers with Finite Element Analysis (FEA) optimized motor structure and dual shorting rings to reduce gap induction and lower distortion.
					</p>
				</div>

				<div class="col-1-4">
					<p>
						Triumphantly powerful and efficient Sledge Class D amplifier for effortless bass output and unmatched fidelity.
					</p>
				</div>

				<div class="col-1-4">
					<p>
						High performance edge wound voice coils enable efficient heat dissipation, exceptional linearity and nearly zero power compression.
					</p>
				</div>

				<div class="col-1-4">
					<p>
						Powder-coated cast aluminum baskets provide unequaled levels of rigidity, tensile strength, and energy transference available from a subwoofer.
					</p>
				</div>

			</div>
		</div>
	</section>

	{% include 'news-ticker-subwoofers' %}


</div>
