{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

<section class="expert-comm">
  <div class="wrap">
    <p>Whether email, chat, phone, or social media works best for you, our Sound Experts are standing by to assist.</p>
    <center>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <a data-remodal-target="contact__modal"><i class="fa fa-envelope"></i></a>
          <a data-remodal-target="contact__modal"><span>Email us</span></a>
        </div>
        <div class="col-sm-4">
          <a href="#" onclick="OpenLHNChat(); return false"><i class="fa fa-comments-o"></i></a>
          <a href="#" onclick="OpenLHNChat(); return false"><span>Chat with us live</span></a>
        </div>
        <div class="col-sm-4">
          <a href="tel:+1-877-626-5623"><i class="fa fa-phone"></i></a>
          <a href="tel:+1-877-626-5623"><span>Call us: 1.877.626.5623</span></a>
        </div>
      </div>
      </div>
    </center>
    <p>Our Sound Experts are available 9AM-9PM Eastern Monday-Friday, 12PM-6PM Saturday, and 12PM-4PM Sunday<br><a href="/pages/faqs" style="color:#e05819 !important">Read our FAQs for answers to common questions.</a></p>
  </div>
</section>
{% include 'news-ticker-general' %}
<section>
    <div class="wrap padtopnone">

        <p> A unique benefit of owning an SVS product is the Sound Experts support that comes with it. It’s like having a professional audio and home theater specialist on call to help with any set-up, troubleshooting, and calibration needs for <strong><em>every</em></strong> component in your home theater or audio system, not just SVS and not just speakers and subwoofers, all for the life of your SVS gear! </p>
        <p> Our Sound Experts also deliver on the many promises we make to you in the SVS Customer Bill of Rights and work tirelessly to ensure a smooth process when you’re setting up returns, trading-up to something better or working through any order or technical issues. </p>
        <p> There’s no AV question too small and no home theater issue too big for our US-based team to handle. If you need help or advice on any of the topics below, or something else, we’re standing by to assist. </p>
	    
	    <ul>
          <li><i class="fa fa-angle-double-right"></i> Choosing the perfect speakers or subwoofer for your room and system </li>
			<li><i class="fa fa-angle-double-right"></i> Setting up a home theater receiver and optimizing it for your speakers and subwoofers </li>
			<li><i class="fa fa-angle-double-right"></i> Optimal audio settings for Blu-ray players, gaming consoles, streaming devices, etc </li>
			<li><i class="fa fa-angle-double-right"></i> Best placement for subwoofers and speakers in your room </li>
			<li><i class="fa fa-angle-double-right"></i> Proper subwoofer settings for your room, system and speakers </li>
			<li><i class="fa fa-angle-double-right"></i> Selecting the proper cables and terminations for a pristine connection </li>
			<li><i class="fa fa-angle-double-right"></i> Something doesn’t sound right, how do I fix it? </li>
			<li><i class="fa fa-angle-double-right"></i> I want to know more about the 45-day in-home audition </li>
			<li><i class="fa fa-angle-double-right"></i> I have a question about shipping or my order in general </li>
		</ul>

		<p> We see lots of comments online and often receive personal letters from customers praising our commitment to excellent service. It’s a real point of pride for the entire SVS team and something that will always be a part of our foundation. </p>
	</div>
</section>
<section class="bg-grey">
	<div class="wrap bg-grey">

		<h2><span>SVS Order Info and Policies </span></h2>

		<h3> Orders </h3>
		<p> Beyond the promise of exceptional products, SVS recognizes the need to ensure an all-around enjoyable purchasing experience. For your convenience, we accept all major credit cards as well as PayPal! Place your order today and immerse yourself in the SVS experience. </p>

		<h3> International Orders </h3>
		<p> SVS has authorized distributors across the globe to service the needs of our international customers. Please refer to our <a href="{{%20shop.url%20}}/pages/us-dealers">SVS Dealers page</a> to find the nearest SVS distributor. If you do not see a dealer in your region, <a data-remodal-target="contact__modal">contact our Sound Experts</a> for a shipping quote to your location. </p>

		<h3> Shipping Policies </h3>
		<p> SVS prides itself on shipping your product within 1 business day after receiving your order. Shipping time depends on your location relative to our distribution facility, but typically will range from 2-5 business days. </p>
		<p> When your order ships, we will email you a tracking number which will allow you to determine when your SVS product will be delivered. For shipping via UPS and FedEx, SVS requires a signature upon delivery, unless otherwise specified. For products shipped via freight, our carrier will contact the customer to schedule delivery, and the customer must be present to receive the shipment. </p>
		<p> If the outer packaging is obviously badly damaged, the customer may reject the shipment, and it will be returned to SVS for replacement. If hidden damage is encountered after opening the product, please document the damage with photos and immediately contact SVS to arrange for a return and replacement. If SVS is not contacted immediately after hidden shipping damage is encountered, we will not be responsible for replacing the product. </p>

		<h3> Returns & Exchanges </h3>
		<p> SVS offers a 45-Day Risk-Free In-Home Trial as well as Free Shipping & Free Returns. This gives you time to fully evaluate your new SVS product, to make sure it’s a perfect fit. If for any reason you would like to return your SVS product, please contact SVS Customer Service within the 45-day audition period to arrange for a hassle-free return. SVS will even cover return shipping costs. The SVS product must be returned in like-new condition and in the original packaging. Return credits are issued within 24 hours of the item being received and inspected. </p>
        
        <h3> Refund Method </h3>
		<p> Refunds are issued to the same credit card, debit card, gift certificate, or other form of payment used in the original transaction, and are processed within 24 hours of receipt and inspection. </p>
		
      <h3> Warranty </h3>
		<p> SVS has a 5-year bumper-to-bumper warranty, which is one of the longest and most comprehensive in the consumer electronics industry. Warranty exclusions include (but are not necessarily limited to) force majeure, acts of nature, AC power surges, and abuse. </p>
		<p> If you think your SVS might need repair, please <a data-remodal-target="contact__modal">contact our staff of Sound Experts</a> to help you troubleshoot and isolate the cause of the problem. If we determine that any parts need to be replaced, this can be done easily by the customer in just a few minutes using normal hand tools. We provide all of the guidance and support needed to make sure the process goes smoothly, so your SVS product is properly repaired. </p>

    </div>
</section>