

<style>
  .table {
    background-color:#fff;
  }

    .btn.cart-icon-btn {display:none}

</style>
<section>
  <div class="wrap">
    <a href="javascript:;" class="wkexitbutton" onclick="goBack()">Exit &amp; Keep Selections</a>
    <a href="javascript:;" class="wkexitbutton" onclick="goBackErase()" style="margin-right:20px">Exit &amp; Clear Selections</a>
<div id="wk_compare_listing" customer-id = "{{ customer.id }}" style="position:relative"> <img style="position:absolute;top:0;bottom:0;right:0;left:0;margin:auto" alt="Loading" src="https://sanjay.webkul.com/shopify-product-comparison/images/loader/loader.gif" class="wk_ajax_loader"> </div> 
    <a href="javascript:;" class="wkexitbutton" onclick="goBack()">Exit &amp; Keep Selections</a>
    <a href="javascript:;" class="wkexitbutton" onclick="goBackErase()" style="margin-right:20px">Exit &amp; Clear Selections</a>
  </div>
  <div id="bottom_anchor"></div>
</section>

<script>
  var checkExist = setInterval(function() {
    if ($('#wk_compare_listing .wrapper .table-responsive .table').length) {
      if ( $( ".cp-no-features" ).length ) {
        window.history.back();
      }
      if ( $( ".cp-span-add-product" ).length ) {
        $('.cp-span-add-product .btn').click(function () {window.history.back(); return false; });
      }
      clearInterval(checkExist);
    }
  }, 100); // check every 100ms
</script>