{% include 'landing_page--systems--header' %}


<section class="collection overview">
		<div class="wrap">
		


			<div class="overview-item">
				<a class="overview-item__link" href="#">
					<img class="overview-item__image" src="{{ 'collection-special.jpg' | asset_url }}" alt="">
					<h4>Outlet Specials</h4>
				</a>
				<div class="overview-item__description">
					<p>SVS outlet specials offer huge savings on like new factory reconditioned products. They are tested and certified by SVS experts and are 100% backed by the SVS Bill of Rights. Take advantage of the savings now, they may not be here tomorrow!</p>
				</div>
				<a href="/collections/outlet-specials" class="learn-more">Shop Now</a>
			</div>

			<div class="overview-item">
				<a class="overview-item__link" href="#">
					<img class="overview-item__image" src="{{ 'collection-special.jpg' | asset_url }}" alt="">
					<h4>SVS Gift Certificates</h4>
				</a>
				<div class="overview-item__description">
					<p>With our 45 Day Free Trial, Free Shipping and Free Returns, we make giving the gift of SVS to anyone on your list [or yourself!] completely risk-free.</p>
				</div>
				<a href="#" class="learn-more">Shop Now</a>
			</div>

			<div class="overview-item">
				<a class="overview-item__link" href="#">
					<img class="overview-item__image" src="{{ 'collection-special.jpg' | asset_url }}" alt="">
					<h4>45 Day In-Home Audition</h4>
				</a>
				<div class="overview-item__description">
					<p>The best place to audition any loudspeaker isn't in a noisy store; it's in your own home, in the exact listening room where you will enjoy them! As always SVS offers free shipping to you, but with the Ultra-speakers we'll even cover return shipping back to us if you aren't totally amazed.</p>
				</div>
				<a href="#" class="learn-more">Shop Now</a>
			</div>

			<div class="overview-item">
				<a class="overview-item__link" href="#">
					<img class="overview-item__image" src="{{ 'collection-special.jpg' | asset_url }}" alt="">
					<h4>Go Dual Subwoofers and Save!</h4>
				</a>
				<div class="overview-item__description">
					<p>Veteran enthusiasts and industry professionals agree - once you experience the multiple sonic benefits of dual subwoofers, you'll never want to go back! SVS has put together awesome savings to help make dual subwoofers an affordable upgrade.</p>
				</div>
				<a href="/collections/dual-subwoofers" class="learn-more">Shop Now</a>
			</div>



  </div>
</section>