<div class="prime-ultra-dif">
    {% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

    <section>
        <div class="wrap primary-wrap">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-12">
                        <p>
                           Our SVS Sound Experts are frequently asked about the differences between the Prime and Ultra Series speakers. We created this page to help you compare the two speaker lines so you can make the best decision possible when building your home theater or audio system.
                        </p>
                        <p>
                            Whether you choose SVS Prime, Ultra or a combination of both speaker lines, you’ll know you’re getting pinpoint accuracy, powerful dynamics, stirring clarity and all the thrills of a world class immersive audio experience, for an unmatched price.
                        </p>
                    </div>

                    <div class="col-md-12">
                        <h2> A few things to know about all SVS speakers: </h2>
                    </div>

                    <div class="col-md-12">
                        <h3> Mixing and Matching SVS Speakers </h3>
                        <p>
                            All <a href="/pages//speakers#prime-series">SVS Prime Series speakers</a> are timbre-matched to all <a href="/pages//speakers#ultra-series">Ultra Series speakers</a>. This means you can seamlessly mix any speakers between the two lines, with any <a href="pages/subwoofers">SVS subwoofers</a> to create your ideal 5.1, 7.2, 11.2.4 or any other home theater surround sound system.
                        </p>
                    </div>

                    <div class="col-md-12">
                        <h3> Design and Engineering </h3>
                        <p>
                            Regardless of price or form factor, all SVS speakers are crafted in the same painstaking manner. The approach brings together exacting science with a passionate expression of acoustic philosophy, and the love of pure, dynamically charged sound.
                        </p>
                        <p>
                            Before a model is ever built, drivers and cabinets are modeled using the most sophisticated computer-aided design (CAD) and Finite Element Analysis (FEA) tools and processes available.  Prototypes are constructed and rigorously measured and optimized in an anechoic chamber, free of reverberations, with various acoustic test and measurement systems to achieve pitch-perfect frequency response.
                        </p>
                        <p>
                            After the ideal theoretical frequency response is achieved, SVS goes through an exhaustive listening and measurement process in calibrated listening rooms designed to resemble typical home environments. Our engineers also bring every SVS prototype home and listen in their own personal systems and elsewhere. The goal is to hear the speakers in as many environments as possible with as much content as possible so they can be optimally tuned for the real world. Action movies, female vocalists, EDM music, rock concert Blu-rays, streaming radio, gaming consoles, we tune for everything in rooms of all shapes and sizes.
                        </p>
                        <p>
                            The result, loudspeakers that measure with near-perfect real-world frequency response, but that are also optimized to sound crisp, clear and bold with music and cinematic content, in a real world listening environment like your home.
                        </p>
                    </div>

                    <div class="col-md-12">
                        <h3> Value </h3>
                        <p>
                            Every speaker in the SVS Prime and Ultra Series lines deliver a truly high-end audio experience with all the sonic impact and transparency of much more expensive speakers. SVS speakers represent the pinnacle of high performance audio value.
                        </p>
                        <img src="{{ 'building-process.jpg' | asset_url }}">
                    </div>

                </div>
                <!-- Row -->
            </div>
        </div>
    </section>

    <section class="bg-grey">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <h2> Prime vs. Ultra Series Speakers: What are the key differences? </h2>
                    </div>

                    <div class="col-md-12">
                        <h3> Are the Ultra Series Speakers twice as good as the Prime since they cost twice as much? </h3>
                        <p>
                            An easy way to think about performance for the price is the Prime Series gets you the lion’s share of the Ultra Series performance, but costs half as much. In a way, it’s like Ultra for everybody else. In fact, many of the Prime Series’ features, like the front baffle chamfers, aluminum dome tweeter and SoundMatch crossover, come directly from the Ultra speakers. We infused as much of the Ultra Series into the Prime as possible to create speakers with unmatched sound quality and dynamics for the price.
                        </p>

                        <p>
                            For many, the extra performance from the Ultra Series can be game-changing, especially if you have a larger room or do serious critical listening. If that’s you, the Ultra speakers are more than worth the upgrade. Both lines outperform much more expensive speakers from other brands so it really comes down to your listening preferences, room, budget and other lifestyle factors when choosing the speakers that are best for you.
                        </p>
                    </div>

                    <!--<div class="col-md-12">
                        <h3> What are the physical differences between the Prime and Ultra Series Speakers? </h3>
                    </div>-->

                    <div class="col-md-12">
                        <img src="{{ 'ultra-prime-bs.png' | asset_url }}" class="inline-bookshelf">
                        <h4> What are the differences in cabinet design? </h4>
                        <p>
                            The Ultra Series features dual binding posts, versus the full range single binding posts on the Prime Series. Slight variations to the driver bezel also give the Ultra Series a more luxurious look. Both SVS Prime and Ultra lines blend seamlessly together visually with a high end industrial design.
                        </p>

                        <h4> What are the differences in dimensions? </h4>
                        <p>
                            Ultra Bookshelf, Tower, and Center speaker cabinets are all slightly larger than the Prime versions, which results in slightly better dynamic output for the Ultra speakers.
                        </p>

                        <!--<h4> Speaker Model Designs: </h4>
                        <p>
                            Both the <a href="/pages/speakers#prime-series">SVS Prime</a> and <a href="/pages/speakers#ultra-series">Ultra Series</a> are full speaker lines with all the loudspeakers needed to build an immersive home theater surround sound
                            system. The Prime Series consists of a <a href="/products/prime-tower">tower</a>, <a href="/products/prime-bookshelf">bookshelf</a>, <a href="/products/prime-center">center channel</a>, <a href="/products/prime-satellite">satellite</a>                            and the versatile, multi-purpose <a href="/products/prime-elevation">Prime Elevation</a> home theater speaker. The Ultra Series consists of a <a href="/products/ultra-tower">tower</a>, <a href="/products/ultra-bookshelf">bookshelf</a>,
                            <a href="/products/ultra-center">center channel</a> and <a href="/products/ultra-surround">surround</a> speaker model. All SVS speakers are voiced to match so you can build a system using both Prime and Ultra Series speakers.
                        </p>-->

                        <h4> What are the key differences between the Prime and Ultra Tower Speakers? </h4>
                        <p>
                            The biggest difference is the Ultra Tower speaker’s dual-opposing eight-inch woofers housed in a sealed sub-enclosure at the base of the speaker. The sweeping side panels of the Ultra Tower are also non-parallel so each of the 8-inch woofers fire in different directions to fill a room with deep, effortless and accurate bass. The Prime Tower has a sleeker cabinet design with dual, front-firing 6.5-inch woofers on the front baffle for deep and powerful low frequency playback. The Ultra Tower also has an additional mid-range driver.
                        </p>

                        <h4 style="clear: both;"> What are the speaker finish options? </h4>
                        <p>
                            All Ultra Series speakers are available in two finishes with no price difference, a stunning Piano Gloss Black finish and a handsome real wood Black Oak Veneer. The Ultra Bookshelf is also available in a stylish Piano White Gloss finish.
                        </p>
                        <p>
                            All Prime Series speakers are available in a premium Black Ash vinyl finish with a painted front baffle. As an upgrade, all Prime Speakers are available in a Piano Gloss Black finish. The Prime Satellite and Elevation are also available with a Piano Gloss White upgrade.
                        </p>

                        <p style="border-top: 1px solid rgba(0,0,0,0.2); margin-top: 10px; padding-top: 10px;">
                            Acoustic innovations and cost-no-object design elements applied through rigorous engineering are at the heart of all SVS Prime and Ultra speakers. Flawless, full-range performance, audiophile refinement, and massive cinema and concert level sound - world class audio experiences are now within everyone’s reach.
                        </p>
                    </div>

                </div><!-- Row -->
            </div>
        </div>
    </section>

    <section>
        <div class="wrap" style="padding-bottom: 1px;">
            <div class="grid-2">
                <h2>Prime Series Speakers</h2>
                {% for product in collections["prime-series"].products %} {% include 'product-loop-grid' with "prime-series" %} {% endfor %}
                <h2 style="clear:both; margin-top: 20px;">Ultra Series Speakers</h2>
                {% for product in collections["ultra-series"].products %} {% include 'product-loop-grid' with "ultra-series" %} {% endfor %}
            </div>
        </div>
    </section>

    <section>
        <div class="wrap">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12"> <h2>Helpful SVS Speaker Resources</h2> </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <ul>
                                <li> <a href="/blogs/svs/choosing-between-bookshelf-and-tower-speakers-1"> Choosing Between Bookshelf and Tower Speakers </a> </li>
                                <!--<li> <a href="/blogs/svs/7-reasons-why-home-theater-surround-sound-offers-a-better-audio-experience-than-a-soundbar"> 7 Reasons Why Home Theater Surround Sound is Better Than a Soundbar </a> </li>-->
                                <li> <a href="/pages/dolby-atmos-dts-x-auro-3d-speaker"> Getting Started with Dolby Atmos, DTS:X and Auro-3D </a> </li>
                                <li> <a href="/blogs/svs/best-uses-for-satellite-speakers"> Best Uses for Satellite Speakers </a> </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li> <a href="/blogs/svs/74790851-the-art-of-speaker-placement"> The Art of Speaker Placement </a> </li>
                                <li> <a href="/blogs/svs/what-are-the-best-speakers-for-turntables"> What are the Best Speakers for Turntables? </a> </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- Row -->

            </div> <!-- Container-Fluid -->
        </div> <!-- Wrap -->
    </section>

</div>
