{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<img src="{{ '2016-calendar.jpg' | asset_url }}" alt="Expertise + Passion">
		</div>

		<div class="column">
			<p>
				We know how important it is for you to be able to enjoy our products during the holidays. Whether you’re treating yourself or someone on your list, check out our holiday shipping calendar to make sure your order arrives in time for the festivities. Order as late as <strong>December 19th by 3:00PM (EST)</strong> for guaranteed Christmas delivery on most SVS favorites.
			</p>
			<p class="caption">* Larger size items (PB13-Ultra, PB12-Plus, Ultra Towers) may require more time to ship. Contact us for important cut-off information.</p>

			<h5 class="two-up__subheading">  NEED IDEAS? VISIT THE SVS HOLIDAY GIFT GUIDE </h3>
			<p> This holiday season, treat that movie loving friend, music obsessed family member, or your own deserving home with the gift of better sound from SVS. <a href="/pages/gift-guide">Visit our 2015 holiday gift guide</a> for suggestions at any budget! </p>
			<a href="/pages/2016-audio-gift-guide" class="learn-more"> Shop the SVS Holiday Gift Guide </a>
		</div>

	</div>
</section>