<div class="lp-gen-speakers-2016-wrap">
    <section class="">
        <div class="wrap">
            <h1 class="headingUnderline"> Speaker Mastery. </h1>
            <h2> The Perfect Fusion of Technology and Passion. </h2>
            <div class="series">
                <div class="grid-2">
                    <div class="col-1-2 series">
                        <h5> Prime Series Speakers <span class="italic">from $134.99</span> </h5>
                        <a href="/pages/speakers#prime-series" onClick="ga('send', 'event', 'Speaker Landing Page', 'Click', 'Prime Series');"> <img src="{{ 'lp-prime-series.jpg' | asset_url }}"> </a>
                        <p>
                            Truly immersive and high-end in every way, the SVS Prime Series borrow technology breakthroughs from the Ultra Series to set the benchmark for speaker performance value. The end result is world-class audio that’s more inclusive than ever before.
                        </p>
                        <a href="/pages/speakers#prime-series" class="cta-full-blue cta-align-1" onClick="ga('send', 'event', 'Speaker Landing Page', 'Click', 'Prime Series');"> Learn More </a>
                    </div>

                    <div class="col-1-2 series">
                        <h5> Ultra Series Speakers <span class="italic">from $499.99</span> </h5>
                        <a href="/pages/speakers#ultra-series" onClick="ga('send', 'event', 'Speaker Landing Page', 'Click', 'Ultra Series');"> <img src="{{ 'lp-ultra-series.jpg' | asset_url }}"> </a>
                        <p>
                            Every design aspect of the SVS Ultra Series Speakers was scrutinized to achieve cost-no-object audio performance and build quality. Delivering a wide, detailed soundstage with incredible resolution, absolute transparency, and amazingly rich and articulated
                            bass, the Ultra Series stands toe-to-toe with the best speakers in the world.
                        </p>
                        <a href="/pages/speakers#ultra-series" class="cta-full-blue" onClick="ga('send', 'event', 'Speaker Landing Page', 'Click', 'Ultra Series');"> Learn More </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

  	{% include 'news-ticker-speakers' %}


    <section class="blue-section">
        <div class="wrap">
            <div class="grid-2 merlin-cust">
                <!-- <h3> Need help finding the best subwoofer? <br>Here’s some helpful resources. </h3> -->
                <!--
                <div class="col-1-3 lp-merlin">
                    <h5> <a href="/pages/speakers"> Speaker Comparison Tool <span class="lb">Selection Tool</span> </a></h5>
                    <p>
                        Compare prices, dimensions, features, specifications and characteristics of all SVS speakers.
                    </p>
                    <a href="/pages/speakers">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-gen-merlin-logo-white.png?8001877664803299818">
                    </a>
                    <a href="/pages/speakers" class="cta-full-white"> Find Your Subwoofer Match </a>
                </div>
              -->

                <div class="col-1-2 lp-cust">
                    <h5> <a href="/pages/customer-service"> Sound Experts Support </a></h5>
                    <p>
                        Available seven days a week via chat, email and phone for the simplest or most complex AV related questions.
                    </p>
                    <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-gen-sound-experts-logo-white_6c224514-1277-42d8-9b9c-0d0fffe3a458.png?14285804381973373788" class="lp-cust-img">
                    <a href="/pages/customer-service" class="cta-full-white"> Connect with Sound Experts </a>
                </div>

                <div class="col-1-2">
                    <h5> <a href="/pages/bill-of-rights"> 45 Day Risk-Free In-Home Trial, Fast & Free Shipping and Returns </a> </h5>
                    <p>
                        Part of your SVS Customer Bill of Rights, along with other benefits that extend long before and after you choose SVS.
                    </p>
                    <img src="{{ 'lp-bor-ico.png' | asset_url }}" class="lp-bor-img">
                    <a href="/pages/bill-of-rights" class="cta-full-white"> View your Bill of Rights </a>
                </div>

            </div>
        </div>
    </section>

</div>
