<img src="{{ 'trade-up-header.jpg' | asset_url }}" class="header-image">
<section>
    <div class="wrap">
        <h1> 16-Ultra Subwoofer Trade-Up Program </h1>

        <p>
            As an SVS owner, you’ll never be left behind. If you purchased an SVS subwoofer recently, or not so recently, and are interested in trading up to the new 16-Ultra Series, we have you covered and will do everything possible to help you get the subwoofer of your dreams.
        </p>
        <p>
            SVS is rolling out a limited-time 16-Ultra trade-up program as a benefit to anyone who wants to own the world’s most powerful and sophisticated subwoofers.  This program runs for a limited time, so it’s best to act soon so we can get you taken care of right away, since there have already been many requests.
        </p>

        <h2> Guidelines </h2>
        <p>
            Your current SVS subwoofer needs to be in like-new condition with the original box and packaging.  We ask our customers to pay any freight charges associated with the return and new purchase.  The trade-in value of your current SVS subwoofer will be as follows:
        </p>
        <ul>
            <li> Only applies to subwoofers purchased directly from SVS.  Please contact our Sound Expert Customer Service to discuss subwoofers purchased elsewhere. </li>
            <li> Up to 1 year old = 100% of the original purchase price </li>
            <li> Up to 2 years old = 75% of the original purchase price </li>
            <li> Up to 3 years old = 60% of the original purchase price </li>
            <li> Older than 3 years = contact our Sound Expert Customer Service for trade-in value </li>
        </ul>

        <p>
          If you don’t have the original packaging or if your subwoofer has some minor cosmetic issues, we can still take care of you – just contact our <a href="https://www.svsound.com/pages/customer-service">Sound Expert Customer Service team</a> to discuss options.
        </p>
      <p>
      <strong>All SVS 16-Ultra Subwoofer Trade-in orders must be processed by calling our Sound Experts Customer Service team at 877.626.5623.</strong> Questions about the program can be directed to the number listed, emailed to <a href="mailto:custservice@svsound.com">custservice@svsound.com</a> or handled via <a href="#" onclick="OpenLHNChat(); return false">chat</a>: Monday-Friday: 9AM-9PM, Saturday: 12PM-6PM, and Sunday: 12PM-4PM Eastern Time.
      </p>
    </div>
</section>
