{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}
<style>
      /* the slides */
  .slick-slide {
    margin: 0 5px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -5px;
  }
  .blog-sidebar h4 {
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 3px solid #e5e5e5;
  }
  .blog-sidebar p {
    margin-bottom: 18px;
  }
  .blog-sidebar .blog-tags {
    margin-bottom: 23px;
  }
  .blog-sidebar .blog-tags a {
    color: #ff4500;
  }
  .blog-sidebar .blog-tags ul {
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 18px;
    padding-bottom: 18px;
  }
  .blog-sidebar .blog-tags ul li {
    display: inline-block;
  }
  .blog-sidebar .blog-tags ul li a {
    font-weight: 700;
    font-size: 14px;
  }
  .blog-sidebar .sidebar-promo {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 18px;
    padding-bottom: 18px;
  }
  .blog-sidebar .sidebar-promo:last-child {
    border: none;
  }
  .blog-sidebar .sidebar-promo h6 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
  }
  .blog-sidebar .sidebar-promo p {
    margin-bottom: 23px;
  }
  .blog-sidebar .sidebar-promo p a {
    color: #ff4500;
  }
  .blog-sidebar .sidebar-promo .learn-more {
    margin-bottom: 0;
  }
  .blog-sidebar .sidebar-promo .learn-more:hover {
    text-decoration: none;
  }
  .video-section h2 {
    font-size:36px;
    font-weight:900;
    border-bottom:solid 4px #000;
    padding-bottom:3px;
    margin-bottom:15px;
    line-height:36px;
  }
  .video-section p {
    font-size:16px;
    font-style:italic;
  }
  .slider {
    width: auto;
    margin: 30px 50px 50px;
  }
  .slick-track {
    margin:0 auto;
  }
  .slick-prev:before, 
  .slick-next:before {
    color: black;    
  }
  .slick-dots {
    bottom: -30px;
  }
  .slick-arrow {
    width:27px;
    height:27px;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin:1em 0 1.5em 0;
  }
  .video-section{
    margin-bottom:30px
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slider-product-nav {
    padding: 0 35px; 
    max-width:534px;
    margin:0 auto;
  }
  .slider-product-nav img {
    max-width:100%;
    margin: 0 auto;
    cursor:pointer;
  }
  .slider-product-nav .slick-slide {
    width:150px;
    opacity:.6;
    margin-left:5px;
    margin-right:5px
  }
  .slider-product-nav .slick-current {
    opacity:1
  }
  .slider-dealer-nav .slick-slide {
    opacity:.6;

  }
  .slider-dealer-nav .slick-list {
    width:85%;
    margin:0 auto
  }
  .slider-dealer-nav .slick-prev, .slider-product-nav .slick-prev {
    left:0px;
  }
  .slider-dealer-nav .slick-next, .slider-product-nav .slick-next {
    right:0px;
  }
  .slider-dealer-nav .slick-current {
    opacity:1
  }
  .slider-dealer-nav img {
    max-width:100%;
    cursor:pointer;
  }
  .slider-product-nav .slick-track {
    
  }
  .collection-header .wrap {
    padding:0px;
  }
</style>
<section>
  <div class="wrap">
    <p>Welcome to the SVS video page. Scroll down to watch product and technology overviews, helpful tutorials on AV topics, dealer event coverage and other audio-related fun.</p>
    <div class="container-fluid" style="padding:0px;margin-top:40px">
      <div class="row">
        <div class="col-md-9 col-sm-12 video-column">
          <div class="video-section product-wrapper">
            <h2>SVS Product and Sound Experts Videos</h2>
            <p>Technology and feature rundowns of SVS speakers, subwoofers, and home audio accessories as well as useful information and advice from the SVS Sound Experts on a range of topics related to home AV.</p>
          <div class="slider-product">
            <div class="item"><div class="youtube-player" data-id="riKponPDwP4"></div></div>
            <div class="item"><div class="youtube-player" data-id="_xZ5wbahIkA"></div></div>
            <div class="item"><div class="youtube-player" data-id="YqqqsXRtCs8"></div></div>
            <div class="item"><div class="youtube-player" data-id="0TdpCsgUFOk"></div></div>
            <div class="item"><div class="youtube-player" data-id="OXVpy5jaNsk"></div></div>
            <div class="item"><div class="youtube-player" data-id="phghkPEdrRo"></div></div>
          </div>
          <div class="slider-product-nav">
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_thumb_4000.jpg?11912135213426440381"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_5-Attributes.jpg?12317784493790935793"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_16-ultra.jpg?7642069504477711826"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_prime-elevation.jpg?11849332842545080847"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_why-go-dual.jpg?14043390469191452695"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_sealed-vs-ported.jpg?18213596016638622027"></div>
          </div>
          </div>
          
          
          <div class="row">
            <div class="col-sm-6">
              <div class="video-section funaudio-wrapper">
                <h2 data-match-height="vid-title">Fun with Audio</h2>
                <p data-match-height="vid-descrip">Acoustic experiments and sonic hijinks just for the fun of it.</p>
                <div class="youtube-player" data-id="29m7CXDv_OU"></div>
              </div>
          </div>
            <div class="col-sm-6">
              <div class="video-section dealerevents-wrapper">
                <h2 data-match-height="vid-title">SVS Dealer Events</h2>
                <p data-match-height="vid-descrip">On the road with SVS at earth-shaking dealer launch events around the country.</p>
              <div class="slider-dealer">
                <div class="item"><div class="video-container"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fbusiness.facebook.com%2FSVSound%2Fvideos%2F1335678673187434%2F&show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div></div>
                <div class="item"><div class="video-container"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fbusiness.facebook.com%2FSVSound%2Fvideos%2F1327333560688612%2F&show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div></div>
                <div class="item"><div class="video-container"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fbusiness.facebook.com%2FSVSound%2Fvideos%2F1313376475417654%2F&show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div></div>
                <div class="item"><div class="video-container"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fbusiness.facebook.com%2FSVSound%2Fvideos%2F1313357608752874%2F&show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div></div>
                <div class="item"><div class="video-container"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fbusiness.facebook.com%2FSVSound%2Fvideos%2F1305748642847104%2F&show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div></div>
                <div class="item"><div class="video-container"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fbusiness.facebook.com%2FSVSound%2Fvideos%2F1305715676183734%2F&show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div></div>
                <div class="item"><div class="video-container"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fbusiness.facebook.com%2FSVSound%2Fvideos%2F1239298812825421%2F&show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div></div>
                <div class="item"><div class="video-container"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fbusiness.facebook.com%2FSVSound%2Fvideos%2F1238329216255714%2F&show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div></div>
          </div>

          <div class="slider-dealer-nav">
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_dealer-1.jpg?7644952198583361605"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_dealer-2.jpg?3854175748769788193"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_dealer-3.jpg?14724041674821099511"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_dealer-4.jpg?5540510254344307213"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_dealer-5.jpg?5540510254344307213"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_dealer-6.jpg?5540510254344307213"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_dealer-7.jpg?5540510254344307213"></div>
            <div><img src="https://cdn.shopify.com/s/files/1/0921/3560/files/video_screenshot_dealer-8.jpg?5540510254344307213"></div>
          </div>

          </div>
            </div>
          </div>
        </div>
        {% include 'blog-sidebar_V2' %}
      </div>
    </div>
  </div>
</section>

<script>
$('.slider-dealer').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.slider-dealer-nav'
});
$('.slider-dealer-nav').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  asNavFor: '.slider-dealer',
  arrows: true,
  focusOnSelect: true
});
  
  $('.slider-product').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.slider-product-nav'
});
$('.slider-product-nav').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  asNavFor: '.slider-product',
  arrows: true,
  variableWidth: true,
  focusOnSelect: true,
  infinite: true,
  centerMode: false,
});
  
</script>

