{{ 'prime-wireless-teaser.css' | asset_url | stylesheet_tag }}
<div class="pwt-wrap">
    <section>
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="intro-header"> SVS Prime Wireless: Convincing & Immersive Sound Goes Wireless. </h1>
                        <p class="intro">
                            SVS Prime Wireless delivers an uncompromised wireless audio solution with amazing sound quality and stunning dynamics to thrill even the most discerning listeners. Before SVS, wireless speakers offered good sound relative to their compact size or lifestyle-oriented design, but they couldn’t deliver a truly immersive listening experience. With SVS Prime Wireless, you get convincing, “like-being-there” sound quality from a powered speaker and integrated amplifier designed for the modern audiophile. Add in sophisticated features and unmatched versatility and Prime Wireless is ready to take the audio world by storm.
                            <span> Prime Wireless will be available late spring or early summer 2018. </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-grey">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h1> Prime Wireless Speakers </h1>
                        <h2> High Fidelity Wireless Powered Speakers for the Modern Audiophile. </h2>
                    </div>

                    <div class="col-md-5">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/prime_wireless_lifestyle1-1jpg.jpg?16678127812570432600">
                        <p class="caption"> Final products may appear slightly different at launch. </p>
                    </div>
                    <div class="col-md-7">
                        <h3> Convincing, Immersive Sound in a Décor-Friendly Wireless Speaker. </h3>
                        <ul>
                            <li> True stereo separation for fully immersive, natural sounding music </li>
                            <li> Wireless high-resolution streaming of your favorite music services  </li>
                            <li> Six front panel presets for instant access to your music services or playlists </li>
                            <li> Access to your personal music libraries from any device </li>
                            <li> Works with Alexa for voice control of your music </li>
                        </ul>

                        <h3 class="mtop"> Audiophile Sound Quality. Amazing Versatility. </h3>
                        <ul>
                            <li> Precision 24bit/192kHz DAC for pristine sound quality  </li>
                            <li> 200-watt (50-watt x 4) amplifier for effortless power and stunning dynamics </li>
                            <li> DTS Play-Fi technology for a seamless wireless multi-room music experience </li>
                            <li> Convenient Bluetooth, Optical and Aux audio inputs </li>
                            <li> Subwoofer output for adding bass enhancement </li>
                            <li> Bluetooth with AAC and aptX </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-grey playfi-section">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 playfi-wrap">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/Group_14.png?29629172272836541" class="playfi-img">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/connect.png?16678127812570432600" class="playfi-img connect">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section  class="bg-grey">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h1> Prime Wireless SoundBase </h1>
                        <h2> Transform Any Speakers into a High-Resolution Wireless Audio System. </h2>
                    </div>

                    <div class="col-md-7">
                        <h3> Performance Driven SVS Design. Innovative Wireless Flexibility. </h3>
                        <ul>
                            <li> Wireless high-resolution streaming of your favorite music services with any speakers </li>
                            <li> High fidelity, high power 2-channel wireless power amplifier </li>
                            <li> Six front panel presets for instant access to your music services or playlists </li>
                            <li> Access to your personal music libraries from any device </li>
                            <li> Works with Alexa for voice control of your music </li>
                        </ul>

                        <h3 class="mtop"> Audiophile Sound Quality. Amazing Versatility. </h3>
                        <ul>
                            <li> Precision 24bit/192kHz DAC for pristine sound quality </li>
                            <li> 150-watt x 2 amplifier for driving any speakers to full potential </li>
                            <li> DTS Play-Fi technology for a seamless wireless multi-room music experience </li>
                            <li> Convenient Bluetooth, Optical and Aux audio inputs </li>
                            <li> Subwoofer output for adding bass enhancement </li>
                            <li> Line level outputs add Play-Fi streaming functionality to existing home theater and audio systems </li>
                            <li> Bluetooth with AAC and aptX </li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/prime_wireless_lifestyle10_modified-1-web.jpg?16678127812570432600" class="soundbase">
                        <p class="caption"> Final products may appear slightly different at launch. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-bot-none">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-12 quote-section">
                        <h1> The press is already buzzing about SVS Prime Wireless! </h1>

                        <div class="col-md-12 quote-main">
                            <p class="quote"> <span> Best Bluetooth Speakers of CES 2018. </span> </p>
                            <p class="attribution"> -High-Def Digest </p>
                        </div>
                        <div class="col-md-6 quote-wrap quote-one">
                            <p class="quote" data-match-height="quote-r1">
                                “<span>The Prime Wireless offer clear, bright, and peppy sound, with plenty of bass for their teensy size.</span> But if there’s not enough oomph for you, the speakers offer a subwoofer output. Also packed into the master speaker are all the inputs you’re likely to need. The new SVS Prime Wireless look <span>poised to make a big splash.</span>”
                            </p>
                            <p class="attribution"> -DigitalTrends </p>
                        </div>
                        <div class="col-md-6 quote-wrap quote-two">
                            <p class="quote"  data-match-height="quote-r1">
                                “This Play-Fi speaker affords all the versatility of the DTS platform. Streaming can have up to 24/192 resolution. Biamplification gives each driver in these two-way speakers 50 watts of juice. <span>There's Bluetooth, analog and digital ins, and a sub out and you can a stream from the six presets on the front panel. Nice.</span>”
                            </p>
                            <p class="attribution"> -Sound & Vision </p>
                        </div>
                        <div class="col-md-6 quote-wrap quote-three">
                            <p class="quote" data-match-height="quote-r2">
                                “I only listened in earnest to the stereo config, and it was really good. With <span>amazing clarity and imaging, Sonos will need to significantly up their game.</span>”
                            </p>
                            <p class="attribution"> -MissingRemote </p>
                        </div>
                        <div class="col-md-6 quote-wrap quote-four">
                            <p class="quote" data-match-height="quote-r2">
                                “I <span>was impressed with the Prime’s overall clarity and depth, not to mention soundstage</span>, and its pairing with the SB-1000 (SVS’s least expensive sealed subwoofer) was fantastic. I predict that enthusiasts and casual music fans will be VERY happy.”
                            </p>
                            <p class="attribution"> -AVNirvana </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="social-nl">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-12">
                        <p class="note">
                            SVS Prime Wireless will ship in late spring or early summer 2018.
                            <span> Receive our newsletter and follow us on social to be among the first to hear about SVS Prime Wireless. </span>
                        </p>
                    </div>

                    <div class="form-wrap col-sm-7">
                        <form method="post" target="wireless-signup" action="https://customers.listrak.com/q/MSnjcXVAtGXWOjmiG_iGoWLRGXjvK-S2B4" accept-charset="UTF-8" class="signup-form">
                            <input type="hidden" name="crvs" value="4U4UIsHuDkHnT4xKjVQRa60gNgAkaGT9cnmReGw6FXsLUyaOa2oWYrUpDHLjveXZEu-kh5x9LUH0LJdQeLZCqg"/>
                            <input type="text" name="email" size="40" maxlength="100" value=""/ placeholder="Email">
                            <!-- These next 3 fields are for system use, please do not remove -->
                            <input type="text" name="NameF" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
                            <input type="text" name="NameL" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
                            <input type="text" name="Comment" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
                            <input style="display:none"type="text" name="Source.Signup Location" maxlength="50" size="40" value=""/>
                            <input type="checkbox" name="CheckBox.Source.Prime Wireless" style="display:none"/><input type="hidden" name="CheckBox.Source.Prime Wireless" value="on"/>
                            <input type="submit" id="submit" value="Sign Up" onclick="$( '.signup-form' ).hide();$( '.signup-success' ).show();"/>
                        </form>
                        <div class="signup-success">
                          <p>Thank you for signing up!</p>
                        </div>
                        <iframe name="wireless-signup" class="signup-action" src=""></iframe>
                    </div>

                    <div class="social-wrap col-sm-5">
                        <a target="_blank" href="https://www.facebook.com/SVSound" onclick="ga('send', 'event', 'Footer', 'Click', 'Facebook');"><i class="fa fa-facebook-square"></i></a>
                        <a target="_blank" href="https://instagram.com/svs_sound/" onclick="ga('send', 'event', 'Footer', 'Click', 'Instagram');"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="https://twitter.com/SVS_SOUND" onclick="ga('send', 'event', 'Footer', 'Click', 'Twitter');"><i class="fa fa-twitter-square"></i></a>
                        <a target="_blank" href="https://www.pinterest.com/svsound/" onclick="ga('send', 'event', 'Footer', 'Click', 'Pinterest');"><i class="fa fa-pinterest-square"></i></a>
                        <a target="_blank" href="https://www.youtube.com/c/SVS_Sound" onclick="ga('send', 'event', 'Footer', 'Click', 'Youtube');"><i class="fa fa-youtube-square"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
